//宏鈞的
     
    .backend_body{
        background-color:#FEFDF2;
    }

    .backend_wrapper{
        width: 1200px;
        min-height: 950px;
        margin: 0 auto; 
    }

    .backend_top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;

    .backend_top_left{
        padding: 11px 0;
        font-weight: bold;
        
        input[type="radio"] {
            position: initial;
        }

        .backend_store_1{
             width: 25px;
        }
    
        .backend_store_2{
             width: 25px;
        }
       
        .backend_store_3{
             width: 25px;
        }

        .backend_photo_1{
             width: 25px;
        }
    
        .backend_photo_2{ 
             width: 25px;
        }
    }

        .backend_top_right{

         .backend_search_text{
            background-color: $lightgreen;
            border: 3px solid #FFE066;
            width: 300px;
            height: 38px; 
         }

         .backend_search_btn{
            position: absolute;
            right: 10px;
            top: 6px;
            cursor: pointer;
         }
    }
}


// -----------------------會員管理-----------------------

    // .backend_member{
    //     background-color: #E2D295;
    //     padding: 25px;  
    // }

        .backend_member_table{
            font-size: $fontSize_Title;
            font-weight: bold;
            width: 100%;
            text-align: center; 
        }

        tr{
            border: 1px solid gray;
        }

        th{
            background-color: #E2D295;
            padding: 29px;
        }

        td{ 
            padding: 25px; 
            border-bottom: 1px solid $green ;     
        } 
 
        .Edit_action{
            margin: auto;
            cursor: pointer;
        }
    

// -----------------------拍立得管理-----------------------

        // .backend_photo{
        //     background-color: #E2D295;
        //     padding: 25px;  
        // }

        .backend_photo_table{
            font-size: $fontSize_Title;
            font-weight: bold;
            width: 100%;
            text-align: center;
        }
        
        .delimg{
            margin: auto;
        }
//---------------------------會員管理彈窗-----------------------------


        .backend_member_popUps{

            display: none;
            position: absolute;
            top:  100px;
            left: 10px;

            @include block_center(); //區塊置中
            
            background-color: #fff;
          
            width: 400px;
            padding: 50px;
            @include shadow;
            @include border_r;
            @include btn_close(".btn_close");
             
            //h1
            .backend_Audit{
                text-align: center;
                margin-bottom: 30px;    
                font-weight: bold;
            }

            //h2
            .backend_status{
                font-size: $fontSize_SubTitle;
                margin: 20px 0;
            }

            .backend_member_block{
                display: flex;
                justify-content: space-between;
                margin: 20px 0;
                line-height: 2;
                
            .backend_subtitle{
                font-size: $fontSize_SubTitle;
                background-color: $lightgreen;
                font-weight: bold;
               }
            
            
            }
            .backend_line{
                width: 100%;
                border-top: solid 1px $green ;
                margin: 30px 0;
            }
            
            .backend_top{
                display: flex;
                justify-content: space-between;
                .backend_down{
                    padding-top: 16px;
                }
            }


             // 按扭區域
            input {
                &:focus {
                    outline: none;
                }
            }

            .btn,
            .backend_buttonArea{
                @include block_center();
                width: max-content;
            }
        }

//---------------------------商家管理彈窗-----------------------------

        // .backend_store_popUps{
        //     display: none;
        //     position: fixed;
        //     top:  150px;
        //     left: 10px;
        // }
        // .backend_store_popUps{
        //     display: none;
        //     position: fixed;
        //     top: 150px;
        //     left: 10px;

        //     @include block_center(); //區塊置中
            
        //     background-color: #fff;
        //     width: 1000px;
        //     padding: 0 40px 20px;
        //     @include shadow;
        //     @include border_r;
        //     @include btn_close(".btn_close");

        //      //h1
        //     .backend_Audit{
        //      text-align: center;
        //      padding: 20px 0;
        // }

        //     .backend_store_pho_Audit{
        //         display: flex;
        //         justify-content: space-between;
        //         margin: 20px 0;

        //         // 照片上傳
        //         .pho_Audit{
        //             width:300px;
        //             height:260px;
        //             background-color: lighten(#ccc, 15%) ;
        //             border: 1px solid $green;
        //             text-align: center;
        //             padding-top: 20%;
        //             @include btn('.btn_submit', $green, $tp);
        //         }
        //         .backend_subtitle{
        //             padding-bottom: 10px;
        //         }
        //         .Audit_img{
        //             width:300px;
        //             height:260px;
        //         }
        // }  

        //      .btn,
        //     .backend_buttonArea{
        //         @include block_center();
        //         width: max-content;
        //     }
        // }

//---------------------------留言管理彈窗-----------------------------

.backend_my_photo_popUps{

    display: none;
    position: absolute;
    top:  100px;
    left: 10px;

    @include block_center(); //區塊置中
    
    background-color: #fff;

    width: 400px;
    padding: 50px;
    @include shadow;
    @include border_r;
    @include btn_close(".btn_close");

        //h1
        .backend_Audit{
            text-align: center;
            margin-bottom: 30px;    
            font-weight: bold;
        }

        //h2
        .backend_status{
            font-size: $fontSize_SubTitle;
            margin: 20px 0;
        }

        .backend_pho_block{
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            line-height: 2;
            
        .backend_subtitle{
            font-size: $fontSize_SubTitle;
            background-color: $lightgreen;
            font-weight: bold;
        }
    }
        .backend_msg{
            width: 300px;
            height: 180px;
            background-color: #fbffe8;
        }

        .backend_line{
            width: 100%;
            border-top: solid 1px $green ;
            margin: 30px 0;
        }

        // 按扭區域

        input {
            &:focus {
                outline: none;
            }
        }
        
        .btn,
        .backend_buttonArea{
            @include block_center();
            width: max-content;
        }

    }

    #result{
        tr{
            &:nth-child(even):not(:first-child){
                background: #fff;
            }
        }
    }

    #photoL{
        tr{
            &:nth-child(even):not(:first-child){
                background: #fff;
            }
        }
    }