
.backendStoreWrapper{
  width: 1200px;
  min-height: 1130px;
  margin: 0 auto; 
}

.backendStore_pagination{
    &_ul{
        display: flex;
        justify-content: center; 
  }
}

.backend_store_table{
  font-size: $fontSize_Title;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.backend_store{
  &_list:nth-child(even) {
      background: #FFF;
  }
  &_list:nth-child(odd) {
      background: $lightgreen;
  }
  &_editForm{
    position: absolute;
    top: 25px;
    &_infoArea{
      display: flex;
    }
  }
  &_edit_form{
      width: 1200px;
      padding: 30px;
  }
  &_edit_table{
     width: 330px;
     .backend_store_td{
      padding: initial;
      padding-left: 10px;
      height: 50px;
      line-height: 50px;
      border: 1px solid $mrtGreen;
     }
  }
}

// 照片區域
.backend_store{
  &_imgArea{
      text-align: center;
      padding: 0 40px 20px;
      &_picEdit{
          position: relative;
          width: 250px;
          height: 250px;
          border: 1px solid $mrtGreen;
          margin-right: 10px;
      }
  }
  &_img{
    width: 250px;
    height: 250px;
  }
}
//  商家編輯區域
.storeBack_arrow{
  position: absolute;
  top: 33px;
  right: 10px;
}

.backendStore{
  &_h2{
    text-align: left;
  }
  &_li{
    padding-left: 10px;
    line-height: 36px;
    text-align: left;
  }
}

// 子選單
.backendStore_subMenu{
  display: flex;
  font-size: $fontSizeLink;
  &_li{
    margin-right: 20px;
    height: 30px;
  }
}

.backStoreOn{
  a{
    font-size: $fontSize;
    color: $mrtYellow;
    font-weight: bold;
}
}

.backendThisPage{
  color: $mrtYellow;
  a{
      color: $mrtYellow;
      font-weight: bold;
  }
}

