//Chris的
.develope_body{
    background: $bgc;
}

.develope_bg{
    
    width: 100%;
    height: 100%;
    z-index: -10;
}

.develope_bg2{
    
    width: 100%;
    height: 100%;
    z-index: -10;
}

.develope_bg3{
    
    width: 100%;
    height: 100%;
    z-index: -10;
}

.White_planet{
    position: absolute;
    width: 50%;
    top: 5%;
    left:25%;
    margin: 0 auto;
    z-index: 1;
}

.develope_form{
    position: absolute;
    top:38%;
    left: 45%;
    z-index: 10;
}

.develope_et1{
    position: absolute;
    width: 10%;
    top: 60%;
    left: 20%;
    z-index: 2;
}
.develope_et2{
    position: absolute;
    width: 10%;
    top: 70%;
    left: 30%;
    z-index: 2;
}

.develope_et3{
    position: absolute;
    width: 10%;
    top: 78%;
    left: 40%;
    z-index: 2;
}

.develope_et4{
    position: absolute;
    width: 10%;
    top: 78%;
    left: 51%;
    z-index: 2;
}

.develope_et5{
    position: absolute;
    width: 10%;
    top: 70%;
    left: 61%;
    z-index: 2;
}

.develope_et6{
    position: absolute;
    width: 10%;
    top: 60%;
    left: 71%;
    z-index: 2;
}

// --中間的外星人-----
.develope_et7{
    position: absolute;
    width: 8%;
    top: 38%;
    left: 35%;
    z-index: 2;
}

@media all and (min-width: 1200px) {
    .develope_bg{
        display: block;
        
    }
    .develope_bg2{
        display: none;
        
    }
    .develope_bg3{
        display: none;
       
    }
    .develope_blank{
        display: none;
    }
}

@media all and(max-width: 1199px) and (min-width: 992px) {
    .develope_bg{
        height: 100vh;
        display: block;
        
    }
    .develope_bg2{
        display: none;
        
    }
    .develope_bg3{
        display: none;
       
    }
    .develope_blank{
        display: none;
    }
}

@media all and(max-width: 991px) and (min-width: 768px) {
    .develope_bg{
        display: none;
    }
    .develope_bg2{
        height: 100vh;
        display: block;
    }
    .develope_bg3{
        display: none;
    }
    .develope_blank{
        display: none;
    }
}

@media all and(max-width: 767px) and (min-width: 576px) {
    .develope_bg{
        display: none;
        
    }
    .develope_bg2{
        height: 80vh;
        display: block;
        
    }
    .develope_bg3{
        display: none;
       
    }
}

@media all and (max-width: 575px) {
    .develope_bg{
       
        display: none;
        
    }
    .develope_bg2{
        
        display: none;
        
    }
    .develope_bg3{
        height: 70vh;
        display: block;
        margin: 0 auto;
       
    }
}

// ----------------------

@include rwd(desktop){
    .White_planet{
        width: 50%;
    }
}

@include rwd(desktopSmall){
    .White_planet{
        width: 658px;
        margin: 0% 0% 0% -6%;   
    }
    .develope_et7{
        width: 10%;
        left: 31%;
        top: 36%;
    }
    .etGroup{
        width: 60%;
    }
    .develope_form{
        position: absolute;
        top:36%;
        left: 42%;
        z-index: 10;
    }
}

@include rwd(pad){
    .White_planet{
        width: 658px;
        margin: 0% 0% 0% -10%;
    }
    .develope_et1{
        position: absolute;
        width: 10%;
        top: 53%;
        left: 10%;
        z-index: 2;
    }
    .develope_et2{
        position: absolute;
        width: 10%;
        top: 67%;
        left: 15%;
        z-index: 2;
    }
    
    .develope_et3{
        position: absolute;
        width: 10%;
        top: 79%;
        left: 23%;
        z-index: 2;
    }
    
    .develope_et4{
        position: absolute;
        width: 10%;
        top: 63%;
        left: 30%;
        z-index: 2;
    }
    
    .develope_et5{
        position: absolute;
        width: 10%;
        top: 75%;
        left: 40%;
        z-index: 2;
    }
    
    .develope_et6{
        position: absolute;
        width: 10%;
        top: 79%;
        left: 55%;
        z-index: 2;
    }
    .develope_et7{
        width: 10%;
        left: 30%;
        top: 36%;
    }
    .develope_form{
        position: absolute;
        top:33%;
        left: 42%;
        z-index: 10;
    }
}

@include rwd(largeMobile){
    .White_planet{
        width: 90%;
        margin: 0% 0% 50% 0%;
        left: 5%;
        top: 0%;
    }
    .develope_et1{
        position: absolute;
        width: 10%;
        top: 58%;
        left: 5%;
        z-index: 2;
    }
    .develope_et2{
        position: absolute;
        width: 10%;
        top: 70%;
        left: 15%;
        z-index: 2;
    }
    
    .develope_et3{
        position: absolute;
        width: 10%;
        top: 78%;
        left: 29%;
        z-index: 2;
    }
    
    .develope_et4{
        position: absolute;
        width: 10%;
        top: 58%;
        left: 25%;
        z-index: 2;
    }
    
    .develope_et5{
        position: absolute;
        width: 10%;
        top: 70%;
        left: 40%;
        z-index: 2;
    }
    
    .develope_et6{
        position: absolute;
        width: 12%;
        top: 76%;
        left: 51%;
        z-index: 2;
    }
    .develope_et7{
        width: 10%;
        left: 27%;
        top: 30%;
    }
    .develope_form{
        position: absolute;
        top:29%;
        left: 39%;
        z-index: 10;
    }
}    

@include rwd(mobile){
    .White_planet{
        width: 95%;
        margin: 0% 0% 0% 0%;
        top: 0%;
        left: 5%;
    }
    .develope_et1{
        position: absolute;
        width: 20%;
        top: 35%;
        left: 5%;
        z-index: 2;
    }
    .develope_et2{
        position: absolute;
        width: 20%;
        top: 50%;
        left: 50%;
        z-index: 2;
    }
    
    .develope_et3{
        position: absolute;
        width: 20%;
        top: 40%;
        left: 30%;
        z-index: 2;
    }
    
    .develope_et4{
        position: absolute;
        width: 20%;
        top: 60%;
        left: 15%;
        z-index: 2;
    }
    
    .develope_et5{
        position: absolute;
        width: 20%;
        top: 64%;
        left: 45%;
        z-index: 2;
    }
    
    .develope_et6{
        position: absolute;
        width: 20%;
        top:58%;
        left: 70%;
        z-index: 2;
    }
    .develope_et7{
        width: 15%;
        left: 22%;
        top: 19%;
    }
    .develope_form{
        position: absolute;
        top:15%;
        left: 42%;
        z-index: 10;
    }
}