
//Chris的
.develope_body{
    background: $bgc;
    // overflow: hidden;  //加這一行
}

.develope_wrapper{
    height: 90vh;  //加這一行
}

.develope_bg_container{   //新增一個div放背景圖
    width: 85%;        
    margin: 0 auto;
}

.develope_bg{
    width: 100%;
    height: 100%;
    z-index: -10;

}

.develope_bg2{
    width: 100%;
    height: 100%;
    z-index: -10;
}

.develope_bg3{
    width: 100%;
    height: 100%;
    z-index: -10;
}

.develope_et1{
    position: absolute;
    width: 6%;
    top: 62%;
    left: 27%;
    z-index: 2;
    cursor: pointer;  
}
.develope_et2{
    position: absolute;
    width: 6%;
    top: 70%;
    left: 35%;
    z-index: 2;
    cursor: pointer;
}

.develope_et3{
    position: absolute;
    width: 6%;
    top: 80%;
    left: 43%;
    z-index: 2;
    cursor: pointer;
}

.develope_et4{
    position: absolute;
    width: 6%;
    top: 80%;
    left: 52%;
    z-index: 2;
    cursor: pointer;
}

.develope_et5{
    position: absolute;
    width: 6%;
    top: 70%;
    left: 59%;
    z-index: 2;
    cursor: pointer;
}

.develope_et6{
    position: absolute;
    width: 6%;
    top: 62%;
    left: 67%;
    z-index: 2;
    cursor: pointer;
}

.White_planet{
    @include block_center();
    background-image: url('../img/chris/White_planet.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 10%;
    z-index: 1;
    // outline: 1px red solid;
}

//develope_form

.develope_form{
    @include block_center();
    width: 33%;
    position: absolute;
    top:35%;
    z-index: 10;
    text-align: center;
    // outline: 1px red solid;
    h1{
        font-size: 48px;   
        margin: 10px 0;
    }
    li{
        margin: 10px 0;
    }
}

.develope_form .btn_submit_develope{
    margin: -20px;
}

@media all and (min-width: 1200px) {
    .develope_bg{
        display: block;
        
    }
    .develope_bg2{
        display: none;
        
    }
    .develope_bg3{
        display: none;
       
    }
    .develope_blank{
        display: none;
    }
}

@media all and(max-width: 1199px) and (min-width: 992px) {
    .develope_bg{
        height: 100vh;
        display: block;
        
    }
    .develope_bg2{
        display: none;
        
    }
    .develope_bg3{
        display: none;
       
    }
    .develope_blank{
        display: none;
    }

}

@media all and(max-width: 991px) and (min-width: 768px) {
    .develope_bg{
        display: none;
    }
    .develope_bg2{
        height: 100vh;
        display: block;
    }
    .develope_bg3{
        display: none;
    }
    .develope_blank{
        display: none;
    }
}

@media all and(max-width: 767px) and (min-width: 576px) {
    .develope_bg{
        display: none;
    }
    .develope_bg2{
        height: 80vh;
        display: block;
    }
    .develope_bg3{
        display: none;
    }
}

@media all and (max-width: 575px) {
    .develope_bg{
        display: none;     
    }
    .develope_bg2{    
        display: none;
    }
    .develope_bg3{
        height: 70vh;
        display: block;
        margin: 0 auto;
    }
    
}

// ----------------------

@include rwd(desktop){
    // .White_planet{
    //     width: 50%;
    // }
}

@include rwd(desktopSmall){
    // .White_planet{
    //     width: 658px;
    //     margin: 0% 0% 0% -6%;   
    // }
    .develope_et7{
        width: 10%;
        left: 31%;
        top: 36%;
    }
    .etGroup{
        width: 60%;
    }
    
}

@include rwd(pad){
    // .White_planet{
    //     width: 658px;
    //     margin: 0% 0% 0% -10%;
    // }
    .develope_et1{
        position: absolute;
        width: 10%;
        top: 53%;
        left: 10%;
        z-index: 2;
    }
    .develope_et2{
        position: absolute;
        width: 10%;
        top: 67%;
        left: 15%;
        z-index: 2;
    }
    
    .develope_et3{
        position: absolute;
        width: 10%;
        top: 79%;
        left: 23%;
        z-index: 2;
    }
    
    .develope_et4{
        position: absolute;
        width: 10%;
        top: 65%;
        left: 25%;
        z-index: 2;
    }
    
    .develope_et5{
        position: absolute;
        width: 10%;
        top: 75%;
        left: 40%;
        z-index: 2;
    }
    
    .develope_et6{
        position: absolute;
        width: 10%;
        top: 79%;
        left: 55%;
        z-index: 2;
    }
    .develope_et7{
        width: 10%;
        left: 30%;
        top: 36%;
    }
}

@include rwd(largeMobile){
    // .White_planet{
    //     width: 90%;
    //     margin: 0% 0% 50% 0%;
    //     left: 5%;
    //     top: 0%;
    // }
    .develope_et1{
        position: absolute;
        width: 10%;
        top: 58%;
        left: 5%;
        z-index: 2;
    }
    .develope_et2{
        position: absolute;
        width: 10%;
        top: 70%;
        left: 15%;
        z-index: 2;
    }
    
    .develope_et3{
        position: absolute;
        width: 10%;
        top: 78%;
        left: 29%;
        z-index: 2;
    }
    
    .develope_et4{
        position: absolute;
        width: 10%;
        top: 83%;
        left: 10%;
        z-index: 2;
    }
    
    .develope_et5{
        position: absolute;
        width: 10%;
        top: 85%;
        left: 42%;
        z-index: 2;
    }
    
    .develope_et6{
        position: absolute;
        width: 11%;
        top: 86%;
        left: 56%;
        z-index: 2;
    }
    .develope_et7{
        width: 10%;
        left: 27%;
        top: 30%;
    }    
}    

@include rwd(mobile){
    // .White_planet{
    //     width: 95%;
    //     margin: 0% 0% 0% 0%;
    //     top: 0%;
    //     left: 5%;
    // }
    .develope_et1{
        position: absolute;
        width: 13%;
        top: 69%;
        left: 5%;
        z-index: 2;
    }
    .develope_et2{
        position: absolute;
        width: 13%;
        top: 87%;
        left: 45%;
        z-index: 2;
    }
    
    .develope_et3{
        position: absolute;
        width: 13%;
        top: 81%;
        left: 30%;
        z-index: 2;
    }
    
    .develope_et4{
        position: absolute;
        width: 13%;
        top: 76%;
        left: 17%;
        z-index: 2;
    }
    
    .develope_et5{
        position: absolute;
        width: 13%;
        top: 87%;
        left: 62%;
        z-index: 2;
    }
    
    .develope_et6{
        position: absolute;
        width: 13%;
        top:87%;
        left: 78%;
        z-index: 2;
    }
    .develope_et7{
        width: 15%;
        left: 22%;
        top: 19%;
    }
    .develope_wrapper{
        height: 80vh;  //加這一行
    }
    .develope_form{
        h1{
            font-size: 24px;   
            margin: initial;
        }
        h2{
            font-size: 10px;
        }
        li{
            font-size: 8px;
            margin: initial;
        }
    }
}