.develope_body{
    background: $bgc;
    // overflow: hidden; 
    .develope_bg{
        width: 100%;
        height: 100%;
        z-index: -10;
        @include rwd(desktop) {
            display: block;
        }
    
        @include rwd(desktopSmall) {
            height: 100vh;
            display: block;
        }
    
        @include rwd(pad) {
            display: none;
        }
    
        @include rwd(largeMobile) {
            display: none;
        }
    
        @include rwd(mobile) {
            display: none;
        }
    }
    
    .develope_bg2{
        width: 100%;
        height: 100%;
        z-index: -10;
        @include rwd(desktop) {
            display: none;
        }
    
        @include rwd(desktopSmall) {
            display: none;
        }
    
        @include rwd(pad) {
            height: 100vh;
            display: block;
        }
    
        @include rwd(largeMobile) {
            height: 80vh;
            display: block;
        }
    
        @include rwd(mobile) {
            display: none;
        }
    }
    
    .develope_bg3{
        width: 100%;
        height: 100%;
        z-index: -10;
        @include rwd(desktop) {
            display: none;
        }
    
        @include rwd(desktopSmall) {
            display: none;
        }
    
        @include rwd(pad) {
            display: none;
        }
    
        @include rwd(largeMobile) {
            display: none;
        }
    
        @include rwd(mobile) {
            height: 70vh;
            display: block;
            margin: 0 auto;
        }
    } 
}

.develope_wrapper{
    height: 90vh;  
    overflow: hidden;
    @include rwd(desktop) {
        height: 87vh;
    }

    @include rwd(desktopSmall) {
        height: 87vh;
    }

    @include rwd(pad) {
        height: 87vh;
    }

    @include rwd(largeMobile) {
        height: 79vh;  
    }

    @include rwd(mobile) {
        height: 74vh;  
    }
}





.White_planet{
    @include block_center();
    background-image: url('../img/chris/White_planet.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 90%;
    height: 70%;
    top: 10%;
    z-index: 1;
    animation: fadein 3s;
    @include rwd(pad) {
        width: 80%;
        top: 7%;
    }
}

.etGroup{
    .develope_et1{
        position: absolute;
        width: 6%;
        top: 62%;
        left: 27%;
        z-index: 2;
        cursor: pointer;
        @include rwd(desktop) {
            
        }

        @include rwd(desktopSmall) {
            width: 6%;
            top: 62%;
            left: 21%;
        }

        @include rwd(pad) {
            width: 8%;
            top: 62%;
            left: 21%;
        }

        @include rwd(largeMobile) {
            width: 8%;
            top: 62%;
            left: 21%;
        }

        @include rwd(mobile) {
            width: 8%;
            top: 61%;
            left: 21%;
        }
    }
    .develope_et2{
        position: absolute;
        width: 6%;
        top: 70%;
        left: 35%;
        z-index: 2;
        cursor: pointer;
        @include rwd(desktop) {
         
        }

        @include rwd(desktopSmall) {
            width: 6%;
            top: 68%;
            left: 30%;
        }

        @include rwd(pad) {
            width: 8%;
            top: 70%;
            left: 30%;
        }

        @include rwd(largeMobile) {
            width: 8%;
            top: 71%;
            left: 30%;
        }

        @include rwd(mobile) {
            width: 8%;
            top: 68%;
            left: 30%;
        }
    }
    
    .develope_et3{
        position: absolute;
        width: 6%;
        top: 80%;
        left: 43%;
        z-index: 2;
        cursor: pointer;
        @include rwd(desktop) {
          
        }

        @include rwd(desktopSmall) {
            width: 6%;
            top: 79%;
            left: 40%;
        }

        @include rwd(pad) {
            width: 8%;
            top: 79%;
            left: 40%;
        }

        @include rwd(largeMobile) {
            width: 8%;
            top: 80%;
            left: 40%;
        }

        @include rwd(mobile) {
            width: 8%;
            top: 73%;
            left: 40%;
        }
    }
    
    .develope_et4{
        position: absolute;
        width: 6%;
        top: 80%;
        left: 52%;
        z-index: 2;
        cursor: pointer;
        @include rwd(desktop) {
         
        }

        @include rwd(desktopSmall) {
            width: 6%;
            top: 79%;
            left: 53%;
        }

        @include rwd(pad) {
            width: 8%;
            top: 79%;
            left: 53%;
        }

        @include rwd(largeMobile) {
            width: 8%;
            top: 80%;
            left: 53%;
        }

        @include rwd(mobile) {
            width: 8%;
            top: 73%;
            left: 53%;
        }
    }
    
    .develope_et5{
        position: absolute;
        width: 6%;
        top: 70%;
        left: 59%;
        z-index: 2;
        cursor: pointer;
        @include rwd(desktop) {
          
        }

        @include rwd(desktopSmall) {
            width: 6%;
            top: 68%;
            left: 62%;
        }

        @include rwd(pad) {
            width: 8%;
            top: 70%;
            left: 62%;
        }

        @include rwd(largeMobile) {
            width: 8%;
            top: 71%;
            left: 62%;
        }

        @include rwd(mobile) {
            width: 8%;
            top: 68%;
            left: 62%;
        }
    }
    
    .develope_et6{
        position: absolute;
        width: 6%;
        top: 62%;
        left: 67%;
        z-index: 2;
        cursor: pointer;
        @include rwd(desktop) {
           
        }

        @include rwd(desktopSmall) {
            width: 6%;
            top: 62%;
            left: 71%;
        }

        @include rwd(pad) {
            width: 8%;
            top: 62%;
            left: 71%;
        }

        @include rwd(largeMobile) {
            width: 8%;
            top: 64%;
            left: 71%;
        }

        @include rwd(mobile) {
            width: 8%;
            top: 61%;
            left: 71%;
        }
    }
}

.develope_form{
    animation: fadein 5s;
    @include block_center();
    width: 33%;
    position: absolute;
    top:31%;
    z-index: 10;
    text-align: center;
    // outline: 1px red solid;
    @include rwd(desktop) {
           
    }

    @include rwd(desktopSmall) {
   
    }

    @include rwd(pad) {
        
    }

    @include rwd(largeMobile) {
        top: 26%;
    }

    @include rwd(mobile) {
      
    }
    h1{
        font-size: 48px;   
        margin: 10px 0;
        @include rwd(desktop) {
           
        }

        @include rwd(desktopSmall) {
          
        }

        @include rwd(pad) {
          
        }

        @include rwd(largeMobile) {
          font-size: 36px;
          margin: 5px;
        }

        @include rwd(mobile) {
            font-size: 24px;   
            margin: initial;
        }
    }
    h2{
        
        @include rwd(desktop) {
           
        }

        @include rwd(desktopSmall) {
          
        }

        @include rwd(pad) {
          
        }

        @include rwd(largeMobile) {
          
        }

        @include rwd(mobile) {
            font-size: 10px;
        }
    }
    li{
        margin: 10px 0;
        @include rwd(desktop) {
           
        }

        @include rwd(desktopSmall) {
          
        }

        @include rwd(pad) {
          
        }

        @include rwd(largeMobile) {
          
        }

        @include rwd(mobile) {
            font-size: 8px;
            margin: initial;
            margin: 5px 0;
        }
    }
    .btn_submit_develope{
        margin: -20px;
        @include rwd(desktop) {
           
        }

        @include rwd(desktopSmall) {
          
        }

        @include rwd(pad) {
          
        }

        @include rwd(largeMobile) {
          
        }

        @include rwd(mobile) {
            margin: -10px;
            width: 39%;
            line-height: 10px;
            font-size: 10px;
        }
    }    
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


