// 靜瑩的

body.index{
    background-color:$bgc;
}
.index_wrapper{
    position: relative;
    // overflow-x: hidden;
}
//----------map背景----------
.index_map{
    padding-top:5vw;
    // border: 1px solid;
    @include marginCenter();
    .map_slogan{
        width: 30vw;
        position: absolute;
        right:5vw;
        top:5vw;
    }
    .map{
        width: 48%;
          @include block_center();
    }
}
.et{
    width:15vw;
    position: absolute;
    bottom:20vw;
    right:5vw;
    transform: rotate(-30deg);
}
//----------map背景end----------
//----------搜尋按鈕----------
.index_searchbtn{
    position:fixed;
    right:10vw;
    bottom:10vw;
    z-index: 98;
    display: flex;    
    li{ 
        // @include shadow();
        box-shadow:  -12px 10px 10px #D6D5AE;
        margin-left:3vw;
        width:8vw;
        height:8vw;
        background-color:$yellow;
        border-radius: 50%;
        img{
            margin-top:1.5vw;
            @include block_center();
            width: 5vw;
            height:5vw;          
        }
        p{
            text-align: center;
            padding-top:2vw ;
            font-weight: bold;
        }
    }
}
@mixin search_btn_hover{
    transform: translateY(-30px);
    background-color: $mrtBrown;
    transition: all 0.3s;
}
.search_btn_whatToEat:hover{
    @include search_btn_hover;
}
.search_btn_Search:hover{
    @include search_btn_hover;
}
//----------搜尋按鈕end----------
//----------whatToEat彈窗----------
.index_whatToEat_popup{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    h1{
        color: $yellow;
    }
    input{
        border-radius: 5px;
        margin-top:30px;
    }
    .whatToEat_q{
        background-color: white;
      
        .whatToEat_q_arrow{
            position: absolute;
            right:60px;
            top:170px;
        }
        .whatToEat_q_arrow.on{
            transform: rotate(180deg);
        }
        .select_options.on{
            display: block;
        }
        .select_options{
            margin-top: -20px;   
            border: 2px solid $lightgreen;
            display: none;
            li{
                padding-left: 10px;
                line-height:36px;
            }
            li:hover{
                background-color: $lightgreen;
            }
            //  mrt color
            .b{
                color:$mrtBlue;
            }
            .r{
                color:$mrtRed;
            }
            .br{
                color: $mrtBrown;
            }
            .g{
                color: $mrtGreen;
            }
            .y{
                color: $mrtYellow;
            }
        }
    }
}
//----------whatToEat彈窗end----------
//----------search彈窗end----------
.index_search_popup{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    h1{
        color: $green;
    }
    h2{
        text-align: center;
        padding-top: 10px;
    }
    input{
        border-radius: 5px;
        margin-top:30px;
    }
    .getSearch{
        background-color: white;
        .searchFood {
            position: relative;
            img{
                position: absolute;
                right:10px;
                top: 65px;
            }
            .mrtLines.on{
                display: block;
            }
            .mrtLines{
                display: none;
                margin-top: -20px;   
                border: 2px solid $lightgreen;
                li{
                    padding-left: 10px;
                    line-height:36px;
                }
                li:hover{
                    background-color: $lightgreen;
                }
                //  mrt color
                .b{
                    color:$mrtBlue;
                }
                .r{
                    color:$mrtRed;
                }
                .br{
                    color: $mrtBrown;
                }
                .g{
                    color: $mrtGreen;
                }
                .y{
                    color: $mrtYellow;
                }
            }
            .searchTags.on{
                display: block;
            }
            .searchTags{
                margin-top: -20px;
                background-color: white;
                border: 2px solid $lightgreen;
                display: none;

                span{
                    background-color: $lightgreen;
                    margin: 5px;
                    padding: 5px;
                    border-radius: 5px;
                    display: inline-block;
                }
                span:hover{
                    background-color: $yellow;
                }
            }
        }

    }
}
//----------search彈窗end----------
//----------搜尋結果彈窗----------
.index_store_popup{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
   
    .getStore{

        input{
            border-radius: 5px;
            margin-top:0px;
        }
        background-color: white;
        .searchFood{
            img{
                position: absolute;
                right:60px;
                top:100px;
            }
        }
        h1{
            margin-bottom: 20px;
           } 
        .getStoreInf_search{
            height: 425px;
            overflow:auto;
            .getStoreInf:hover{
               h2{
                color:$green;
               }
            }
            .getStoreInf{
                display: flex;
                justify-content: space-between;
                padding: 5px;
                border-bottom: 2px solid $color;
                li{
                    padding-top: 5px;
                }
                .getStoreInf_digital{
                    height: 100px;
                    margin: 20px 0;
                    .getStoreInf_star{
                        img{
                            width: 20px;
                        }
                        display: flex;
                    }
                    .getStoreInf_tag{
                        span{
                            color: $mrtBlue;
                        }
                    }
                    .getStoreInf_station{
                        display: flex;
                        .station_color{
                            color: $mrtGreen;
                        }
                    }
                }
                .getStoreInf_pic{
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    margin:25px 0 20px;
                }     
            }
        }
        .searchTotal{
            padding-top: 20px;
            text-align: center;
        }
    }
};
//----------搜尋結果彈窗end----------
//----------店家資訊彈窗----------
.index_inf_popup{
    z-index: 1000;
    display:none;
    overflow:auto;
    height: 700px;
    position: absolute;
    top: 10%;
    left: 10%;
    .getStoreDigitalInf{
        padding-bottom: 20px;
        background-color: white;
        input{
            border-radius: 5px;
            margin-top:0px;
        }
        .searchFood{
            img{
                position: absolute;
                right:60px;
                top:100px;
            }
        }
        h1{
            margin-bottom: 20px;
           } 
    }
    .storeInf{
        //店家名稱 收藏 檢舉
        .storeInf_title{
            padding-bottom:10px;
            border-bottom:2px solid $color;
            display: flex;
            justify-content: space-between;
            .storeInf_title_like.on{
                filter: grayscale(0);
            }
            .storeInf_title_like{
                  width: 30px;
                  height: 30px;
                  align-self: center;
                  margin-left: 8px;
                  filter: grayscale(1);
                  
          }
            .getStoreInf_star{
                display: flex;
                img{
                    width:20px;
                }
            }
            .storeInf_title_warn{ 
              padding: 5px;
            .storeInf_warnIcon{
                width: 20px;
                float: right;
                margin-bottom: 5px;
                filter: opacity(0.5);
            }
            .storeInf_warnIcon.on{
                filter: opacity(1);
            }  
            .getStoreInf_tag{
                font-size: 12px;
                float: right;
                span{
                    color:$mrtBlue;
                }
            }
          }
        }
        //店家資訊按鈕
        .storeInf_section{
            border-bottom:2px solid $color;
            .storeInf_sectionIcon{
                display: flex;
                justify-content: space-around;
                padding:15px 0 10px;
                .sectionIcon{
                    filter: opacity(0.5);
                }
                .sectionIcon.on{
                    filter: opacity(1);
                }
            }
            .sectionIconInf{
                text-align: center;
                padding-bottom:5px;
                font-weight: bold;
            }
        }
        //店家照片
        .storeInf_pic{
            border-bottom: 2px solid $color;
            .storeInf_picMain{
                margin-top:10px;
                width: 300px;
            }
            .storeInf_picSection{
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                img{
                    width:70px;
                }
            }
           
        }
        //店家評論
        .storeInf_comment{
            // height: 160px;
            // overflow:auto;
            border-bottom: 2px solid $color;


            h2{
                padding:10px 5px 5px;
            }
            .storeInf_comments{
                .storeInf_commentMain{
                    background-color: $lightgreen;
                    border-radius: 5px;
                    padding:10px;
                    margin-bottom: 10px;
                }
                .commentMain_account{
                    display: flex;
                    align-items: center;
                    img{
                        padding-right: 10px;
                        width: 50px;
                    }
                    p{
                        font-size: 14px;
                    }
                   
                }
                .commentMain_star{
                    padding: 5px;
                    display: flex;
                    img{
                        width:20px;
                    }
                }
                .commentMain_comment{
                    padding: 5px;
                }
            }
        }
    }
    .storeInf_btn{
        margin-top:50px;
    }
}
//----------搜尋結果彈窗end----------
//----------檢舉店家彈窗----------
.index_searcReport_popup{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 10%;
    left:40%;
    .getReport{
        h1{
            color: $yellow;
        }
        padding-bottom: 20px;
        .reportTitle{
            margin-bottom: 20px;
            display: flex;
            img{
                margin-right: 5px;
                width: 20px;
            }
        }
        .reportStore{
            margin-bottom: 10px;
            .reportStore_name{
                padding-bottom: 10px;
                font-weight: bold;
                color: $green;
            }
            .reportStore_tags{
                padding-bottom: 10px;
                span{
                    color: $mrtBlue;
                    font-size: 14px;
                }
            }
        }
        .reportReason{
            h2{
                color: $mrtRed;
                padding-bottom: 5px;
            }
            .reportReason_text{
                background-color: $lightgreen;
                border: none;
                border-radius:10px;
                margin-bottom: 10px;
                padding: 5px;
            }
        }
    }
}

//----------檢舉店家彈窗end----------

//rwd

@include rwd(desktopSmall){
    .index_wrapper{
        border: 1px solid yellow;
        .index_map{
            margin:5vw 0;
            .map_slogan{
                width: 35vw;
                right:5vw;
                top:10vw;
            }
            .map{
                width: 65vw;
            }
        }
        .et{
            right:5vw;
            bottom:25vw;
        }
      
        .index_searchbtn{
            right:10vw;
            bottom:5vw;
            p{
                display: none;
            }
        }
        .index_search_popup, .index_searcReport_popup, .index_whatToEat_popup, .index_store_popup, .index_inf_popup{
            right: 50%;
            left: 50%;
        } 
    }
}
@include rwd(pad){
    .index_wrapper{
        border: 1px solid blue;
        .index_map{
            margin:10vw 0;
            .map_slogan{
                width: 40vw;
                right:5vw;
                top:10vw;
            }
            .map{
                width:75vw;
            }
        }
        .et{
            right:5vw;
            bottom:30vw;
        }
      
        .index_searchbtn{
            right:10vw;
            bottom:10vw;
            p{
                display: none;
            }
        }
        .index_search_popup, .index_searcReport_popup, .index_whatToEat_popup, .index_store_popup, .index_inf_popup{
            right: 50%;
            left: 50%;
        } 
    }
}
    
@include rwd(largeMobile){
    .index_wrapper{
        border: 1px solid red;
        .index_map{
            margin:20vw 0;
            .map_slogan{
            width: 40vw;
            right:10vw;
            top:20vw;
            }
            .map{
                width: 80vw;
            }
        }
        .et{
            right:5vw;
            bottom:30vw;
        }
      
        .index_searchbtn{
            right:10vw;
            bottom:10vw;
            p{
                display: none;
            }
        }
        .index_search_popup, .index_searcReport_popup, .index_whatToEat_popup, .index_store_popup, .index_inf_popup{
            right: 50%;
            left: 50%;
        } 
    }
}

@include rwd(mobile){
    .index_wrapper{
        border: 1px solid green;
        .index_map{
            margin:20vw 0;
            .map_slogan{
                width: 40vw;
                right:10vw;
                top:20vw;
            }
            .map{
                width: 90vw;
            }
        }
        .et{
            right:5vw;
            bottom:30vw;
        }
      
        .index_searchbtn{
            right:10vw;
            bottom:10vw;
            p{
                display: none;
            }
        }
        .index_search_popup, .index_searcReport_popup, .index_whatToEat_popup, .index_store_popup, .index_inf_popup{
            right: 50%;
            left: 50%;
        } 
    }
}