// 靜瑩的

body.index{
    background-color:$bgc;
    // *{
    //     border: 1px solid;
    // }
    .Animation{
        pointer-events: none;
        // height: 100%;
        position: absolute;
        z-index: 99;
        width: 100%;
        // height: 900px;
      }

}
.index_wrapper{
    // border: 1px solid;
    @include rwd(desktop);
    position: relative;
}
//----------map背景----------
.index_map{
    padding:5vh 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include marginCenter();
    .stationSite{
        position: relative;
        width:533px;
        height: 494px;
        position: absolute;
        .stationName{
            border-radius: 50%;
            background-color:transparent;
            width: 110px;
            height: 110px;
            position: absolute;
            z-index: 50;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right:150px;
            .stationLocation{
                width: 40px;
                padding-bottom: 10px;
            }
          
        }
        @keyframes bounce {
            0% {
                transform: translateY(0)
            }
            25% {
                transform: scale(1.03) translateY(-15px)
            }
            50% {
                transform: scale(1.03) translateY(-5px)
            }
            75% {
                transform: scale(1.03) translateY(15px)
            }
            100% {
                transform: translateY(0)
            }
        }
        .stationName:hover{
            background-color:rgba(255,255,255,0.7);
            cursor: pointer;
            .stationLocation{
                transition: all 0.3s;
                animation: bounce 0.5s infinite;
            }
            h2{
                color: $mrtRed;
            }
        }
        .site{
            cursor: pointer;
            width: 18px;
            height: 18px;
            z-index:50;
            position: absolute;
            clip: unset;
        }
    
        //紅線
        .a{ top:105px;    left:155px; }
        .b{ top:254px;    right:155px;}
        .c{ top:255px;    right:180px;}
        .d{ top:260px;    right:225px;}
        .e{ top:256px;    right:255px;}
        .f{ top:232px;    right:294px;}
        .g{ top:170px;    right:292px;}
        .h{ top:150px;    right:292px;}

        //綠線
        .i{ bottom:120px; right:240px;}
        .j{ bottom:140px; right:243px;}
        .k{ bottom:160px; right:248px;}
        .l{ bottom:180px; right:260px;}
        .m{ bottom:205px; left:215px;}
        .n{ bottom:258px; left:210px;}
        .o{ bottom:270px; right:213px;}
        .p{ bottom:270px; right:196px;}
        .r{ bottom:270px; right:176px;}

        //藍線
        .s{ bottom:245px; right:160px;}
        .t{ bottom:244px; right:178px;}
        .u{ bottom:243px; right:195px;}
        .v{ bottom:225px; left:150px;}
        .w{ bottom:208px; left:151px;}
        .x{ bottom:190px; left:153px;}
        .y{ bottom:173px; left:155px;}

        //棕線
        .z{ bottom:168px; right:160px;}
        .A{ bottom:190px; right:180px;}
        .B{ bottom:290px; right:215px;}
        .C{ bottom:308px; right:217px;}
        .D{ bottom:315px; right:200px;}
        .E{ bottom:317px; right:180px;}
        .F{ bottom:280px; right:145px;}

        //黃線
        .G{ bottom:160px; left:215px;}
        .H{ bottom:240px; right:258px;}
        .I{ bottom:260px; right:261px;}
        .J{ top:200px;    left:145px;}
        .K{ top:143px;    left:118px;}
        .L{ top:220px;    left:128px;}
    }
  
    .map_slogan{
        width: 25vw;
        position: absolute;
        right:5vw;
        top:10vh;
    }
    .map{
        width:533px;
        height: 494px;
        //   @include block_center();
    }
}
.et{
    width:15vw;
    position: absolute;
    bottom:20vh;
    left:5vw;
    transform: rotate(-30deg);
}
//----------map背景end----------
//----------搜尋按鈕----------
.index_searchbtn{
    cursor: pointer;
    position:fixed;
    right:20px;
    bottom: 15%;
    z-index: 98;
    display: flex; 
    li{ 
        // @include shadow();
        box-shadow:  -12px 10px 10px #D6D5AE;
        margin-left:10px;
        width:120px;
        height:120px;
        background-color:$yellow;
        border-radius: 50%;
        img{
            margin-top:25px;
            @include block_center();
            width: 70px;
            height:70px;          
        }
        p{
            text-align: center;
            padding-top:30px ;
            font-weight: bold;
        }
    }
}
@mixin search_btn_hover{
    transform: translateY(-30px);
    background-color:$mrtBrown;
    transition: all 0.3s;
}
.search_btn_whatToEat:hover{
    @include search_btn_hover;
}
.search_btn_Search:hover{
    @include search_btn_hover;
}
//----------搜尋按鈕end----------
//----------whatToEat彈窗----------
.index_whatToEat_popup{
    z-index: 1000;
    position: absolute;
    top:3vh;
    left:10vw;
    h1{
        color: $yellow;
    }
    input{
        border-radius: 5px;
        margin-top:30px;
    }
    .whatToEat_q{
        background-color: white;
        .whatToEat_q_arrow{
            position: absolute;
            right:60px;
            top:175px;
        }
      
        .select_options{
            margin-top: -20px;   
            border: 2px solid $lightgreen;
            // display: none;
            li{
                padding-left: 10px;
                line-height:36px;
                cursor: pointer;
            }
            li:hover{
                background-color: $lightgreen;
            }
            //  mrt color
            .b{
                color:$mrtBlue;
            }
            .r{
                color:$mrtRed;
            }
            .br{
                color: $mrtBrown;
            }
            .g{
                color: $mrtGreen;
            }
            .y{
                color: $mrtYellow;
            }
        }
        .questionWarn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width:80px;
                padding-bottom: 5px;
            }
            p{
                color: $mrtRed;
                font-weight: bold;
            }
        }
    }
}
//----------whatToEat彈窗end----------
//----------search彈窗end----------
.noText{
    background-color:#ECECEC;
}
.index_search_popup{
    z-index: 1000;
    // display: none;
    position:fixed;
    top: 3vh;
    left: 10vw;
    h1{
        color: $green;
    }
    h2{
        text-align: center;
        padding-top: 10px;
    }
    input{
        border-radius: 5px;
        margin-top:20px;
    }
 
    .getSearch{
        // height: 650px;
        background-color: white;
        .searchFood {
            position: relative;
            img{
                position: absolute;
                right:10px;
                top: 55px;
            }
               
            .mrt_search_icon{
                top: 60px;
            }
         
            .mrtLines{
                margin-top: -20px;
                background-color:white;      
                border: 2px solid $lightgreen;
                li{
                    padding-left: 10px;
                    line-height:30px;
                }
                li:hover{
                    background-color: $lightgreen;
                }
                //  mrt color
                .b{
                    color:$mrtBlue;
                }
                .r{
                    color:$mrtRed;
                }
                .br{
                    color: $mrtBrown;
                }
                .g{
                    color: $mrtGreen;
                }
                .y{
                    color: $mrtYellow;
                }
            }

        }
        .searchWarn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img{
                width:50px;
                padding-bottom: 5px;
                cursor: pointer;
            }
            p{
                color: $mrtRed;
                font-weight: bold;
            }
        }

    }
}
//----------標籤彈窗----------

.tags_popUp{
    position:fixed;
    top: 5vh;
    left: 12vw;
    border-radius: 5px;
    .getTags{
        width: 350px;
        h2{
            text-align: center;
            margin-bottom: 20px;
        }
     
        .searchTags{
        
            span{
                background-color: $lightgreen;
                margin: 5px;
                padding: 5px;
                border-radius:5px;
                display: inline-block;
            }
            span:hover{
                background-color: $yellow;
            }
        }
    }
    
}
//----------search彈窗end----------
//----------搜尋結果彈窗----------
.index_store_popup{
    z-index: 1000;
    // display: none;
    position:fixed;
    top: 3vh;
    left: 10vw;
    .getStore{
        height: 650px;

        input{
            border-radius: 5px;
            margin-top:0px;
        }
        background-color: white;
        .searchFood{
            position: relative;
            img{
                position: absolute;
                right:10px;
                top:50px;
                cursor: pointer;
            }
        }
        h1{
            margin-bottom: 20px;
           } 
        .getStoreInf_search{
            height: 425px;
            overflow:auto;
            .getStoreInf:hover{
               h2{
                color:$green;
               }
            }
            .getStoreInf{
                display: flex;
                justify-content: space-between;
                padding: 5px;
                border-bottom: 2px solid $color;
                li{
                    padding-top: 5px;
                }
                .getStoreInf_digital{
                    height: 100px;
                    margin: 20px 0;
                    .getStoreInf_star{
                        img{
                            width: 20px;
                        }
                        display: flex;
                    }
                    .getStoreInf_tag{
                        span{
                            color: $mrtBlue;
                            font-size: 14px;
                        }
                    }
                    .getStoreInf_station{
                        display: flex;
                        .station_color{
                            color: $mrtGreen;
                        }
                    }
                }
                .getStoreInf_pic{
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    margin:25px 0 20px;
                }     
            }
        }
        .searchTotal{
            padding-top: 20px;
            text-align: center;
        }
    }
};
//----------搜尋結果彈窗end----------
//----------店家資訊彈窗----------
.index_inf_popup{
    z-index: 1000;
    // display:none;
    position:fixed;
    top: 3vh;
    left: 10vw;
    .getStoreDigitalInf{
        padding-bottom: 20px;
        background-color: white;
        overflow:auto;
        height: 650px;

        input{
            border-radius: 5px;
            margin-top:0px;
        }
        .searchFood{
            position: relative;
            img{
                position: absolute;
                right:10px;
                top:50px;
            }
        }
        h1{
            margin-bottom: 20px;
           } 
    }
    .storeInf{
        //店家名稱 收藏 檢舉
        .storeInf_title{
            width:300px;
            padding-bottom:10px;
            border-bottom:2px solid $color;
            display: flex;
            justify-content: space-between;
          
            .storeInf_title_like{
                cursor: pointer;
                width: 30px;
                height: 30px;
                align-self: center;
                margin-left: 8px;
                filter: grayscale(1);      
          }
            .getStoreInf_star{
                margin: 5px 0;
                display: flex;
                img{
                    width:20px;
                }
            }
            .getStoreInf_tag{
                font-size: 12px;
                span{
                    color:$mrtBlue;
                }
            }
            .storeInf_title_warn{ 
              padding: 5px;
            .storeInf_warnIcon{
                cursor: pointer;
                width: 20px;
                float: right;
                margin-bottom: 5px;
                filter: opacity(0.5);
            }
          }
        }
        //店家資訊按鈕
        .storeInf_section{
            border-bottom:2px solid $color;
            width: 300px;
            .storeInf_sectionIcon{
                display: flex;
                justify-content: space-around;
                padding:15px 0 10px;
                .sectionIcon{
                    cursor: pointer;
                    filter: opacity(0.5);
                }
                .sectionIcon.on{
                    filter: opacity(1);
                }
            }
            .sectionIconInf{
                text-align: center;
                padding-bottom:10px;
                font-weight: bold;
            }
        }
        //店家照片
        .slider{
            border-bottom: 2px solid $color;
            margin: 0 auto;
            width: 300px;
            .slider-nav{
                margin-bottom: 10px;
                img{
                    border-radius: 5px;
                    padding: 3px;
                    height:70px;
                    width: 70px;
                    display: block;
                    margin: 0 auto;
                }
            }
            .slider-for{
                width: 300px;
                height:300px;
                margin: 10px auto;
                img{
                    border-radius: 5px;
                    height:300px;
                    width: 300px;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
   
        //店家評論
        .storeInf_comment{
            h2{
                padding:10px 5px 5px;
            }
            .storeInf_comments{
                width: 300px;
                .storeInf_commentMain{
                    background-color: $lightgreen;
                    border-radius: 5px;
                    padding:10px;
                    margin-bottom: 10px;
                    width: 300px;
                }
                .commentMain_account{
                    display: flex;
                    align-items: center;
                    img{
                        padding-right: 10px;
                        width: 50px;
                    }
                    p{
                        font-size: 14px;
                    }
                   
                }
                .commentMain_star{
                    padding: 5px;
                    display: flex;
                    img{
                        width:20px;
                    }
                }
                .commentMain_comment{
                    padding: 5px;
                }
            }
        }
    }
    .storeInf_btn{
        margin-top:50px;
    }
}
//----------搜尋結果彈窗end----------
//----------檢舉店家彈窗----------
.index_searcReport_popup{
    z-index: 1000;
    // display: none;
    position:fixed;
    top: 3vh;
    left: 40vw;
    .getReport{
        h1{
            margin: 0;
        }
        .reportReason{
            h2{ 
                text-align:left;
                color: $mrtRed;
                padding-top:40px;
            }
            img{
                float: left;
                width: 50px;
            }
            .reportReason_text{
                background-color: $lightgreen;
                border: none;
                border-radius:10px;
                margin-bottom: 10px;
                padding: 5px;
            }
        }
    }
}

//----------檢舉店家彈窗end----------


@include rwd(desktopSmall){
    .index_wrapper{
        // border: 1px solid violet;
        .index_map{
         
            .map{
                // width:47vw;
            }
        }
        .et{
            right:5vw;
            bottom:15vh;
        }
        .index_searchbtn{
            bottom: 13vh;
        }
        .index_search_popup, .index_searcReport_popup, .index_whatToEat_popup, .index_store_popup, .index_inf_popup, .tags_popUp {
            right: 50%;
            left: 50%;
        } 
    }
}
@include rwd(pad){
   
    .index_wrapper{
        // border: 1px solid blue;
        .index_map{
          
            .map_slogan{
                display: none;
            }
            .map{
                // width:55vw;
            }
        }
        .et{
            right:5vw;
            bottom:5vh;
        }
      
        .index_searchbtn{
            bottom:15vh;    
            
        }
        .index_search_popup, .index_searcReport_popup, .index_whatToEat_popup, .index_store_popup, .index_inf_popup, .tags_popUp {
            right: 50%;
            left: 50%;
        } 
    }
}

 
@include rwd(largeMobile){
    .index_wrapper{
        // border: 1px solid red;
        .index_map{
                // width:400px;
                // height: 380px;
            .map_slogan{
                display: none;

            }
            .map{
                width:400px;
                height: 380px;
                
            }
            .stationSite{
                display: none;
            }
        }
        .et{
            right:5vw;
            bottom:5vh;
        }
      
        .index_searchbtn{
            position:fixed;
            z-index: 98;
            display: flex;
            bottom:25vh;    
            li{ 
                // @include shadow();
                box-shadow:  -12px 10px 10px #D6D5AE;
                margin-left:3vw;
                width:100px;
                height:100px;
                background-color:$yellow;
                border-radius: 50%;
                img{
                    margin-top:20px;
                    @include block_center();
                    width: 60px;
                    height:60px;          
                }
                p{
                    display: none;
                }
            }    
        }
        .index_search_popup, .index_searcReport_popup, .index_whatToEat_popup, .index_store_popup, .index_inf_popup, .tags_popUp{
            right: 50%;
            left: 50%;
            
        } 
        .index_search_popup, .index_searcReport_popup, .index_store_popup, .index_inf_popup {
            form{
                // height: 95vh;
            }
        }
    }
}

@include rwd(mobile){
 
    .index_wrapper{
        // border: 1px solid green;
        .index_map{
            // height: 76vh;
            .map_slogan{
                display: none;

            }
            .map{
                width:320px;
                height: 300px;
            }
            .stationSite{
                display: none;
            }
        }
        .et{
            right:5vw;
            bottom:5vh;
        }
      
        .index_searchbtn{
            position:fixed;
            z-index: 98;
            display: flex;
            bottom: 25vh;    
            li{ 
                // @include shadow();
                box-shadow:  -12px 10px 10px #D6D5AE;
                margin-left:3vw;
                width:70px;
                height:70px;
                background-color:$yellow;
                border-radius: 50%;
                img{
                    margin-top:15px;
                    @include block_center();
                    width: 40px;
                    height:40px;          
                }
                p{
                    display: none;
                }
            }    
        }
       
        .index_search_popup, .index_searcReport_popup, .index_whatToEat_popup, .index_store_popup, .index_inf_popup,  .tags_popUp {
            right: 50%;
            left: 50%;
           
        }
        .index_search_popup, .index_searcReport_popup, .index_store_popup, .index_inf_popup{
            form{
                // padding:20px 10px;
                // width:320px;
            }
        }
    }
}

