// 靜瑩的
body.index{
    background-color:$bgc;
}

//----------map背景----------
.index_map{
    padding-top: 20px;
    width:1200px;
    // border: 1px solid;
    @include marginCenter();
    
    .map_slogan{
        position: absolute;
        right:120px;
    }
    .map{
        width: 55%;
          @include block_center();
    }
}
.et{
    width: 200px;
    position: absolute;
    bottom:30%;
    right:3%;
    transform: rotate(-30deg);
}
//----------map背景end----------
//----------搜尋按鈕----------
.index_searchbtn{
    position:fixed;
    right: 10%;
    bottom: 14%;
    z-index: 98;
    display: flex;
    width: 300px;
    li{ 
        // @include shadow();
        box-shadow:  -12px 10px 10px #D6D5AE;
        margin-left: 20px;
        width: 110px;
        height:110px;
        background-color:$yellow;
        border-radius: 50%;
        img{
            margin-top: 20px;
            @include block_center();
            width: 65px;
            height:65px;          
        }
        p{
            text-align: center;
            padding-top:30px ;
            font-weight: bold;
        }
    }
}
@mixin search_btn_hover{
    transform: translateY(-30px);
    background-color: $mrtBrown;
    transition: all 0.3s;
}
.search_btn_whatToEat:hover{
    @include search_btn_hover;
}
.search_btn_Search:hover{
    @include search_btn_hover;
}
//----------搜尋按鈕end----------
//----------whatToEat彈窗----------
.index_whatToEat_popup{
    display: none;
    position: absolute;
    top: 5%;
    left: 10%;
    h1{
        color: $yellow;
    }
    input{
        border-radius: 5px;
        margin-top:30px;
    }
    .whatToEat_q{
        background-color: white;
      
        .whatToEat_q_arrow{
            position: absolute;
            right:60px;
            top:165px;
        }
        .whatToEat_q_arrow.on{
            transform: rotate(180deg);
        }
        .select_options.on{
            display: block;
        }
        .select_options{
            margin-top: -20px;   
            border: 2px solid $lightgreen;
            display: none;
            li{
                padding-left: 10px;
                line-height:36px;
            }
            li:hover{
                background-color: $lightgreen;
            }
            //  mrt color
            .b{
                color:$mrtBlue;
            }
            .r{
                color:$mrtRed;
            }
            .br{
                color: $mrtBrown;
            }
            .g{
                color: $mrtGreen;
            }
            .y{
                color: $mrtYellow;
            }
        }
    }
}
//----------whatToEat彈窗end----------
//----------search彈窗end----------
.index_search_popup{
    display: none;
    position: absolute;
    top: 5%;
    left: 10%;
    h1{
        color: $green;
    }
    h2{
        text-align: center;
        padding-top: 10px;
    }
    input{
        border-radius: 5px;
        margin-top:30px;
    }
    .getSearch{
        background-color: white;
        .searchFood {
            position: relative;
            img{
                position: absolute;
                right:10px;
                top: 65px;
            }
            .mrtLines.on{
                display: block;
            }
            .mrtLines{
                display: none;
                margin-top: -20px;   
                border: 2px solid $lightgreen;
                li{
                    padding-left: 10px;
                    line-height:36px;
                }
                li:hover{
                    background-color: $lightgreen;
                }
                //  mrt color
                .b{
                    color:$mrtBlue;
                }
                .r{
                    color:$mrtRed;
                }
                .br{
                    color: $mrtBrown;
                }
                .g{
                    color: $mrtGreen;
                }
                .y{
                    color: $mrtYellow;
                }
            }
            .searchTags.on{
                display: block;
            }
            .searchTags{
                margin-top: -20px;
                background-color: white;
                border: 2px solid $lightgreen;
                display: none;

                span{
                    background-color: $lightgreen;
                    margin: 5px;
                    padding: 5px;
                    border-radius: 5px;
                    display: inline-block;
                }
                span:hover{
                    background-color: $yellow;
                }
            }
        }

    }
}
//----------search彈窗end----------
//----------food彈窗----------
.index_store_popup{
    // display: none;
    position: absolute;
    top: 5%;
    left: 10%;
    input{
        border-radius: 5px;
    }
    .getStore{
        background-color: white;
        .searchFood{
            img{
                position: absolute;
                right:60px;
                top:115px;
            }
        } 
        .getStoreInf{
                
            border: 1px solid lightgrey;
        }
    }
  
};
