.landing{
    background-color: $bgc;
    overflow: hidden;
}

.landing_wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;      
    @keyframes shake {
        0% {
            transform: translateX(0)
        }
        25% {
            transform: scale(1.03) translateX(-10px)
        }
        50% {
            transform: scale(1.03) translateX(0px)
        }
        75% {
            transform: scale(1.03) translateX(10px)
        }
        100% {
            transform: translateX(0)
        }
    }
    img{
        position: absolute;
        width: 200px;
        bottom: -90px;
    }
    .main{
        display: flex;
        li{
            border-bottom:10px solid;
            padding:100px;
            h1{
                font-size:100px;
            }
            p{
                font-size:36px;
                text-align: center;
                padding-top: 50px;
            }
           
            img{
                width:200px;
                position: absolute;
                bottom:-35vh;
            }
            .effect{
                width:450px;
                top:-5vh;
                left:-2vw;
                z-index: -1;
            }
           
        }
        a:hover{
            
            h1{
                color: $yellow;
                transition: all 0.3s;
            }
            p{
                color: $green;
                transition: all 0.3s;
                animation: shake 0.3s infinite;

            }
            img{
                transform: translateY(-20vh);
                transition: all 0.3s;
            }  
        }
       
       
    }
}
@include rwd(pad){
    .landing_wrapper{
        .main{
            li{
                h1{
                    font-size: 90px;
                }
            }
        }
    }
   
}
@media all and (max-width: 767px){
    .landing_wrapper{
        img{
            bottom: -20vh;
        }
        .main{
            flex-direction: column;
            li{
                padding: 50px;
                h1{
                    font-size: 80px;
                }
                img{
                    display: none;
                }
            }
        }
    }
}