//棠棠的
//============================= myPhoto =============================//

// *{
//      outline: 1px  solid  orange;
//  }  

// 背景圖
.pho_body{
    background-image: url('../img/tang/background.png');
    background-size: cover;
    background-repeat: repeat;
    padding-top: 70px;
}

//公用
.pho_main{
    width:1200px;
    margin:0 auto;
}

//使用者頭像
.pho_user_pic{
    width:20%;
    padding: 2%;
}

//
.pho_top_wrapper{
    display: flex;
}

.pho_top_content{
    width:95%;
    display:flex;
    
    img{
        flex-basis: 0;
        flex-grow: 2;
    }

    div{
        flex-basis: 0;
        flex:8;
    }
}

// 上方 s1
.pho_top_s1{
    display:flex;
    margin: 4% 0 2%;

    h1{
        padding:4% 2% 2% 0;
        flex-basis: 0;
        flex-grow: 0.8;
    }
    
    .pho_search_bar{
        height:40px;
        width:100%;
        margin-top: 3%;
        flex-basis: 0;
        flex-grow: 9;
        
    }
    img{
        margin-top: 35px;
        position: relative;
        left: -30px;
    }
}

div .pho_top_personal_page_s1{
    margin: 2% 0 2%;
}

.pho_top_personal_page{
    ul{
        display:flex;
        justify-content: space-between;
        width:70%;
        margin-bottom: 2%;
    }
    span{
        font-weight: bold;
        margin-right: 5px;
    }
}

// 上方 s2
.pho_top_s2{
    display: flex;
    flex-wrap: wrap;

    a{
        font-size: 16px;
    }
}

.pho_menu{
    display:flex;
    justify-content: space-between;
    width:100%;
    
    border-top: 1px solid $green;
    padding-top: 2%;

    a:hover{
        color: $green;
    }
}

//拍立得
.pho_store_cards_lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    li{
        flex-basis: 30%;
        padding: 2%;
        background-color:  lighten(rgb(255, 255, 255),20%);
        @include shadow();
        margin-bottom: 5%;
        // &:hover{
        //     flex-basis: 30.5%;
        // }
    }
    img{
        width: 100%;
    }

}


//商家連結、按讚、留言
.pho_vender_thumb_message{
    display: flex;
    
    a:first-child{
        padding-right: 30%;
        font-size: 16px;
    }

    img{
        margin-top: 8px;
        
    }
}

//標籤連結
.pho_vender_feat_tag{
    display: flex;
    justify-content: flex-start;
    padding-right: 45%;
}

//作者ET頭像 他人拍立得頁面連結
.pho_vender_profile{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    img{
        width: 100%;

    }
    a{
        flex-basis: 0;
        flex-grow: 3.5;
    }
    article{
        flex-basis: 0;
        flex-grow: 5;
        padding-bottom: 6%; 
    }

    article{
        line-height: 1.2;
    }

    &>p{
        flex-basis: 0;
        flex-grow: 5; 
        text-align: right;
        margin-bottom: 4%;
    }
}

//============================= myphoto_personal_page =============================//
//大部分使用myphoto頁面的scss

// 上方s1
.pho_top_personal_page{
    a:hover{
        color: $green;
    }
}

//==========================拍立得內文彈窗==========================//
.pho_disappear{
    display: none;
}
.pho_popUps{
    
    position: absolute; 
    width:70%;
    position: fixed;
    z-index: 1000;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pho_popUps_form{
    //width:120%;
    margin:0 auto;
    background-color: black;
    @include shadow;
    @include border_r;
    
    .btn_close{
        width: 30px;
        height: 30px;
        border: none;
        background-color: $tp;
        position: absolute;
        top: 1%;
        right: 1%;
        z-index: 1000;
        
    }
}

.pho_popUps  div{
    display: flex;
    
    align-items: center;
    
}

// s1 pic
.pho_poppus_s1 div{
    
    img{
        width: 100%;
    }
}

.pho_poppus_s1{
    flex-basis: 0;
    flex-grow: 6.5;
    //width:700px;
}

// s2 content
.pho_poppus_s2{
    flex-basis: 0;
    flex-grow: 3.5;

    background-color: white;
    padding:2%;
}

.pho_article_a1{
    padding-bottom: 3%;
    position: relative;

    img:first-child{
        width:20%;
    }
    img:last-child{
        width:8%;
        position: absolute;
        right:0;

    }

    h2{
        display:inline-block;
        padding-right: 4%;
        padding-top: 2%;
    }

    h2 a{
        font-size: 18px;
    }
}

.pho_article_a2{
    span:nth-child(1){
        padding-right: 5%;
    }

    span{
        padding-right: 2%;
    }

    .pho_star{
        padding-bottom: 1%;
    }
}

.pho_article_a2 {
    justify-content: space-between;
}

.pho_article_a2 span a:nth-child(1) {
    font-size: 15px;
    justify-content:space-between;
}

.pho_line_p1{
    @include lightLine ($w:100%, $h:1px, $c:$green);
    position: relative;
    height:0.5px;
    right: 0;
}

.pho_article_a3{
    div{
        padding-top: 4%;
    }
    a{
        margin-right: 10px;
        font-size: 12px;
    }

    
}

.pho_article_a4{
    padding: 2%;
    margin: 1% 0 5%;
    width:100%;
    background-color:$lightgreen;
    @include border_r();

    p{
        text-align: left;
        font-size: 14px;
        line-height: 1.8;
    }
}

.pho_article_allcontent_a5{
    height: 30vh;
    overflow-x:hidden;
    overflow-y:auto;
}

.pho_article_allcontent_a5::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}

.pho_article_allcontent_a5::-webkit-scrollbar {
    width: 6px;
}

.pho_article_allcontent_a5::-webkit-scrollbar-thumb {
    background-color: $green;
}

.pho_article_a5{
    position: relative;

    img:first-child{
        width:20%;
    }

    img:last-child{
        width:5%;
        position: absolute;
        right: 0px;
        top: 23px;
        margin-right: 5%;
    }

    &>span{
        padding:5% 3%;
    }
    
}

.pho_article_a6{
    position: relative;

    textarea{
        width: 100%;
        height: 70px;
        resize:none;
        background-color: white;
        border: 2px solid $green;
        @include border_r();
        &:focus{
            outline: 0;
            border: 2px solid darken($green,10%);
        }
    }

    button{
        color:$green;
        font-weight: bold;
        position: absolute;
        right:5px;
        bottom: 20px;
    }
}

//==========================查看粉絲彈窗==========================// 
.pho_popUps_fans.on{
    display:block;
}

.pho_popUps_fans{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    h1{
        margin-bottom: 30px;
    }
    
    article{
        height:350px;
        overflow-x:hidden;
        overflow-y:auto;
    }

    article span{
        padding: 0;
    }

    .pho_article_a5 .btn_cancel{
        width: 40px;
        height:25px;
        font-size: 12px;
        line-height: 22px;
        margin: 14px;
        padding:0;
    }

    .btn{
        margin-left: 45%;
    }

}

#pho_scroll_style::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}

#pho_scroll_style::-webkit-scrollbar {
    width: 6px;
}

#pho_scroll_style::-webkit-scrollbar-thumb {
    background-color: $green;
}
.pho_popUps_fans .pho_article_a6{
    margin-top: 15px;
}

.pho_popUps_fans .pho_article_a5{
    display: flex;
    align-items: center;
    
    img:first-child {
        width: 20%;
        margin-right:10px;
        padding: 0;
        display: inline-block;
    }
}

//==========================查看追蹤名單彈窗==========================// 
.pho_popUps_follow.on{
    display:block;
}

.pho_popUps_follow{
    z-index: 1000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    h1{
        margin-bottom: 30px;
    }
    
    article{
        height:350px;
        overflow-x:hidden;
        overflow-y:auto;
    }

    article span{
        padding: 0;
    }

    .pho_article_a5 .btn_cancel{
        width: 40px;
        height:25px;
        font-size: 12px;
        line-height: 22px;
        margin: 14px;
        padding:0;
    }

    .btn{
        margin-left: 45%;
    }

}

#pho_scroll_style::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}

#pho_scroll_style::-webkit-scrollbar {
    width: 6px;
}

#pho_scroll_style::-webkit-scrollbar-thumb {
    background-color: $green;
}

.pho_popUps_follow .pho_article_a6{
    margin-top: 15px;
}

.pho_popUps_follow .pho_article_a5{
    display: flex;
    align-items: center;
    
    img:first-child {
        width: 20%;
        margin-right:10px;
        padding: 0;
        display: inline-block;
    }
}

// -----------------myphoto rwd----------------- //
.pho_main{
    @include rwd(desktop){
        width:1000px;
    }
    @include rwd(desktopSmall){
        width:80%;
    }
    @include rwd(pad){
        width:90%;
    }
    @include rwd(largeMobile){
        width:90%;
    }
    @include rwd(mobile){
        width:90%;
    }
}

.pho_top_wrapper{
    @include rwd(mobile){
        justify-content: center;
    }
}

.pho_top_content{
    img{
        @include rwd(largeMobile){
            flex-basis: 0;
            flex-grow: 3;
        }
        @include rwd(mobile){
            flex-basis: 0;
            flex-grow: 3;
        }
    }
}

.pho_user_pic{
    @include rwd(largeMobile){
        width: 27%;
        padding: 0;
    }
    @include rwd(mobile){
        width: 27%;
        padding: 5% 0;
        height: 0x;
    }
}

.pho_top_s1{
    h1{
        @include rwd(pad){
            width:13%;
            padding: 5% 0 2%;
        }
        @include rwd(largeMobile){
            width: 60px;
            padding: 5% 0 2%;
        }
        @include rwd(mobile){
            width: 70px;
            padding: 6% 0 2%;
        }
    }
    img{
        @include rwd(desktopSmall){
            margin-top: 27px;
        }
        @include rwd(pad){
            margin-top: 24px;
        }
        @include rwd(largeMobile){
            margin-top: 20px;
        }
        @include rwd(mobile){
            margin-top: 20px;
        }
    }
}

.pho_top_s2{
    a{
        @include rwd(mobile){
            font-size: 12px;
        }
    }
}

.pho_store_cards_lists{
    @include rwd(pad){
        padding-top:20px;
    }
    @include rwd(largeMobile){
        padding-top: 20px;
        flex-direction: column;
    }
    @include rwd(mobile){
        padding-top: 20px;
        flex-direction: column;
    }
    li{
        @include rwd(pad){
            flex-basis:31%;
            margin-bottom: 3%;
        }
        @include rwd(desktopSmall){
            flex-basis:31%;
            margin-bottom: 3%;
        }
        @include rwd(largeMobile){
            padding: 5%;
            margin: 3% auto;
        }
        @include rwd(mobile){
            padding: 5%;
            margin: 3% auto;
        }
    }
}

.pho_vender_thumb_message{
    a:nth-child(1){
        @include rwd(desktopSmall){
            padding-right: 20%;
        }
        @include rwd(pad){
            padding-right: 10%;
            font-size: 16px;
        }
    }
}

.pho_vender_feat_tag{
    @include rwd(desktopSmall){
        padding-right: 15%;
    }
    @include rwd(pad){
        padding-right: 15%;
    }
}

.pho_vender_profile{
    a img{
        @include rwd(desktopSmall){
            padding-bottom: 10px;
        }
        @include rwd(pad){
            padding:0 1px 2px 0;
        }
    }
    p{
        @include rwd(pad){
            font-size: 10px;
            margin-bottom: 2px;
        }
        a{
            @include rwd(pad){
                font-size: 10px;
                line-height: 0.1;
            }
        }
    }
    article{
        p{
            @include rwd(pad){
                line-height:1.5;
            }
        }
    }
}


// -------------------pho_personal_page RWD ------------------- //
.pho_top_personal_page{
    ul{
        @include rwd(mobile){
            width:100%;
        }
    }
}


// -------------------拍立得內文彈窗 RWD ------------------- //
@include rwd(desktop){
    .pho_popUps {
        width: 70%;       
    }
}

@include rwd(desktopSmall){
    .pho_popUps {
        width: 80%;
    }

    .pho_popUps_form .btn_close {
        width: 27px;
        height: 27px;
        top: 3px;
        right: 4px;
    }

    .pho_article_a2 span a:nth-child(1) {
        font-size: 12px;
    }

    .pho_article_a2 span {
        padding-right: 1%;
    }
}

@include rwd(pad){
    .pho_popUps {
        width: 88%;
    }

    .pho_popUps_form .btn_close {
        width: 27px;
        height: 27px;
        top: 3px;
        right: 4px;
    }

    .pho_article_a2 span a:nth-child(1) {
        font-size: 12px;
    }

    .pho_article_a2 span {
        padding-right: 1%;
    }

    .pho_article_a4 {
        font-size: small;
    }

    .pho_article_a5>span {
        font-size: small;
    }
}
    
@include rwd(largeMobile){
    .pho_popUps{
        width:60%;
    }

    .pho_popUps_form .btn_close {
        width: 30px;
        height: 30px;
    }
    
    .pho_popUps div{
        flex-direction: column;
    }
    .pho_poppus_s1 div{
        img{
            width: 65%;
        }
    }

    .pho_poppus_s2{

        .pho_article_a1{
            flex-direction: row;
        }

        .pho_article_a2{
            flex-direction: row;
        }

        .pho_article_a3{
            flex-direction: row;
        }

        .pho_star{
            display: none;
        }

        .pho_article_a5{
            flex-direction: row;
        }
    }
    
    .pho_article_a1 {
        padding-bottom: 0%;
        h2{
            padding: 0 3%;
        }

        h2 a{
            font-size: 14px;
        }
    }

    .pho_article_a1 img:first-child {
        width: 10%;
    }

    .pho_article_a1 img:last-child {
        right: 5px;
    }

    .pho_article_a4 {
        margin: 1% 0;

        p{
            font-size: 12px;
            line-height: 1.5;
        }
    }
    .pho_article_allcontent_a5 {
        height: 22vh;
    }

    .pho_article_a5 img:first-child {
        width: 10%;
        padding: 0;
    }

    .pho_article_a5>span {
        padding: 1% 3%;
        font-size: small;
    }

    .pho_article_a1 img:last-child {
        width: 6%;
    }

    .pho_article_a5 img:last-child {
        width: 4%;
    }

    .pho_article_a6 textarea {
        height:55px;
    }
}

@include rwd(mobile){
    .pho_popUps{
        width:60%;
    }

    .pho_popUps_form .btn_close {
        width: 30px;
        height: 30px;
    }
    
    .pho_popUps div{
        flex-direction: column;
    }
    .pho_poppus_s1 div{
        img{
            width: 100%;
        }
    }

    .pho_poppus_s2{

        .pho_article_a1{
            flex-direction: row;
        }

        .pho_article_a2{
            flex-direction: row;
        }

        .pho_article_a3{
            flex-direction: row;
        }

        .pho_star{
            display: none;
        }

        .pho_article_a5{
            flex-direction: row;
        }
    }
    
    .pho_article_a1 {
        padding-bottom: 0%;
        h2{
            padding: 0 3%;
        }

        h2 a{
            font-size: 14px;
        }
    }

    .pho_article_a1 img:first-child {
        width: 10%;
    }

    .pho_article_a1 img:last-child {
        right: 5px;
    }

    .pho_article_a4 {
        margin: 1% 0;

        p{
            font-size: 12px;
            line-height: 1.5;
        }
    }
    .pho_article_allcontent_a5 {
        height: 22vh;
    }

    .pho_article_a5 img:first-child {
        width: 10%;
        padding: 0;
    }

    .pho_article_a5>span {
        padding: 1% 3%;
        font-size: small;
    }

    .pho_article_a1 img:last-child {
        width: 6%;
    }

    .pho_article_a5 img:last-child {
        width: 4%;
    }

    .pho_article_a6 textarea {
        height:55px;
    }
}

    



