//棠棠的
//============================= myPhoto =============================//
//繼承myPhoto的scss
//============================= myphoto_post_pic =============================//
@include rwd(desktop){
    .phoPast_wrapper{
        @include desktop();
    }
}

@include rwd(desktopSmall){
    .phoPast_wrapper{
        @include desktopSmall();
    }
}

@include rwd(pad){
    .phoPast_wrapper{
        @include pad();
    }
}

@include rwd(largeMobile){
    .phoPast_wrapper{
        @include largeMobile();
    }
}

@include rwd(mobile){
    .phoPast_wrapper{
        @include mobile();
    }
}


// 上方step圖示 s1
// .pho_edit_s1{
//     ul{
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//     }
//     li{
//         //background-color: orange;
//         background-image: url(../../img/tang/steps_bg_style.png);
//         background-position:center;
//         background-size: contain;
//         background-repeat: no-repeat;
//         width: 17%;
//         height: 0;
//         padding-bottom: 17% ;

//         position: relative;
//     }
    
// }

// .pho_edit_step{
//     margin-top: 30%;

//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     width: 100%;
//     padding-left:12%;

//     h6{
//         flex-basis: 0;
//         flex-grow: 0.2;

//         font-size: 100px;
//     }
//     div{
//         flex-basis: 0;
//         flex-grow: 0.5;
//         p{
//             text-align: center;
//         }

//         img{
//             height: 50px;
//             display: block;
//             margin: 0 auto;
//         }
//     }
// }

// .pho_edit_step_bg{
//     width: 50%;
//     height: 0;
//     padding-bottom: 50%;
//     background-color: $green;
//     opacity: .2;
//     border-radius: 50%;

//     position: absolute;
//     right: -3.5%;
//     bottom: -3.5%;
//     z-index: 1;
// }


//編輯區 s2
.pho_edit_s2{
    

    &>h2{
        margin: 5% 0 2%;
        text-align: center;
       
    }
    .pho_edit_fullcontent{
        width: 82%;
        margin: 0 auto;
        padding: 30px;
        background-color: white;
        @include shadow();
    }

    .pho_plug_in_area{
        position: relative;
        // jamie加上面
        text-align: center;
        width:100%;
        height:0;
        padding: 25% 0 33%;
        margin:0 auto;
        background-color: lighten(#ccc, 15%) ;
        border: 1px solid $green;
        
        @include btn('.btn_submit', $green, $tp);

        article{
            position: absolute;
            right: 0;
            bottom: 0;
            // jamie加上面
            // color:$color;
            // font-size: $fontSize;
            // text-align: left;
            opacity: 0.5;
            // padding-left: 74%;
            // padding-top: 8%;
            @include rwd(pad){
                padding-left: 64%;
                }
            @include rwd(largeMobile){
                font-size: $fontSizeSmall;
                padding-left: 40%;
                }
            @include rwd(mobile){
                font-size: $fontSizeSmall;
                padding-left: 40%;
                }
        }
    }
    >div{
        padding-left: 20px;
    }

    section{
        padding: 0 20px;
        h5{
            padding: 3% 0 1% 0;
            font-size: $fontSize_SubTitle;
            font-weight: bold;
            color: $color;
        }
    }

    input{
        width: 100%;
        
    }

    textarea{
        width: 100%;
        height: 100px;
        resize:none;
        background-color: $lightgreen;
        border: 0;
        
    }

    .pho_searchTags{
        padding: 15px 200px 15px 20px;
        border:2px solid $lightgreen;
        // jamie加在下面
        @include rwd(desktopSmall){
            padding: 15px 20px;
            }
        @include rwd(pad){
            padding: 15px;
            }
        @include rwd(largeMobile){
            padding: 15px;
            }
        @include rwd(mobile){
            padding: 10px;
            }
        
    }

    .searchTags{
        
        background-color: white;
        

        span{
            background-color: $lightgreen;
            margin: 5px ;
            padding: 5px;
            border-radius: 5px;
            display: inline-block;

            &:hover{
                background-color: $yellow;
            }
        }
        
    }

}

// s3
.pho_edit_s3{
    display: flex;
    padding:1% 8%;
     @include btn('.btn_submit', $green, $tp);
     
    } 

.pho_edit_s3 .btn_submit{
    margin-right: 30%;
}

.pho_circleBtn_submit{
    width: 40px;
    height: 40px;
    // jamie改了這個
    // width: 4%;
    // height: 0;
    padding: 2% 0;
    background-color: $green;
    border-radius: 50%;  
    margin: 3% 1%;
    position: relative;
    
    
    .pho_circleBtn_submit_1{
        width:50%;
        margin: 0 auto;

        position: absolute;
        top: 8px;
        right: 8px;
    }

    .pho_circleBtn_submit_2{
        width:50%;
        margin: 0 auto;

        position: absolute;
        top: 14px;
        right: 9px;
    }

    .pho_circleBtn_submit_3{
        width:50%;
        margin: 0 auto;

        position: absolute;
        top: 7px;
        right: 9px;
    }
}

// s4
.pho_edit_s4{
    text-align: center;
}


// -------------------myphoto_post_pic RWD ------------------- //
@include rwd(desktop){
    
}

@include rwd(desktopSmall){
    .pho_edit_s2 .pho_plug_in_area article {
        font-size: 12px;
        padding-top: 1%;
        line-height: 2;
    }
}

@include rwd(pad){
    .pho_edit_s2 .pho_plug_in_area article {
        font-size: 12px;
        padding-top: 0;
        line-height: 2;
    }
}
    
@include rwd(largeMobile){
    
}

@include rwd(mobile){

}


// 以下上面那區
.upgradeHeaderMyPhoto{
    // @include borderTest();
    padding: 10px 100px;
    @include rwd(desktopSmall){
        padding: 10px 50px;
        }
    @include rwd(pad){
        padding: 10px 50px;
        }
    @include rwd(largeMobile){
            padding: 10px 50px;
        }
    @include rwd(mobile){
            padding: 10px 0px;
        }
    &_area{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        @include rwd(mobile){
            height: 35px;
            }
    }
    &_areaList{
        // @include borderTest(blue);
        background-image: url(../img/tang/steps_bg_style.png);
        background-position:center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        padding-bottom: 12% ;
        position: relative;
        @include rwd(largeMobile){
            width: 100px;
            height: 100px;
            }
        @include rwd(mobile){
            background-size: 70%;
            background-position: 11px 13px;
            }

    }
    &_step{
        margin-top: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-left:12%;
    }
    &_stepNo{
        font-size: 50px;
        display: inline-block;
        @include rwd(mobile){
            font-size: 30px;
            }
    }
    &_text{
        // flex-basis: 0;
        // flex-grow: 0.5;
        text-align: center;
        width: 56px;
        &_img{
            width: 70%;
            margin-left: 11px;
            @include rwd(largeMobile){
                width: 50%;
                }
            @include rwd(mobile){
                width: 36%;
                margin-top: -5px;
                }
        }
    }
    
}

.upgradeHeaderMyPhoto
.upgradeHeaderMyPhoto_bg{
    width: 75px;
    height: 0;
    padding-bottom: 50%;
    background-color: $green;
    opacity: .2;
    border-radius: 50%;
    position: absolute;
    right: -2%;
    bottom: 3%;
    z-index: 1;
    @include rwd(largeMobile){
        width: 50px;
        }
    @include rwd(mobile){
        width: 25px;
        padding-bottom: 25%;
        right: 19%;
        bottom: 51%;
        }
}

// 以上上面那區