
.myUFO_wardrobe_body {
	width: 100%;
	background: #fffdd0;
	overflow: hidden
}

.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg img {
	width: 100%
}

@media all and (min-width:1200px) {
	.myUFO_wardrobe_body {
		width: 100%;
		background: #fffdd0;
		overflow: hidden
	}
}

@media all and (max-width:1199px) and (min-width:992px) {
	.myUFO_wardrobe_body {
		background: #fffdd0;
		overflow: hidden;
		margin: 0 auto
	}
}

@media all and (max-width:991px) and (min-width:768px) {
	.myUFO_wardrobe_body {
		background: #fffdd0;
		overflow: hidden;
		margin: 0 auto
	}
}

@media all and (max-width:767px) and (min-width:576px) {
	.myUFO_wardrobe_body {
		width: 100%;
		background: #fffdd0;
		overflow: hidden;
		display: block
	}
}

@media all and (max-width:575px) {
	.myUFO_wardrobe_body {
		width: 100%;
		background: #fffdd0;
		overflow: scroll;
		display: block
	}
}

@media all and (min-width:1200px) {
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg1 {
		display: block;
	    height: 84vh;
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg2 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_ipad {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_phone {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .curtain {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%
	}
}

@media all and (max-width:1199px) and (min-width:992px) {
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg1 {
		display: block;
		height: 84vh;
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg2 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_ipad {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_phone {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .curtain {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%
	}
}

@media all and (max-width:991px) and (min-width:768px) {
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg1 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg2 {
		display: block;
		height: 84vh;
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_ipad {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_phone {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .curtain {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%
	}
}

@media all and (max-width:767px) and (min-width:576px) {
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg1 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg2 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_ipad {
		display: block;
		height: 82vh
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_phone {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .curtain {
		display: none
	}
}

@media all and (max-width:575px) {
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg1 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg2 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_ipad {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_phone {
		display: block;
		height: 79vh;
		min-width: 100%;
		
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .curtain {
		display: none
	}
}

.myUFO_wardrobe_body .wardrobe_left {
	position: absolute;
	top: 0;
	left: 10%;
	width: 40%;
	max-height: 700px
}

@media all and (min-width:1200px)  {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 10%;
		width: 500px;
		height: 100%
	}
}

@media all and (min-width:1200px) and (min-height:500px) and(max-height:560px){
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: -11%;
		left: 10%;
		width: 500px;
		height: 100%
	}
}
@media all and (min-width:1200px) and (min-height:561px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 10%;
		width: 500px;
		height: 100%
	}
}


@media all and (max-width:1199px) and (min-width:992px){
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 10%;
		width: 500px;
		height: 100%
	}
}


@media all and (max-width:1199px) and (min-width:992px)and (min-height:500px) and(max-height:560px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: -11%;
		left: 10%;
		width: 500px;
		height: 100%
	}
}

@media all and (max-width:1199px) and (min-width:992px)and (min-height:561px) and(max-height:580px){
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 10%;
		width: 500px;
		height: 100%
	}
}

@media all and (max-width:991px) and (min-width:768px)  {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 5%;
		width: 350px;
		height: 100%;
		max-height: 900px
	}
}

@media all and (max-width:991px) and (min-width:768px)and (min-height:500px) and(max-height:560px)  {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 11%;
		left: 0%;
		width: 500px;
		height: 100%;
		max-height: 900px
	}
}


@media all and (max-width:991px) and (min-width:768px)and (min-height:561px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 10%;
		width: 500px;
		height: 100%;
		max-height: 900px
	}
}

@media all and (max-width:767px) and (min-width:576px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 20%;
		right: 20%;
		width: 60%;
		height: 100%
	}
}

@media all and (max-width:767px) and (min-width:576px)and (min-height:500px) and(max-height:560px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 11%;
		left: 0%;
		right: 20%;
		width: 450px;
		height: 100%
	}
}

@media all and (max-width:767px) and (min-width:576px)and (min-height:561px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 35%;
		left: 0%;
		right: 40%;
		width: 450px;
		height: 100%
	}
}

@media all and (max-width:575px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 10%;
		right: 10%;
		width: 80%;
		height: 100%
	}
}

@media all and (max-width:575px)and (min-height:500px) and(max-height:559px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 10%;
		right: 10%;
		width: 450px;
		height: 100%
	}
}

@media all and (max-width:575px)and (min-height:561px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 0;
		left: 10%;
		right: 10%;
		width: 410px;
		height: 100%
	}
}


@media all and (max-width:1024px) and (min-height:1366px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_left {
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		height: 100%;
		max-height: 900px
	}
}

.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
	position: absolute;
	bottom: 0;
	z-index: 10
}

@media all and (min-width:1200px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 0
	}
}
@media all and (min-width:1200px) and (min-height:500px) and(max-height:560px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 0
	}
}


@media all and (min-width:1200px) and (min-height:561px) and(max-height:580px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 10%;
	}
}

@media all and (max-width:1199px) and (min-width:992px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 5%
	}
}

@media all and (max-width:1199px) and (min-width:992px)and (min-height:500px) and(max-height:559px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 5%
	}
}

@media all and (max-width:1199px) and (min-width:992px)and (min-height:560px) and(max-height:580px)  {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 10%
	}
}

@media all and (max-width:991px) and (min-width:768px)  {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 20%
	}
}

@media all and (max-width:991px) and (min-width:768px)and (min-height:500px) and(max-height:559px)   {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 20%
	}
}

@media all and (max-width:991px) and (min-width:768px) and (min-height:560px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 16%
	}
}

@media all and (max-width:767px) and (min-width:576px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 25%
	}
}

@media all and (max-width:767px) and (min-width:576px)and (min-height:500px) and(max-height:559px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 25%
	}
}


@media all and (max-width:767px) and (min-width:576px)and (min-height:560px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: 45%
	}
}

@media all and (max-width:575px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		display: none;
	}
}

.myUFO_wardrobe_body .wardrobe_left .wardrobe_border img {
	width: 50%;
	margin: 0 auto
}

@media all and (max-width:1024px) and (min-height:1366px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border {
		position: absolute;
		bottom: -30%
	}
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_border img {
		width: 50%;
		margin: 0 auto
	}
}

.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
	position: absolute;
	bottom: 15%;
	width: 100%;
	z-index: 20
}

@media all and (min-width:1200px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 15%;
		width: 100%;
	}
}

@media all and (min-width:1200px)and (min-height:500px) and(max-height:559px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 15%;
		width: 99%;
	}
}

@media all and (min-width:1200px) and (min-height:560px) and(max-height:580px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 120px;
		width: 99%;
	}
}

@media all and (max-width:1199px) and (min-width:992px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 15%;
		width: 99%;
	}
}

@media all and (max-width:1199px) and (min-width:992px)and (min-height:500px) and(max-height:559px)  {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 15%;
		width: 99%;
	}
}

@media all and (max-width:1199px) and (min-width:992px) and (min-height:560px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 120px;
		width: 99%;
	}
}

@media all and (max-width:991px) and (min-width:768px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 25%;
		width: 99%;
	}
}

@media all and (max-width:991px) and (min-width:768px)and (min-height:500px) and(max-height:559px)  {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 25%;
		width: 99%;
	}
}

@media all and (max-width:991px) and (min-width:768px)and (min-height:560px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 150px;
		width: 99%;
	}
}

@media all and (max-width:767px) and (min-width:576px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 33%;
		width: 99%;
	}
}

@media all and (max-width:767px) and (min-width:576px)and (min-height:500px) and(max-height:559px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 33%;
		width: 99%;
	}
}

@media all and (max-width:767px) and (min-width:576px) and (min-height:560px) and(max-height:580px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom:250px;
		width: 99%;
	}
}

@media all and (max-width:575px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom:290px;
		width: 99%;
	}
}

@media all and (max-width:575px)and (min-height:500px) and(max-height:559px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom:290px;
		width: 99%;
	}
}

@media all and (max-width:575px) and (min-height:560px) and(max-height:580px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 180px;
		width: 99%;
	}
}

@media all and (max-width:575px)and (min-height:600px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 280px;
		width: 99%;
	}
}


.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
	padding: 20px;
	width: 55%;
	margin: 0 auto
}

@media all and (min-width:1200px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 55%;
		margin: 0 auto;
	}
}

@media all and (max-width:1199px) and (min-width:992px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 60%;
		margin: 0 auto;
		
	}
}

@media all and (max-width:991px) and (min-width:768px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 0;
		width: 80%;
		margin: 0 auto;
	}
}

@media all and (max-width:991px) and (min-width:768px) and (min-height:560px) and(max-height:580px){
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 0;
		width: 60%;
		margin: 0 auto;
	}
}


@media all and (max-width:767px) and (min-width:576px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 70%;
		margin: 0 auto;
		
	}
}

@media all and (max-width:575px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 80%;
		margin: 0 auto;
		
	}
}

@media all and (max-width:575px)and (min-height:500px) and(max-height:559px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 80%;
		margin: 0 auto;
		
	}
}



@media all and (max-width:575px)and (min-height:560px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 60%;
		margin: 0 auto;
		
	}
}

@media all and (max-height:567px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 14%;
		width: 100%
	}
}

@media all and (max-height:567px) and (max-width:991px) and (min-width:768px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 28%;
		width: 100%
	}
}

@media all and (max-height:567px) and (max-width:767px) and (min-width:576px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 40%;
		width: 100%
	}
}

@media all and (max-height:567px) and (max-width:575px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: 46%;
		width: 100%
	}
}

@media all and (max-height:567px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 60%;
		margin: 0 auto;
		
	}
}

@media all and (max-width:1024px) and (min-height:1366px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character {
		position: absolute;
		bottom: -25%;
		width: 100%
	}
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 80%;
		margin: 0 auto;
		
	}
}

@media all and (max-width:541px) and (min-width:540px) {
	.myUFO_wardrobe_body .wardrobe_left .wardrobe_character img {
		padding: 20px;
		width: 60%;
		margin: 0 auto;
		
	}
}

.myUFO_wardrobe_body .wardrobe_Points {
	display: flex;
	position: absolute;
	bottom: 5%;
	left: 10%;
	z-index: 50
}

@media all and (min-width:1200px){
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 20%;
		left: 25%;
		z-index: 50
	}
}


@media all and (min-width:1200px)and (min-height:500px) and(max-height:559px) {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 20%;
		left: 10%;
		z-index: 50
	}
}

@media all and (min-width:1200px) and (min-height:560px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 20%;
		left: 10%;
		z-index: 50
	}
}

@media all and (max-width:1199px) and (min-width:992px)  {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 5%;
		left: 5%;
		z-index: 50
	}
}

@media all and (max-width:1199px) and (min-width:992px)and (min-height:500px) and(max-height:559px)  {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 21%;
		left: 12%;
		z-index: 50
	}
}

@media all and (max-width:1199px) and (min-width:992px) and (min-height:560px) and(max-height:580px){
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 20%;
		left: 9%;
		z-index: 50
	}
}

@media all and (max-width:991px) and (min-width:768px){
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom:18%;
		left: 15%;
		z-index: 50
	}
}

@media all and (max-width:991px) and (min-width:768px)and (min-height:500px) and(max-height:559px){
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 20%;
		left: 5%;
		z-index: 50
	}
}

@media all and (max-width:991px) and (min-width:768px)and (min-height:560px) and(max-height:580px) {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 24%;
		left: 10%;
		z-index: 50
	}
}

@media all and (max-width:767px) and (min-width:576px) {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 50%;
		left: 2%;
		z-index: 50
	}
}

@media all and (max-width:767px) and (min-width:576px)and (min-height:500px) and(max-height:559px) {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 18%;
        left: 23%;
		z-index: 50
	}
}

@media all and (max-width:767px) and (min-width:576px)and (min-height:560px) and(max-height:580px)  {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 10%;
		left: 22%;
		z-index: 50
	}
}


@media all and (max-width:575px) {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 48%;
		left: 8%;
		z-index: 50
	}
}

.myUFO_wardrobe_body .wardrobe_Points img {
	width: 30%;
	z-index: 50
}

.myUFO_wardrobe_body .wardrobe_Points h1 {
	margin: 10px
}

@media all and (max-width:1024px) and (min-height:1366px) {
	.myUFO_wardrobe_body .wardrobe_Points {
		display: flex;
		position: absolute;
		bottom: 25%;
		left: 10%;
		z-index: 50
	}
	.myUFO_wardrobe_body .wardrobe_Points img {
		width: 30%;
		z-index: 50
	}
}



/*mimi RWD針對不同裝置的設定*/

/*iphone4*/
@media (width:320px) and (height:480px) {
    .myUFO_wardrobe_body .wardrobe_character{
        bottom : 70% !important;
        
    }
    .myUFO_wardrobe_body .wardrobe_border{
         bottom : 67% !important;
    }
    .myUFO_wardrobe_body .wardrobe_Points{
        bottom :59%;
    }
    .myUFO_wardrobe_body .Choose_cabinet{
        bottom: 30%!important;
        height: 36%!important;
        
    }
}

/*iphone5*/
@media (width:320px) and (height:568px) {
    .myUFO_wardrobe_body .wardrobe_character{
        bottom : 62% !important;
        
    }
    .myUFO_wardrobe_body .wardrobe_border{
         bottom : 59% !important;
    }

}
    


/*Surface Duo*/
@media (width:540px) and (height:720px) {
     .myUFO_wardrobe_body .wardrobe_character{
        bottom : 65% !important;
        
    }

    .myUFO_wardrobe_body .wardrobe_Points{
         bottom : 63% !important;
    }
    .myUFO_wardrobe_body .wardrobe_border{
         bottom : 63% !important;
    }
}

/*GALAXY FOLD*/
@media (min-width:280px) and (max-width:300px){
    .myUFO_wardrobe_body .wardrobe_character{
        bottom : 62% !important;
        
    }
    .myUFO_wardrobe_body .wardrobe_border{
         bottom : 59% !important;
    }
}



.myUFO_wardrobe_body .close{
    float: left;
    margin-top: -45px;
    margin-left:84%; 
    
}



.mimitab {
	position: absolute;
	top: 25%;
	left: 45%;
	right: 15%;
	width: 40%;
	font-family: sans-serif;
	color: #c99f87;
	font-size: 18px;
	line-height: 24px;
	z-index: 50;

	.tabs li {
		float: left;
		width: 20%;
		a {
			display: block;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			color: #888;
			padding: 5px 0;
			border-radius: 5px 5px 0px 0px;
			/* border-bottom: 2px solid #888; */
			background: #f7f7f7;
			font-size: 20px;
			
		  }
		  a:hover,
		  a.active {
			background: #c99f87;
			color: #FFF;
		  }
	  }
	    .tabgroup {
	  
	.tabgroup_tab {
		border: 10px solid #c99f87;
		background: #FFF;
        border-radius: 0px 5px 5px 5px;
		.lineline{
			background-color: #c99f87;
			border: 1px solid #c99f87;
			height: 10px;
			width: 100%;

		  }
		  
		  
		}

     }
  }

  .swiper-slide {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .mimislide img{
   width: 98px;
  }
  
  .swiper-wrapper{
	transition-duration: 0ms;
    // transform: translate3d(-290px, 0px, 0px);
	transition-duration: 0ms; 
	transform: translate3d(0px, 0px, 0px);
	
  }

  .Accessoriesimg{
	  width: 100%;
	  height: 100%;
  }

  

  /*mimi　對話框的設定*/
  .myUFO_wardrobe_popUps_info{
	  position: absolute;
	  bottom: 21%;
	  left: 19.5%;
	  text-align: center;
	  margin:0 auto;
	  display: none;
		.myUFO_popUps_class{
		// margin-left: 50%;
		transform: translateX(-50%);
		background-color: $tp;
		position: relative;
		width: 400px;
		padding: 0px;
		box-shadow: -2px 2px 5px $tp;
		// border-radius: 5px;
			.myUFO_wardrobebuy_btn{
			width: 100px;
			height: 36px;
			margin: 5px;
			font-size: 14px;
			line-height: 36px;
			color: #6c584c;
			text-align: center;
			transition: .5s ease-in-out;
			background: gold;
			border: 1px solid transparent;
			border-radius: 10px;
			border-radius: 5px;
			}
			.wardrobebuy_btnbtn{
             position: fixed;
			 top: 0%;
			 left: 0%;
			 color: wheat;
			 background: $mrtBrown ;
			}
		}

  }

  /*mimi　對話框的設定end*/


  // chris 新增 舞台上的角色
	.wardrobe_character_cap{
		position: relative;
		top: 280px;
		margin: initial;
		z-index: 20;
	}

	.wardrobe_character_clothe{
		position: relative;
		top: 589px;
		margin: initial;
		z-index: 25;
	}

	.wardrobe_character_fitting{
		position: relative;
		top: 4px;
		margin: initial;
		z-index: 19;
	}

	.wardrobe_left .wardrobe_Speech_circle2{
		width: 50%;
		margin:80px auto;
		z-index: 69;
	
		img{
			width: 100%;
		}
	}
 

  	@media all and (min-width:1200px){
		.mimitab{
		position: absolute;
		top: 25%;
		left: 45%;
		right: 15%;
		width: 40%;
		font-family: sans-serif;
		color: #c99f87;
		font-size: 18px;
		line-height: 24px;
		z-index: 50;
	    }
		.wardrobe_character_cap{
			position: relative;
			top: 280px;
			margin: initial;
		}
	
		.wardrobe_character_clothe{
			position: relative;
			top: 589px;
			margin: initial;
		}
	
		.wardrobe_character_fitting{
			position: relative;
			top: 4px;
			margin: initial;
		}
		.myUFO_wardrobe_popUps_info{
			position: absolute;
			bottom: 21%;
			left: 19.5%;
			text-align: center;
			margin:0 auto;
		}
	}
	@media all and (min-width:1200px)and (min-height:500px) and(max-height:559px){
		.mimitab{
		position: absolute;
		top: 25%;
		left: 45%;
		right: 15%;
		width: 40%;
		font-family: sans-serif;
		color: #c99f87;
		font-size: 18px;
		line-height: 24px;
		z-index: 50;
	    }
		.wardrobe_character_cap{
			position: relative;
			top: 310px;
			margin: initial;
			z-index: 20;
		}
	
		.wardrobe_character_clothe{
			position: relative;
			top: 650px;
			margin: initial;
			z-index: 25;
		}
	
		.wardrobe_character_fitting{
			position: relative;
			top: 4px;
			margin: initial;
			z-index: 19;
		}
		.myUFO_wardrobe_popUps_info{
			position: absolute;
			bottom: 21%;
			left: 19.5%;
			text-align: center;
			margin:0 auto;
		}
		.wardrobe_left .wardrobe_Speech_circle2{
			width: 50%;
			margin:80px auto;
			z-index: 69;
		
			img{
				width: 100%;
			}
		}
	}
	@media all and (min-width:1200px) and (min-height:560px) and(max-height:580px) {
		.mimitab{
			position: absolute;
			top: 25%;
			left: 45%;
			right: 15%;
			width: 40%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}

		.wardrobe_character_cap{
			position: relative;
			top: 284px;
			margin: initial;
			z-index: 20;
		}
	
		.wardrobe_character_clothe{
			position: relative;
			top: 589px;
			margin: initial;
			z-index: 25;
		}
	
		.wardrobe_character_fitting{
			position: relative;
			top: 4px;
			margin: initial;
			z-index: 19;
		}
		.myUFO_wardrobe_popUps_info{
			position: absolute;
			bottom: 21%;
			left: 19.5%;
			text-align: center;
			margin:0 auto;
		}
		.wardrobe_left .wardrobe_Speech_circle2{
			width: 50%;
			margin:80px auto;
			z-index: 69;
		
			img{
				width: 100%;
			}
		}
	}

	@media all and (max-width:1199px) and (min-width:992px){
		.mimitab{
			position: absolute;
			top: 25%;
			left: 45%;
			right: 15%;
			width: 40%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
		}
			
		.myUFO_wardrobe_popUps_info{
			position: absolute;
			bottom: 21%;
			left: 14%;
			text-align: center;
			margin:0 auto;
		}

	}

	@media all and (max-width:1199px) and (min-width:992px)and (min-height:500px) and(max-height:559px){
		.mimitab{
			position: absolute;
			top: 25%;
			left: 45%;
			right: 15%;
			width: 40%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
		}
			
		.myUFO_wardrobe_popUps_info{
			position: absolute;
			bottom: 21%;
			left:20.5%;
			text-align: center;
			margin:0 auto;
		}
		.wardrobe_character_cap{
			position: relative;
			top: 310px;
			margin: initial;
			z-index: 20;
		}
	
		.wardrobe_character_clothe{
			position: relative;
			top: 653px;
			margin: initial;
			z-index: 25;
		}
	
		.wardrobe_character_fitting{
			position: relative;
			top: 4px;
			margin: initial;
			z-index: 19;
		}
		.wardrobe_left .wardrobe_Speech_circle2{
			width: 50%;
			margin:80px auto;
			z-index: 69;
		
			img{
				width: 100%;
			}
		}

	}

	
	@media all and (max-width:1199px) and (min-width:992px)and (min-height:560px) and(max-height:580px){
		.mimitab{
			position: absolute;
			top: 25%;
			left: 45%;
			right: 15%;
			width: 40%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
		}	
	    .myUFO_wardrobe_popUps_info_but{
			position: absolute;
			bottom: 21%;
			left: 50.5%;
			text-align: center;
			margin:0 auto;
		}
			
		.myUFO_wardrobe_popUps_info{
			position: absolute;
			bottom: 21%;
			left: 20.5%;
			text-align: center;
			margin:0 auto;
	       }
		   .wardrobe_character_cap{
			position: relative;
			top: 310px;
			margin: initial;
			z-index: 20;
		}
	
		.wardrobe_character_fitting{
			position: relative;
			top: 4px;
			margin: initial;
			z-index: 19;
		}

		.wardrobe_character_clothe{
			position: relative;
			top:642px;
			margin: initial;
			z-index: 25;
		}
		.wardrobe_left .wardrobe_Speech_circle2{
			width: 50%;
			margin:80px auto;
			z-index: 69;
		
			img{
				width: 100%;
			}
		}
	

      }


	@media all and (max-width:991px) and (min-width:768px){
		.mimitab{position: absolute;
			top: 50%;
			left: 45%;
			right: 5%;
			width: 50%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}

			.myUFO_wardrobe_popUps_info_but{
				position: absolute;
				bottom: 19%;
				left: 10%;
				text-align: center;
				margin:0 auto;
			   }

			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 19%;
				right: 25%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_character_cap{
				position: relative;
				top: 290px;
				margin: initial;
				z-index: 20;
			}
		
			.wardrobe_character_fitting{
				position: relative;
				top: 4px;
				margin: initial;
				z-index: 19;
			}
	
			.wardrobe_character_clothe{
				position: relative;
				top:610px;
				margin: initial;
				z-index: 25;
			}
			.wardrobe_left .wardrobe_Speech_circle2{
				width: 70%;
				margin: 300px auto;
				z-index: 69;
			
				img{
					width: 100%;
				}
			}   
	}

	@media all and (max-width:991px) and (min-width:768px)and (min-height:500px) and(max-height:559px){
		.mimitab{position: absolute;
			top: 30%;
			left: 45%;
			right: 5%;
			width: 50%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 16%;
				left: 23%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_character_cap{
				position: relative;
				top: 310px;
				margin: initial;
				z-index: 20;
			}
		
			.wardrobe_character_clothe{
				position: relative;
				top: 653px;
				margin: initial;
				z-index: 25;
			}
		
			.wardrobe_character_fitting{
				position: relative;
				top: 4px;
				margin: initial;
				z-index: 19;
			}
			.wardrobe_left .wardrobe_Speech_circle2{
				width: 50%;
				margin:10px auto;
				z-index: 69;
			
				img{
					width: 100%;
				}
			}   
	}


	@media all and (max-width:991px) and (min-width:768px)and (min-height:560px) and(max-height:580px) {
		.mimitab{
			position: absolute;
			top: 30%;
			left: 55%;
			right: 10%;
			width: 40%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.wardrobe_character_cap{
				position: relative;
				top: 310px;
				margin: initial;
				z-index: 20;
			}
		
			.wardrobe_character_clothe{
				position: relative;
				top: 653px;
				margin: initial;
				z-index: 25;
			}
		
			.wardrobe_character_fitting{
				position: relative;
				top: 4px;
				margin: initial;
				z-index: 19;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 21%;
				left: 23%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_left .wardrobe_Speech_circle2{
				width: 50%;
				margin:80px auto;
				z-index: 69;
			
				img{
					width: 100%;
				}
			}
	}

    @media all and (max-width:767px) and (min-width:576px){
		.mimitab{
			position: absolute;
			top: 25%;
			left: 45%;
			right: 15%;
			width: 40%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 21%;
				left: 2%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_left .wardrobe_Speech_circle2{
				width: 50%;
				margin:80px auto;
				z-index: 69;
			
				img{
					width: 100%;
				}
			}
	}

	@media all and (max-width:767px) and (min-width:576px)and (min-height:500px) and(max-height:559px){
		.mimitab{
			position: absolute;
			top: 35%;
			left: 50%;
			right: 15%;
			width: 47%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 21%;
				left: 13%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_character_cap{
				position: relative;
				top: 280px;
				margin: initial;
				z-index: 20;
			}
		
			.wardrobe_character_clothe{
				position: relative;
				top: 584px;
				margin: initial;
				z-index: 25;
			}
		
			.wardrobe_character_fitting{
				position: relative;
				top: 4px;
				margin: initial;
				z-index: 19;
			}
			.wardrobe_left .wardrobe_Speech_circle2{
				width: 50%;
				margin:0px auto;
				z-index: 69;
			
				img{
					width: 100%;
				}
			}   
	}

	@media all and (max-width:767px) and (min-width:576px)and (min-height:560px) and(max-height:580px){
		.mimitab{
			position: absolute;
			top: 30%;
			left: 53%;
			right: 2%;
			width: 45%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 18%;
				left: 13%;
				text-align: center;
				margin:0 auto;
			   }
			.wardrobe_character_cap{
			position: relative;
			top: 325px;
			margin: initial;
			z-index: 20;
			}
		
			.wardrobe_character_clothe{
				position: relative;
				top: 678px;
				margin: initial;
				z-index: 25;
			}
		
			.wardrobe_character_fitting{
				position: relative;
				top: 4px;
				margin: initial;
				z-index: 19;
			}
			.wardrobe_left .wardrobe_Speech_circle2{
				width: 50%;
				margin: -100px auto;
				z-index: 69;
			
				img{
					width: 100%;
				}
			}   
	}
	@media all and (max-width:575px){
		.mimitab{
			position: absolute;
			top: 55%;
			left: 5%;
			right: 5%;
			width: 90%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.myUFO_wardrobe_popUps_info_but{
				position: absolute;
				bottom: 20%;
				left: 60.5%;
				right: 22.5%;
				text-align: center;
				margin:0 auto;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 20%;
				// left: 60.5%;
				right: 22.5%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_character_cap{
				position: relative;
				top: 245px;
				margin: initial;
				z-index: 20;
			}
		
			.wardrobe_character_clothe{
				position: relative;
				top: 516px;
				margin: initial;
				z-index: 25;
			}
		
			.wardrobe_character_fitting{
				position: relative;
				top: 4px;
				margin: initial;
				z-index: 19;
			}
			.wardrobe_left .wardrobe_Speech_circle2{
				width: 70%;
				margin:80px auto;
				z-index: 69;
			
				img{
					width: 100%;
				}
			}   
	}
	@media all and (max-width:575px)and (min-height:500px) and(max-height:559px){
		.mimitab{
			position: absolute;
			top: 50%;
			left: 20%;
			right: 20%;
			width: 300px;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 16%;
				left:50%;
				right: 22.5%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_character_cap{
				position: relative;
				top: 270px;
				margin: initial;
				z-index: 20;
			}
		
			.wardrobe_character_clothe{
				position: relative;
				top: 586px;
				margin: initial;
				z-index: 25;
			}
		
			.wardrobe_character_fitting{
				position: relative;
				top: 4px;
				margin: initial;
				z-index: 19;
			}
			.wardrobe_left .wardrobe_Speech_circle2{
				width: 50%;
				margin: 0px auto;
				z-index: 69;
			
				img{
					width: 100%;
				}
			}    
	}
	@media all and (max-width:575px)and (min-height:600px)and(max-height:667px){
		.mimitab{
			position: absolute;
			top: 55%;
			left: 5%;
			right: 5%;
			width: 90%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 18%;
				left:60%;;
				right: 22.5%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_character_cap{
				position: relative;
				top: 265px;
				margin: initial;
				z-index: 20;
				}
			
				.wardrobe_character_clothe{
					position: relative;
					top: 565px;
					margin: initial;
					z-index: 25;
				}
			
				.wardrobe_character_fitting{
					position: relative;
					top: 4px;
					margin: initial;
					z-index: 19;
				}  
	}

	@media all and (max-width:575px)and (min-height:668px)and(max-height:736px){
		.mimitab{
			position: absolute;
			top: 55%;
			left: 5%;
			right: 5%;
			width: 90%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}

			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 18%;
				left:60%;;
				right: 22.5%;
				text-align: center;
				margin:0 auto;
			   }
			   .myUFO_wardrobe_popUps_info_but {
				position: absolute;
				bottom: 18%;
				/* left: 60%; */
				right: 22.5%;
				text-align: center;
				margin: 0 auto;
			}

			   .wardrobe_character_cap{
				position: relative;
				top: 265px;
				margin: initial;
				z-index: 20;
				}
			
				.wardrobe_character_clothe{
					position: relative;
					top: 565px;
					margin: initial;
					z-index: 25;
				}
			
				.wardrobe_character_fitting{
					position: relative;
					top: 4px;
					margin: initial;
					z-index: 19;
				}
				.wardrobe_left .wardrobe_Speech_circle2{
					width: 70%;
					margin: 240px auto;
					z-index: 69;
				
					img{
						width: 100%;
					}
				}  
	}



	@media all and (max-width:575px)and (min-height:560px) and(max-height:580px){
		.mimitab{
			position: absolute;
			top: 55%;
			left: 16%;
			right: 16%;
			width: 68%;
			font-family: sans-serif;
			color: #c99f87;
			font-size: 18px;
			line-height: 24px;
			z-index: 50;
			}
			.myUFO_wardrobe_popUps_info{
				position: absolute;
				bottom: 11%;
				// left:50%;
				right: 22.5%;
				text-align: center;
				margin:0 auto;
			   }
			   .wardrobe_character_cap{
				position: relative;
				top: 250px;
				margin: initial;
				z-index: 20;
				}
			
				.wardrobe_character_clothe{
					position: relative;
					top: 527px;
					margin: initial;
					z-index: 25;
				}
			
				.wardrobe_character_fitting{
					position: relative;
					top: 4px;
					margin: initial;
					z-index: 19;
				}
				.wardrobe_left .wardrobe_Speech_circle2{
					width: 50%;
					margin: 2px auto;
					z-index: 69;
				
					img{
						width: 100%;
					}
				}    
	}




	/*mimi RWD針對不同裝置的設定*/

/*iphone4*/
@media (width:320px) and (height:480px) {
    .myUFO_wardrobe_body .wardrobe_character{
        bottom : 70% !important;
        
    }
    .myUFO_wardrobe_body .wardrobe_border{
         bottom : 67% !important;
    }
    .myUFO_wardrobe_body .wardrobe_Points{
        bottom :59%;
    }
    .myUFO_wardrobe_body .Choose_cabinet{
        bottom: 30%!important;
        height: 36%!important;
        
    }
	.myUFO_wardrobe_popUps_info{
		position: absolute;
		bottom: 14%;
		left:22.5%;
		right: 22.5%;
		text-align: center;
		margin:0 auto;
	   }
	   .wardrobe_left .wardrobe_Speech_circle2{
		width: 50%;
		margin:80px auto;
		z-index: 69;
	
		img{
			width: 100%;
		}
	}
}

/*iphone5*/
@media (width:320px) and (height:568px) {
    .myUFO_wardrobe_body .wardrobe_character{
        bottom : 200px !important;
        
    }
    .myUFO_wardrobe_body .wardrobe_border{
         bottom : 59% !important;
    }
	.myUFO_wardrobe_popUps_info{
		position: absolute;
		bottom: 14%;
		left:22.5%;
		right: 22.5%;
		text-align: center;
		margin:0 auto;
	   }


}
    


/*Surface Duo*/
@media (width:540px) and (height:720px) {
	.myUFO_wardrobe_body .wardrobe_left {
		position: absolute;
		top: 20%;
		left: 10%;
		right: 10%;
		width: 80%;
		height: 100%;
	}
     .myUFO_wardrobe_body .wardrobe_character{
        bottom : 70% !important;
        
    }

    .myUFO_wardrobe_body .wardrobe_Points{
         bottom : 48% !important;
    }
    .myUFO_wardrobe_body .wardrobe_border{
         bottom : 63% !important;
    }
	.myUFO_wardrobe_popUps_info{
		position: absolute;
		bottom: 12%;
		left:22.5%;
		right: 22.5%;
		text-align: center;
		margin:0 auto;
	   }
	   .wardrobe_left .wardrobe_Speech_circle2{
		width: 50%;
		margin:80px auto;
		z-index: 69;
	
		img{
			width: 100%;
		}
	}
}

/*GALAXY FOLD*/
@media (min-width:280px) and (max-width:360px){
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg1 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_bg2 {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_ipad {
		display: none
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .wardrobe_phone {
		display: block;
		height: 79vh;
		min-width: 100%;
	}
	.myUFO_wardrobe_body .wardrobe_wrapper .wardrobe_bg .curtain {
		display: none
	}
    .myUFO_wardrobe_body .wardrobe_character{
        bottom : 52% !important;
        
    }
    .myUFO_wardrobe_body .wardrobe_border{
         bottom : 43% !important;
    }
	.myUFO_wardrobe_popUps_info_but{
		
			position: absolute;
		    bottom: 14%; 
		    left: 60.5%;
		    right: 22.5%;
			text-align: center;
			margin:0 auto;
		   }
	.myUFO_wardrobe_popUps_info{
		position: absolute;
    /* bottom: 14%; */
    // left: 22.5%;
    /* right: 22.5%;*/
		text-align: center;
		margin:0 auto;
	   }
	   .wardrobe_character_cap{
		position: relative;
		top: 235px;
		margin: initial;
		z-index: 20;
		}
	
		.wardrobe_character_clothe{
			position: relative;
			top: 495px;
			margin: initial;
			z-index: 25;
		}
	
		.wardrobe_character_fitting{
			position: relative;
			top: 4px;
			margin: initial;
			z-index: 19;
		}
		.wardrobe_left .wardrobe_Speech_circle2{
			width: 70%;
			margin: 220px auto;
			z-index: 69;
		
			img{
				width: 100%;
			}
		}     
}

