.mimicategory{
    background:$bgc;
}

.category{
    width: 80%;
    margin: 0 10%;    
}

.wardrobe{
    position: absolute;
    top: 7%;
    left: 23%;
    width: 25%;
}

.coupon{
    position: absolute;
    top: 15%;
    right: 30%;
    width: 13%;
}

.game{
    position: absolute;
    top: 62%;
    left: 30%;
    width: 13%;
}

.Smallphoto{
    position: absolute;
    top: 65%;
    right: 30%;
    width: 12%;    
}

.Smalltask{
    position: absolute;
    top: 38%;
    right: 42%;
    width: 9%;  
}