.myUFO_wardrobe_body{
  width: 100%;
background: $bgc;
overflow: hidden;
  .myUFO_wardrobe_wrapper{

    .myUFO_wardrobe_bg{

      .myUFO_wardrobe_bg1{
        width: 100%;
        margin: 0 auto;
        height: 91vh;
      }
      
      .myUFO_wardrobe_bg2{
        width: 100%;
        margin: 0 auto;
        height: 87vh;
      }
    }
  }

  // ----------衣服---------------
  .wardrobe_wall{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0%;
    display: flex;

    .wall_wardrobe{
      position: absolute;
      left: 20%;
      top:10%;
      width: 10%;
      @include rwd(desktop){
        position: absolute;
        left: 20%;
        top:10%;
        width: 10%;
      }
      @include rwd(desktopSmall){
        position: absolute;
        left: 20%;
        top:10%;
        width: 10%;
      }
      @include rwd(pad){
        position: absolute;
        left: 20%;
        top:10%;
        width: 10%;
      }
      @include rwd(largeMobile){
        position: absolute;
        left: 20%;
        top:10%;
        width: 10%;
      }
      @include rwd(mobile){
        position: absolute;
        left: 10%;
        top:17%;
        width: 30%;
      }
      .wardrobe_wardrobe{
      width: 100%;
      }
    }

    // ----------人物---------------
    .wall_character{
      position: absolute;
      left: 40%;
      right: 40%;
      top: 35%;
      width: 20%;
      z-index: 20;
      @include rwd(desktop){
        position: absolute;
        left: 40%;
        right: 40%;
        top: 40%;
        width: 20%;
        z-index: 20;
      }
      @include rwd(desktopSmall){
        position: absolute;
        left: 35%;
        right: 35%;
        top: 50%;
        width: 30%;
        z-index: 20;
      }
      @include rwd(pad){
        position: absolute;
        left: 35%;
        right: 35%;
        top: 55%;
        width: 30%;
        z-index: 20;
      }
      @include rwd(largeMobile){
        position: absolute;
        left: 25%;
        right: 25%;
        top: 35%;
        width: 50%;
        z-index: 20;
      }
      @include rwd(mobile){
        position: absolute;
        left: 10%;
        right: 10%;
        top: 40%;
        width: 80%;
        z-index: 20;
      }
      .wardrobe_character{
      width: 100%;
      }
    }
    // ----------窗戶---------------
    .wall_window{
      position: absolute;
      right: 10%;
      top:10%;
      width: 20%;
      z-index: 19;
      @include rwd(desktop){
        position: absolute;
        right: 10%;
        top:10%;
        width: 20%;
        z-index: 19;
      }
      @include rwd(desktopSmall){
        position: absolute;
        right: 10%;
        top:10%;
        width: 18%;
        z-index: 19;
      }
      @include rwd(pad){
        position: absolute;
        right: 15%;
        top:10%;
        width: 18%;
        z-index: 19;
      }
      @include rwd(largeMobile){
        position: absolute;
        right: 20%;
        top:10%;
        width: 17%;
        z-index: 19;
      }
      @include rwd(mobile){
        position: absolute;
        right: 2%;
        top:40%;
        width: 40%;
        z-index: 19;
      }
      .wardrobe_window{
        width: 100%;

      }
    }
  }

  // ----------圓站台---------------
  .wardrobe_floor{
    position: absolute;
    width: 100%;
    height: 58%;
    bottom: 0%;
    @include rwd(desktop){
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: 0%;
    }
    @include rwd(desktopSmall){
      position: absolute;
      width: 100%;
      height: 58%;
      bottom: 0%;
    }
    @include rwd(pad){
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: 0%;
    }
    @include rwd(largeMobile){
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: 0%;
    }
    @include rwd(mobile){
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: 0%;
    }
    
    .floor_border{
      margin: 0 auto;
      width:20%;
      z-index: 10;
        @include rwd(desktop){
          margin: 0 auto;
          width:30%;
          z-index: 10;
        }
        @include rwd(desktopSmall){
          margin: 0 auto;
          width:40%;
          z-index: 10;
        }
        @include rwd(pad){
          margin: 0 auto;
          width:40%;
          z-index: 10;
        }
        @include rwd(largeMobile){
          margin: 0 auto;
          width: 60%;
          z-index: 10;
        }
        @include rwd(mobile){
          margin: 0 auto;
          width:80%;
          z-index: 10;
        }
      .floor_border{
        width: 100%;
        @include rwd(desktop){
          width: 100%;
        }
        @include rwd(desktopSmall){
          width: 100%;
        }
        @include rwd(pad){
          width: 100%;
        }
        @include rwd(largeMobile){
          width: 100%;
        }
        @include rwd(mobile){
          width: 100%;
        }
      }
    }

  }
}
// ---------選擇區-------------
.Choose_cabinet{
  position: absolute;
  bottom: 14%;
  height: 40%;
  width: 50%;
  right: 25%;
  left: 25%;
  z-index: 50;
    @include rwd(desktop){
      position: absolute;
      bottom: 14%;
      height: 35%;
      width: 50%;
      right: 25%;
      left: 25%;
      z-index: 50;
    }
    @include rwd(desktopSmall){
      position: absolute;
      bottom: 14%;
      height: 35%;
      width: 70%;
      right: 15%;
      left: 15%;
      z-index: 50;
    }
    @include rwd(pad){
      position: absolute;
      bottom: 14%;
      height: 40%;
      width: 80%;
      right: 10%;
      left: 10%;
      z-index: 50;
    }
    @include rwd(largeMobile){
      position: absolute;
      bottom: -10%;
      height: 60%;
      width: 80%;
      right: 10%;
      left: 10%;
      z-index: 50;
    }
    @include rwd(mobile){
      position: absolute;
      bottom: -2%;
      height: 60%;
      width: 80%;
      right: 10%;
      left: 10%;
      z-index: 50;
    }
  
    .tab-content {
      transition: all .3s;
      opacity: 0;
    }
    .tab-content.is_show {
      opacity: 1;
    }
    .Choose_tabs {
      margin: 30px 0 0;
      padding: 0 20px;
    }
    .Choose_tabs li {
      display: inline-block;
      list-style: none;
      padding: 0;
    }
    .Choose_tabs li + li a {
      margin-left: -5px;
    }
    .Choose_tabs a {
      background-color: $mrtGreen;
      border-radius: 6px 6px 0 0;
      // box-shadow: inset 0 -6px 10px 0px #bbb;
      color: #FFF;
      display: block;
      font-size: $fontSize_SubTitle;
      padding: 7px 30px;
      position: relative;
      text-decoration: none;
      transition: all .3s;
      transform-origin: 50% 90%;
      @include rwd(desktop){
        background-color: $mrtGreen;
        border-radius: 6px 6px 0 0;
        // box-shadow: inset 0 -6px 10px 0px #bbb;
        color: #FFF;
        display: block;
        font-size: $fontSize_SubTitle;
        padding: 7px 30px;
        position: relative;
        text-decoration: none;
        transition: all .3s;
        transform-origin: 50% 90%;
      }
      @include rwd(desktopSmall){
        background-color: $mrtGreen;
        border-radius: 6px 6px 0 0;
        // box-shadow: inset 0 -6px 10px 0px #bbb;
        color: #FFF;
        display: block;
        font-size: $fontSize_SubTitle;
        padding: 7px 30px;
        position: relative;
        text-decoration: none;
        transition: all .3s;
        transform-origin: 50% 90%;
      }
      @include rwd(pad){
        background-color: $mrtGreen;
        border-radius: 6px 6px 0 0;
        // box-shadow: inset 0 -6px 10px 0px #bbb;
        color: #FFF;
        display: block;
        font-size: $fontSize_SubTitle;
        padding: 7px 30px;
        position: relative;
        text-decoration: none;
        transition: all .3s;
        transform-origin: 50% 90%;
      }
      @include rwd(largeMobile){
        background-color: $mrtGreen;
        border-radius: 6px 6px 0 0;
        // box-shadow: inset 0 -6px 10px 0px #bbb;
        color: #FFF;
        display: block;
        font-size: $fontSize_SubTitle;
        padding: 7px 30px;
        position: relative;
        text-decoration: none;
        transition: all .3s;
        transform-origin: 50% 90%;
      }
      @include rwd(mobile){
        background-color: $mrtGreen;
      border-radius: 6px 6px 0 0;
      // box-shadow: inset 0 -6px 10px 0px #bbb;
      color: #FFF;
      display: block;
      font-size: $fontSize_SubTitle;
      padding: 7px 10px;
      position: relative;
      text-decoration: none;
      transition: all .3s;
      transform-origin: 50% 90%;
      }
    }
    .Choose_tabs .is_active {
      background-color: $green;
      box-shadow: none;
      font-weight: bold;
      z-index: 1;
      transform: scale(1.2);
    }

  // 選擇內容區
    
    .tab-content {
      @include border_r();
      background-color: #fff;
      border: 20px solid $green;
      // box-shadow: 0 3px 0 0 #ccc;
      // padding: 30px 20px;
     
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      .content1{
        border-bottom:3px $green solid;
        ul{
          display: flex;
          li{
            img{
              width: 80px;
              height: 90px;
              margin: 8px;
              @include rwd(desktop){
                width: 80px;
                height: 90px;
                margin: 8px;
              }
              @include rwd(desktopSmall){
                width: 80px;
                height: 90px;
                margin: 8px;
              }
              @include rwd(pad){
                width: 80px;
                height: 90px;
                margin: 8px;
              }
              @include rwd(largeMobile){
                width: 80px;
                height: 90px;
                margin: 8px;
              }
              @include rwd(mobile){
                width: 50px;
                height: 60px;
                margin: 8px;
              }
            }
          }
        }
      }
      .content2{
        ul{
        display: flex;
          li{
            img{
              width: 80px;
              height: 90px;
              margin: 8px;
              @include rwd(desktop){
                width: 80px;
                height: 90px;
                margin: 8px;
              }
              @include rwd(desktopSmall){
                width: 80px;
                height: 90px;
                margin: 8px;
              }
              @include rwd(pad){
                width: 80px;
                height: 90px;
                margin: 8px;
              }
              @include rwd(largeMobile){
                width: 80px;
                height: 90px;
                margin: 8px;
              }
              @include rwd(mobile){
                width: 50px;
                height: 60px;
                margin: 8px;
              }
            }
          }
          }
      }
    }

}

@media all and (min-width: 1200px) {
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg1 .wardrobe_bg1{
      display: block;
      
  }
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg2 .wardrobe_bg2{
      display: none;
  }

}

@media all and(max-width: 1199px) and (min-width: 992px) {
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg1 .wardrobe_bg1{
     display: block; 
      
  }
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg2 .wardrobe_bg2{
    display:none;
  }

}

@media all and(max-width: 991px) and (min-width: 768px) {
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg1 .wardrobe_bg1{
     display: block;
      
  }
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg2 .wardrobe_bg2{
    display:none;
  }
}

@media all and(max-width: 767px) and (min-width: 576px) {
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg1 .wardrobe_bg1{
     display: block; 
      
  }
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg .wardrobe_bg2{
      display:none;
  }

}

@media all and (max-width: 575px) {
  .myUFO_wardrobe_bg.myUFO_wardrobe_bg1 .wardrobe_bg1{
      display: none;
      
  }
  .myUFO_wardrobe_bg .myUFO_wardrobe_bg2 .wardrobe_bg2{
    display: block;
  }

}