//米米的
.myUFO_wrapper{
width: 100%;
background: $bgc;
height: 100vh;
}


.myUFO_bg{

    .figure{
        width: 100%;
        background-size: cover;
    }   
    .figure2{
        width: 100%;
        background-size: cover;
        
    }
    .figure3{
        width: 100%;
        background-size: cover;
    }
}

.window1{
    position: absolute;
    width: 30%;
    top: 30%;
    @include rwd(pad){
        position: absolute;
        width: 35%;
        height: 50%;
        top: 50%;
        }
        @include rwd(largeMobile){
            position: absolute;
            width: 55%;
            height: 40%;
            top: 40%;
        }
        @include rwd(mobile){
            position: absolute;
            width: 55%;
            height: 40%;
            top: 40%;
        }
    .window2{
        width: 60%;
        margin:  0 10%;
        @include rwd(pad){
            width: 90%;
            margin:  30% 0%;
            }
            @include rwd(largeMobile){
            width: 70%;
            margin:  0% 0%;
            }
            @include rwd(mobile){
                width: 70%;
                margin:  0% 0%;
            }
        
    }
}

.Points1{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 5%;
    top: 90%;
    display: flex;
    align-items: center;
    @include rwd(pad){
        top: 130%;
        left: 10%;
        }
        @include rwd(largeMobile){
        
        left: 10%;
        }
        @include rwd(mobile){
            left: 25%;
            top: 87%;
        }
    
    img{
      width: 15%;
      @include rwd(pad){
        width: 25%;
        }
        @include rwd(largeMobile){
        width: 35%;
        }
        @include rwd(mobile){
            width: 45%;
        }
    }
    p{
      font-size: $fontSize_Title;
      margin: 10px;
      @include rwd(pad){
        margin: 12px;
        }
        @include rwd(largeMobile){
        margin: 15px;
        }
        @include rwd(mobile){
            margin: 10px;
        }
    }
}

.laftmyufo{
    position: absolute;
    width: 30%;
    height: 100%;
    bottom: 0%;
    right: 0;
    @include rwd(pad){
        top: 20%;
        }
        @include rwd(largeMobile){
        width: 35%;
        top: 20%;
        height: 80%;
        }
        @include rwd(mobile){
            width: 35%;
            top: 0%;
            height: 80%;
        }
    .light{
        width: 35%;
        margin: 0 20%;
        z-index: 99;
        @include rwd(pad){
            width: 60%;
            margin: 0% 20%;
            z-index: 99;
            }
            @include rwd(largeMobile){
            display: none;
            }
            @include rwd(mobile){
                display: none;
            }
    }
    .favorites{
        position: absolute;
        top: 23%;
        width: 35%;
        margin: 0 20%;
        z-index: 40;
        @include rwd(desktopSmall){
            position: absolute;
            top: 18%;
            width: 37%;
            margin: 0 20%;
            z-index: 40;
        }
        @include rwd(pad){
            position: absolute;
            top: 25%;
            width: 55%;
            margin: 0 20%;
            z-index: 40;
        }
        @include rwd(largeMobile){
            top: 18%;
            width: 50%;
            margin: 0 20%;
            z-index: 40;
        }
        @include rwd(mobile){
            top: 38%;
            width: 80%;
            margin: 0 10%;
            z-index: 40;
        }
    }
    .cabinet{
        width: 53%;
        margin:25% 12%;
        z-index: 40;
        @include rwd(pad){
            width: 90%;
            margin:75% 4% 0% 4%;
            z-index: 40;
            }
            @include rwd(largeMobile){
            width: 90%;
            margin:100% 5%;
            z-index: 40;
            }
            @include rwd(mobile){
                width: 90%;
                margin:300% 0% 0% 0%;
                z-index: 40;
            }
    }
}

.intermediate{
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 35%;
    display: inline-grid;
    @include rwd(pad){
        width: 50%;
        top: 0;
        height: 100%;
        display: inline-grid;
        left: 25%;
        }
        @include rwd(largeMobile){
            width: 50%;
            top: 0;
            height: 100%;
            display: inline-grid;
            left: 25%;
        }
        @include rwd(mobile){
            width: 70%;
            top: 0;
            height: 100%;
            display: inline-grid;
            left: 15%;
        }
    .Carousel{
        
    }
    .character{
        @include rwd(pad){
            margin: 80% 0% 0% 0%;
            }
            @include rwd(largeMobile){
            margin: 0% 0% 0% 0%;
            }
            @include rwd(mobile){
            width: 70%;
            margin: 70% 0% 0% 0%;
            }
        
    }
}
.myufo_search{
    position: absolute;
    width: 20%;
    bottom: 0%;
    right: 10%;
    
    display: flex;
    @include rwd(pad){
        width: 30%;
        right: 5%;
        top: 70%;
        }
        @include rwd(largeMobile){
            width: 30%;
            right: 5%;
            
        }
        @include rwd(mobile){
            width: 30%;
            right: 5%;
        }
    .problemicon{
        @include rwd(pad){
            margin: 290% 0% 0% 0%;
            }
            @include rwd(largeMobile){
            
            }
            @include rwd(mobile){
                margin: 0% 0% 40% 0%;
            }
        
    }
    .searchicon{
        @include rwd(pad){
            margin: 290% 0% 0% 0%;
            }
            @include rwd(largeMobile){
                
            }
            @include rwd(mobile){
                margin: 0% 0% 40% 0%;
            }
        
    }    
}



@media all and (min-width: 1200px) {
    .myUFO_bg .figure{
        display: block;
        
    }
    .myUFO_bg .figure2{
        display: none;
        
    }
    .myUFO_bg .figure3{
        display: none;
       
    }
}

@media all and(max-width: 1199px) and (min-width: 992px) {
    .myUFO_bg .figure{
        display: block;
        
    }
    .myUFO_bg .figure2{
        display: none;
        
    }
    .myUFO_bg .figure3{
        display: none;
       
    }
}

@media all and(max-width: 991px) and (min-width: 768px) {
    .myUFO_bg .figure{
        display: none;
        
    }
    .myUFO_bg .figure2{
        display: block;
        
    }
    .myUFO_bg .figure3{
        display: none;
       
    }
}

@media all and(max-width: 767px) and (min-width: 576px) {
    .myUFO_bg .figure{
        display: none;
        
    }
    .myUFO_bg .figure2{
        display: block;
        
    }
    .myUFO_bg .figure3{
        display: none;
       
    }
}

@media all and (max-width: 575px) {
    .myUFO_bg .figure{
        display: none;
        
    }
    .myUFO_bg .figure2{
        display: none;
        
    }
    .myUFO_bg .figure3{
        display: block;
        margin: 0 auto;
       
    }
}


//----------靜瑩角色彈窗----------
.MyCharacter{
    display: none;
    position: absolute;
    top:2%;
    left:50%;
    right: 50%;
    h1{
        color: $yellow;
    }
    .getCharacter{
        padding-bottom:20px;
        z-index: 11;
        .getCharacter_alien{
            padding: 20px;
        }
        .getCharacter_choiceList{
           display: flex;
           .choiceList_body{
               p{
                   color:$green;
               }
           }
           .choiceList_body.off{
               p{
                   color:$color;
               }
           }
           .choiceList_eye.on, .choiceList_mouth.on{
                p{
                    color: $green;
                }
           }   
           p{
               margin-left: 5px;
               padding: 10px;
               background-color:$lightgreen;
               border-radius: 5px;
               font-weight: bold;
           }
        }
        .getCharacter_choice{
            .choiceOrgan{
                background-color: $lightgreen;
                border-radius: 5px;
                height: 300px;
                .alienBody{
                    padding:20px 0;
                    display: flex;
                    justify-content: space-around;
                    img{
                        height: 90px;
                    }
                }
                .alienEye{
                    padding:20px 0;
                    display: flex;
                    justify-content: space-around;
                    img{
                        height:40px;
                    }
                }
                .alienMouth{
                    padding:20px 0;
                    display: flex;
                    justify-content: space-around;
                    img{
                        height:30px;
                    }
                }
            }
            .myEye, .myMouth{
                display: none;
            }
        }
        
    }
    
}
