.mimicategory{
    background:$bgc;
    z-index: 1;
}

.category{
    width: 80%;
    margin: 0 10%;
    z-index: 10;    
}

.wardrobe{
    position: absolute;
    top: 7%;
    left: 23%;
    width: 25%;
    z-index: 10;
}

.coupon{
    position: absolute;
    top: 15%;
    right: 30%;
    width: 13%;
    z-index: 10;
}

.game{
    position: absolute;
    top: 62%;
    left: 30%;
    width: 13%;
    z-index: 10;
}

.Smallphoto{
    position: absolute;
    top: 65%;
    right: 30%;
    width: 12%;
    z-index: 10;    
}

.Smalltask{
    position: absolute;
    top: 38%;
    right: 42%;
    width: 9%;
    z-index: 10;  
}

.couponicon{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    z-index: 10;
    
}
#wardrobe_coupon{
    position: fixed;
    top:25%;
    margin: 0 35%;
    display: none;
    z-index: 999;
}

.close_coupon{
    position: fixed;
    left: 85%;
    top: 8%;
}

#wardrobe_Smalltask{
    position: fixed;
    top:10%;
    margin: 0 35%;
    display: none;
    z-index: 999;
}

.Littleman{
    right: 0%;
    top: 0%;
    z-index: 88;
    width: 30px;
    height: 30px;
    background-size: cover;
}
.progress {
    width: 300px;
    height: 10px;
  }
  
  .progress-wrap {
    background: #f80;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
  }
  .progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
.buttonArea_Smalltask button{
    background: chartreuse;
}  
 

@include rwd(desktop){
    .category{
        display: block;
        @include desktop ();
    }
    .category2{
        display: none;
        @include desktop ();
    }
    .category3{
        display: none;
        @include desktop ();
    }
}

@include rwd(desktopSmall){
    .category{
        display: block;
        @include desktop ();
    }
    .category2{
        display: none;
        @include desktop ();
    }
    .category3{
        display: none;
        @include desktop ();
    }
}

@include rwd(pad){
    .category{
        display: none;
        @include desktop ();
    }
    .category2{
        display: block;
        @include desktop ();
    }
    .category3{
        display: none;
        @include desktop ();
    }
}

@include rwd(largeMobile){
    .category{
        display: none;
        @include desktop ();
    }
    .category2{
        display: none;
        @include desktop ();
    }
    .category3{
        display: block;
        @include desktop ();
    }
}

@include rwd(mobile){
    .category{
        display: none;
        @include desktop ();
    }
    .category2{
        display: none;
        @include desktop ();
    }
    .category3{
        display: block;
        @include desktop ();
    }
}

.wardrobe{
	@include rwd(desktop){
    position: absolute;
    top: 7%;
    left: 23%;
    width: 25%;
	}
	@include rwd(desktopSmall){
    position: absolute;
    top: 7%;
    left: 20%;
    width: 28%;
	}
	@include rwd(pad){
    position: absolute;
    top: 9%;
    left: 15%;
    width: 40%;
	}
	@include rwd(largeMobile){
    position: absolute;
    top: 5%;
    left: 15%;
    width: 40%;
	}
	@include rwd(mobile){
    position: absolute;
    top: 7%;
    left: 17%;
    width: 40%;
	}
}

.coupon{
	@include rwd(desktop){
    position: absolute;
    top: 15%;
    right: 30%;
    width: 13%;
	}
	@include rwd(desktopSmall){
    position: absolute;
    top: 15%;
    right: 25%;
    width: 16%;
	}
	@include rwd(pad){
    position: absolute;
    top: 25%;
    right: 25%;
    width: 18%;
	}
	@include rwd(largeMobile){
    position: absolute;
    top: 29%;
    right: 25%;
    width: 23%;
	}
	@include rwd(mobile){
    position: absolute;
    top: 29%;
    right: 20%;
    width: 23%;
	}
}

.Smalltask{
	@include rwd(desktop){
    position: absolute;
    top: 38%;
    right: 42%;
    width: 9%; 
	}
	@include rwd(desktopSmall){
    position: absolute;
    top: 38%;
    right: 42%;
    width: 10%;
	}
	@include rwd(pad){
    position: absolute;
    top: 48%;
    right: 42%;
    width: 14%;
	}
	@include rwd(largeMobile){
    position: absolute;
    top: 42%;
    right: 57%;
    width: 17%;
	}
	@include rwd(mobile){
    position: absolute;
    top: 42%;
    right: 57%;
    width: 18%;
	}
}
.Smallphoto{
	@include rwd(desktop){
    position: absolute;
    top: 65%;
    right: 30%;
    width: 12%;
	}
	@include rwd(desktopSmall){
    position: absolute;
    top: 65%;
    right: 25%;
    width: 14%;
	}
	@include rwd(pad){
    position: absolute;
    top: 70%;
    right: 22%;
    width: 20%;
	}
	@include rwd(largeMobile){
    position: absolute;
    top: 60%;
    right: 22%;
    width: 25%;
	}
	@include rwd(mobile){
    position: absolute;
    top: 59%;
    right: 22%;
    width: 29%;
	}
}

.game{
	@include rwd(desktop){
    position: absolute;
    top: 62%;
    left: 30%;
    width: 13%;
	}
	@include rwd(desktopSmall){
    position: absolute;
    top: 62%;
    left: 24%;
    width: 16%;
	}
	@include rwd(pad){
    position: absolute;
    top: 69%;
    left: 23%;
    width: 20%;
	}
	@include rwd(largeMobile){
    position: absolute;
    top: 73%;
    left: 23%;
    width: 25%;
	}
	@include rwd(mobile){
    position: absolute;
    top: 73%;
    left: 23%;
    width: 25%;
	}
}

#wardrobe_coupon{
	@include rwd(desktop){
    position: fixed;
    top:25%;
    margin: 0 35%;
    display: none;
    z-index: 999;
	}
	@include rwd(desktopSmall){
    position: fixed;
    top:25%;
    margin: 0 30%;
    display: none;
    z-index: 999;
	}
	@include rwd(pad){
    position: fixed;
    top:25%;
    margin: 0 25%;
    display: none;
    z-index: 999;
	}
	@include rwd(largeMobile){
    position: fixed;
    top:25%;
    margin: 0 20%;
    display: none;
    z-index: 999;
	}
	@include rwd(mobile){
    position: fixed;
    top:25%;
    margin: 0% 1% 0% 0%;
    display: none;
    z-index: 999;
	}
}