//米米的
.myUFO_wrapper{
width: 100%;
background: $bgc;
overflow: hidden;
// overflow: auto;
}


.myUFO_bg{

    
    .figure{
        width: 100%;
        margin: 0 auto;
        height: 92vh;
    }
    .figure2{
        width: 100%;
        margin: 0 auto;
        height: 92vh;
    }   
    .figure3{
        width: 100%;
        margin: 0 auto;
        height: 92vh;

    }
    .figure4{
        width: 100%;
        margin: 0 auto;
        height: 88vh;
    }
}

.window1{
    position: absolute;
    width:28%;
    top: 20%;
    left: 7%;
    @include rwd(desktopSmall){
        position: absolute;
        width:38%;
        top: 30%;
        left: 2%;
        }
    @include rwd(pad){
        position: absolute;
        width: 26%;
        top: 12%;
        left: 0%;
        }
        @include rwd(largeMobile){
            position: absolute;
            width: 40%;
            height: 50%;
            top: 23%;
            left: 0;
        }
        @include rwd(mobile){
            position: absolute;
            width: 55%;
            height: 40%;
            top: 38%;
        }
    .window2{
        width: 70%;
        margin:  0 10%;
        @include rwd(desktopSmall){
            width: 60%;
            margin:  0 10%;
            }
        @include rwd(pad){
            width: 90%;
            margin:  30% 0%;
            }
            @include rwd(largeMobile){
            width: 70%;
            margin:  0% 0%;
            }
            @include rwd(mobile){
                width: 70%;
                margin:  0% 0%;
            }
        
    }
    
}

.Points1{
    position: absolute;
    width: 20%;
    height: 10%;
    left: 18%;
    top: 82%;
    display: flex;
    align-items: center;
    @include rwd(pad){
        top: 70%;
        left: 10%;
        }
        @include rwd(largeMobile){
        top: 65%;
        left: 10%;
        }
        @include rwd(mobile){
            left: 5%;
            right: 95%;
            top: 70%;
        }
    
    img{
      width: 15%;
      @include rwd(pad){
        width: 25%;
        }
        @include rwd(largeMobile){
        width: 35%;
        }
        @include rwd(mobile){
            width: 45%;
        }
    }
    p{
      font-size: $fontSize_Title;
      margin: 10px;
      @include rwd(pad){
        margin: 12px;
        }
        @include rwd(largeMobile){
        margin: 15px;
        }
        @include rwd(mobile){
            margin: 10px;
        }
    }
}

.laftmyufo{
    position: absolute;
    width: 30%;
    height: 80%;
    top: 0%;
    right: 0;
    @include rwd(pad){
        top: 10%;
        }
        @include rwd(largeMobile){
        width: 35%;
        top: 20%;
        height: 80%;
        }
        @include rwd(mobile){
            width: 35%;
            top: 27%;
            
        }
    .light{
        width: 30%;
        margin: 0 13%;
        z-index: 99;
        @include rwd(desktopSmall){
            width: 35%;
            margin: 0 10%;
            z-index: 99;
            }
        @include rwd(pad){
            display: none;
            }
            @include rwd(largeMobile){
            display: none;
            }
            @include rwd(mobile){
                display: none;
            }
    }
    .favorites{
        position: absolute;
        top: 25%;
        width: 30%;
        margin: 0 13%;
        z-index: 9;
        @include rwd(desktopSmall){
            position: absolute;
            top: 23%;
            width: 35%;
            margin: 0 10%;
            z-index: 9;
        }
        @include rwd(pad){
            position: absolute;
            top: 5%;
            width: 50%;
            margin: 0 20%;
            z-index: 9;
        }
        @include rwd(largeMobile){
            position: absolute;
            top: 0%;
            width: 50%;
            margin: 0% 0% 0% 23%;
            z-index: 9;
        }
        @include rwd(mobile){
            position: absolute;
            top: 10%;
            width: 65%;
            margin:0% 0% 0% 15%;
            z-index: 9;
        }
    }
    .cabinet{
        width: 45%;
        margin: 30% 7%;
        z-index: 40;
        @include rwd(desktopSmall){
            width: 60%;
            margin: 50% 0 0 0%;
            z-index: 40;
        }
        @include rwd(pad){
            width: 70%;
            margin:70% 4% 0% 8%;
            z-index: 40;
            }
            @include rwd(largeMobile){
            width: 80%;
            margin:50% 0% 0% 8%;
            z-index: 40;
            }
            @include rwd(mobile){
                width: 100%;
                margin:120% 0% 0% 0%;
                z-index: 40;
            }
    }
}

.intermediate{
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 35%;
    right: 35%;
    display: inline-grid;
    @include rwd(pad){
        width: 50%;
        top: 0;
        height: 50%;
        display: inline-grid;
        left: 25%;
        }
        @include rwd(largeMobile){
            width: 50%;
            top: 0;
            height: 70%;
            display: inline-grid;
            left: 25%;
        }
        @include rwd(mobile){
            width: 70%;
            top: 0;
            height: 90%;
            display: inline-grid;
            left: 15%;
        }
    .Carousel{

        width: 70%;
        margin: 0 auto;
        @include rwd(desktopSmall){
            width: 100%;
            margin: 0 auto;
        }
        @include rwd(pad){
            width: 80%;
            margin: 0 auto;
            }
            @include rwd(largeMobile){
                width: 90%;
                margin: 0 auto;
            }
            @include rwd(mobile){
                width: 85%;
                margin: 29% auto;
            }
        
    }
    .character{
        width: 100%;
        margin: 5%   auto;
        text-align: center;
        @include rwd(desktopSmall){
            width: 100%;
            margin: 15%   auto;
            text-align: center;
        }
        @include rwd(pad){
            width: 90%;
            margin: 15%   auto;
            text-align: center;
            }
            @include rwd(largeMobile){
            width: 90%;
            margin: 15%   auto;
            }
            @include rwd(mobile){
            width: 70%;
            margin: -10% 0% 0% 20%;
            }
        
    }
}

.myuFOsearchbut{
    position:fixed;
    right:10vw;
    bottom:10vw;
    z-index: 98;
    display: flex;    
    li{ 
        // @include shadow();
        box-shadow:  -12px 10px 10px #D6D5AE;
        margin-left:3vw;
        width:8vw;
        height:8vw;
        background-color:$yellow;
        border-radius: 50%;
        @include rwd(pad){
            box-shadow:  -12px 10px 10px #D6D5AE;
            margin-left:3vw;
            width:8vw;
            height:8vw;
            background-color:$yellow;
            border-radius: 50%;
            }
            @include rwd(largeMobile){
                box-shadow:  -12px 10px 10px #D6D5AE;
                margin-left:3vw;
                width:8vw;
                height:8vw;
                background-color:$yellow;
                border-radius: 50%;
            }
            @include rwd(mobile){
                box-shadow:  -12px 10px 10px #D6D5AE;
                margin-left:3vw;
                width:8vw;
                height:8vw;
                background-color:$yellow;
                border-radius: 50%;
            }
        img{
            margin-top:1.5vw;
            @include block_center();
            width: 5vw;
            height:5vw;          
        }
        p{
            text-align: center;
            padding-top:2vw ;
            font-weight: bold;
            @include rwd(pad){
               
                }
                @include rwd(largeMobile){
               display: none;
                }
                @include rwd(mobile){
               display: none;
                }
        }
    }
}






// -----------hover but-------------------
.hover-button:hover{
    animation: moveUpDown 1s infinite;
  }
@keyframes moveUpDown{
    0%{
      transform: translateY(0);
    }
    50%{
      transform: scale(1.03) translateY(-10px);
    }
    100%{
      transform: translateY(0);
    }
  }
  

@media all and (min-width: 1200px) {
    .myUFO_bg .figure{
        display: block;
        
    }
    .myUFO_bg .figure2{
        display: none;
    }
    .myUFO_bg .figure3{
        display: none;
        
    }
    .myUFO_bg .figure4{
        display: none;
       
    }
}

@media all and(max-width: 1199px) and (min-width: 992px) {
    .myUFO_bg .figure{
        display: none;
        
    }
    .myUFO_bg .figure2{
        display: block;
    }
    .myUFO_bg .figure3{
        display: none;
        
    }
    .myUFO_bg .figure4{
        display: none;
       
    }
}

@media all and(max-width: 991px) and (min-width: 768px) {
    .myUFO_bg .figure{
        display: none;
        
    }
    .myUFO_bg .figure2{
        display:block;
    }
    .myUFO_bg .figure3{
        width: 100%;
        display:none;
        
    }
    .myUFO_bg .figure4{
        display: none;
       
    }
}

@media all and(max-width: 767px) and (min-width: 576px) {
    .myUFO_bg .figure{
        display: none;
        
    }
    .myUFO_bg .figure2{
        display:none;
    }
    .myUFO_bg .figure3{
        display: block;
        
    }
    .myUFO_bg .figure4{
        display: none;
       
    }
}

@media all and (max-width: 575px) {
    .myUFO_bg .figure{
        display: none;
        
    }
    .myUFO_bg .figure2{
        display: none;
    }
    .myUFO_bg .figure3{
        display: none;
        
    }
    .myUFO_bg .figure4{
        display: block;
        margin: 0 auto;
       
    }
}
    // ----------櫃子彈窗---------------
    #myUFO_category{
        top:10%;
        left: 41%;
        right: 41%;
        text-align: center;
        display: none;
        z-index: 999;
        .categorform{
            position: absolute;
            top: 10%;
            padding: 20px;
            z-index: 999;
        }

        .categoricon{
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
            z-index: 10;
            
        }

        .coupon{
            position: absolute;
            top: 23%;
            left: 20%;
            width: 27%;

            img{
                width: 100%;
            }
            h1{
                font-size: $fontSize_SubTitle;
                color:#FFF;
            }
        }
        .game{
            position: absolute;
            top: 34%;
            right: 20%;
            width: 27%;
 
            img{
                width: 100%;
            }
            h1{
                font-size: $fontSize_SubTitle;
                color:#FFF;
            }
        }
        .Smallphoto{
            position: absolute;
            top: 52%;
            left: 20%;
            width: 27%;
 
            img{
                width: 100%;
            }
            h1{
                font-size: $fontSize_SubTitle;
                color:#FFF;
            }
        }
        .Smalltask{
            position: absolute;
            top: 62%;
            right: 25%;
            width: 18%;

            img{
                width: 100%;
            }
            h1{
                font-size: $fontSize_SubTitle;
                color:#FFF;
            }
        }
        
    }
    // ----------優惠券彈窗---------------
    #wardrobe_coupon{
        position: fixed;
        top:15%;
        left: 41%;
        right: 41%;
        text-align: center;
        display: none;
        z-index: 999;
        .couponicon{
            width: 50%;
            margin: 0 auto;
            margin-bottom: 20px;
            z-index: 10;
            
        }
        #close_button{
            position: absolute;
            left: 0%;
            top: 8%;
            border: 2px solid #f80;
            width: 100px;
            height: 50px;
        }
    }
    
    
    // ----------每日任務彈窗---------------
    #wardrobe_Smalltask{
        position: fixed;
        top:15%;
        left: 41%;
        right: 41%;
        display: none;
        z-index: 999;
        @include rwd(desktop){
            position: fixed;
            top:15%;
            left: 41%;
            right: 41%;
            display: none;
            z-index: 999;
            }
            @include rwd(desktopSmall){
            position: fixed;
            top:15%;
            left: 41%;
            right: 41%;
            display: none;
            z-index: 999;
            }
            @include rwd(pad){
            position: fixed;
            top:15%;
            left: 41%;
            right: 41%;
            display: none;
            z-index: 999;
            }
            @include rwd(largeMobile){
            position: fixed;
            top:15%;
            left: 41%;
            right: 41%;
            display: none;
            z-index: 999;
            }
            @include rwd(mobile){
            position: fixed;
            top:15%;
            left: 41%;
            right: 41%;
            display: none;
            z-index: 999;
            }
            .formSmalltask{
                padding: 20px;
                .Smalltaskbox{
                    display: flex;
                    
                    .Littleman{
                        right: 0%;
                        top: 0%;
                        z-index: 88;
                        width: 30px;
                        height: 30px;
                        background-size: cover;
                    }
                    .progressmimi{
                        margin: 0 20px;
                        .progress {
                            width: 240px;
                            height: 10px;
                            margin: 0 100%;
                          }
                          .progress-wrap {
                            background: $mrtYellow;
                            margin: 0px 0;
                            overflow: hidden;
                            position: relative;
                            .progress-bar {
                                background: #ddd;
                                left: 0;
                                position: absolute;
                                top: 0;
                              }
                          }
    
                    }
                    .buttonArea_Smalltask button{
                        background: $yellow;
                        margin: 0 0%;
                        border-radius: 10%;
                    }    
                      
                
                }
                
                }
                .Smalltaskbox4{
                    display: flex;
                    margin: 4% 0%;
                    
                    .mrtSmalltask{
                        right: 0%;
                        top: 0%;
                        z-index: 88;
                        width: 30px;
                        height: 30px;
                        background-size: cover;
                    }
                    .progressmimi{
                        margin: 0 20px;
                        .progress {
                            width: 240px;
                            height: 10px;
                            margin: 0 10%;
                          }
                          .progress-wrap {
                            background: $mrtYellow;
                            margin: 0px 0;
                            overflow: hidden;
                            position: relative;
                            .progress-bar {
                                background: #ddd;
                                left: 0;
                                position: absolute;
                                top: 0;
                              }
                          }
    
                    }
                    .buttonArea_Smalltask button{
                        background: $yellow;
                        margin: 0 0%;
                        border-radius: 10%;
                    }    
                      
                
                }
                .Smalltaskbox5{
                    display: flex;
                    margin: 4% 0%;
                    
                    .mrtSmalltask{
                        right: 0%;
                        top: 0%;
                        z-index: 88;
                        width: 30px;
                        height: 30px;
                        background-size: cover;
                    }
                    .progressmimi{
                        margin: 0 20px;
                        .progress {
                            width: 240px;
                            height: 10px;
                            margin: 0 10%;
                          }
                          .progress-wrap {
                            background: $mrtYellow;
                            margin: 0px 0;
                            overflow: hidden;
                            position: relative;
                            .progress-bar {
                                background: #ddd;
                                left: 0;
                                position: absolute;
                                top: 0;
                              }
                          }
    
                    }
                    .buttonArea_Smalltask button{
                        background: $yellow;
                        margin: 0 0%;
                        border-radius: 10%;
                    }    
                      
                
                }
                .Smalltaskbox6{
                    display: flex;
                    margin: 4% 0%;
                    
                    .mrtSmalltask{
                        right: 0%;
                        top: 0%;
                        z-index: 88;
                        width: 30px;
                        height: 30px;
                        background-size: cover;
                    }
                    .progressmimi{
                        margin: 0 20px;
                        .progress {
                            width: 240px;
                            height: 10px;
                            margin: 0 10%;
                          }
                          .progress-wrap {
                            background: $mrtYellow;
                            margin: 0px 0;
                            overflow: hidden;
                            position: relative;
                            .progress-bar {
                                background: #ddd;
                                left: 0;
                                position: absolute;
                                top: 0;
                              }
                          }
    
                    }
                    .buttonArea_Smalltask button{
                        background: $yellow;
                        margin: 0 0%;
                        border-radius: 10%;
                    }    
                      
                
                }
                .Smalltaskbox7{
                    display: flex;
                    margin: 4% 0%;
                    
                    
                    .mrtSmalltask{
                        right: 0%;
                        top: 0%;
                        z-index: 88;
                        width: 30px;
                        height: 30px;
                        background-size: cover;
                    }
                    .progressmimi{
                        margin: 0 20px;
                        .progress {
                            width: 240px;
                            height: 10px;
                            margin: 0 10%;
                          }
                          .progress-wrap {
                            background: $mrtYellow;
                            margin: 0px 0;
                            overflow: hidden;
                            position: relative;
                            .progress-bar {
                                background: #ddd;
                                left: 0;
                                position: absolute;
                                top: 0;
                              }
                          }
    
                    }
                    .buttonArea_Smalltask button{
                        background: $yellow;
                        margin: 0 0%;
                        border-radius: 10%;
                    }    
                      
                
                }
                .Smalltaskbox8{
                    display: flex;
                    margin: 4% 0%;
                    
                    .mrtSmalltask{
                        right: 0%;
                        top: 0%;
                        z-index: 88;
                        width: 30px;
                        height: 30px;
                        background-size: cover;
                    }
                    .progressmimi{
                        margin: 0 20px;
                        .progress {
                            width: 240px;
                            height: 10px;
                            margin: 0 10%;
                          }
                          .progress-wrap {
                            background: $mrtYellow;
                            margin: 0px 0;
                            overflow: hidden;
                            position: relative;
                            .progress-bar {
                                background: #ddd;
                                left: 0;
                                position: absolute;
                                top: 0;
                              }
                          }
    
                    }
                    .buttonArea_Smalltask button{
                        background: $yellow;
                        margin: 0 0%;
                        border-radius: 10%;
                    }    
                      
                
                }
            }    


//----------靜瑩角色彈窗----------
.MyCharacter{
    z-index: 1000;
    display: none;
    position: absolute;
    top:10%;
    left:50%;
    right: 50%;
    h1{
        color: $yellow;
        margin: initial;
    }
    .getCharacter{
        overflow: auto;
        height: 95vh;
        padding-bottom:20px;
        z-index: 11;
        .getCharacter_alien{
            padding: 20px;
        }
        .getCharacter_choiceList{
           display: flex;
           .choiceList_body{
               p{
                   color:$green;
               }
           }
           .choiceList_body.off{
               p{
                   color:$color;
               }
           }
           .choiceList_eye.on, .choiceList_mouth.on{
                p{
                    color: $green;
                }
           }   
           p{
               margin-left: 5px;
               padding: 10px;
               background-color:$lightgreen;
               border-radius: 5px;
               font-weight: bold;
           }
        }
        .getCharacter_choice{
            .choiceOrgan{
                background-color: $lightgreen;
                border-radius: 5px;
                height: 300px;
                .alienBody{
                    padding:20px 0;
                    display: flex;
                    justify-content: space-around;
                    img{
                        height: 90px;
                    }
                }
                .alienEye{
                    padding:20px 0;
                    display: flex;
                    justify-content: space-around;
                    img{
                        height:40px;
                    }
                }
                .alienMouth{
                    padding:20px 0;
                    display: flex;
                    justify-content: space-around;
                    img{
                        height:30px;
                    }
                }
            }
            .myEye, .myMouth{
                display: none;
            }
        }
        
    }
    
}
