@include btn(".btn_submit", $yellow, $tp);

.wardrobeu_body{
    background: $bgc;
    height: 100vh-100;
  .myUFO_wardrobeu{
    
    .myUFO_wardrobeu_bg{
      width: 100%;
      height: 100%;
      height: 100vh-100;
      
    }
    .wardrobeu_window{
      top: 10%;
      left: 0%;
      .wardrobeuwindow{
        width: 20%;
      }
    }

  }  
}


  
@media all and (min-width: 1200px) {
  .myUFO_wardrobeu_bg .wardrobe_webbg{
      display: block;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_ipadbg{
      display: none;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_phonebg{
      display: none;
     
  }
  
}

@media all and(max-width: 1199px) and (min-width: 992px) {
  .myUFO_wardrobeu_bg.wardrobe_webbg{
      display: block;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_ipadbg{
      display: none;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_phonebg{
      display: none;
     
  }
}

@media all and(max-width: 991px) and (min-width: 768px) {
  .myUFO_wardrobeu_bg .wardrobe_webbg{
      display: none;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_ipadbg{
      display: block;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_phonebg{
      display: none;
     
  }
}

@media all and(max-width: 767px) and (min-width: 576px) {
  .myUFO_wardrobeu_bg .wardrobe_webbg{
      display: none;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_ipadbg{
      display: block;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_phonebg{
      display: none;
     
  }
}

@media all and (max-width: 575px) {
  .myUFO_wardrobeu_bg .wardrobe_webbg{
      display: none;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_ipadbg{
      display: none;
      
  }
  .myUFO_wardrobeu_bg .wardrobe_phonebg{
      display: block;
      margin: 0 auto;
     
  }
}

@include rwd(desktop){
    .wardrobeu_body {
      @include desktop ();
    }
}

@include rwd(desktopSmall){
  .wardrobeu_body{
      @include desktopSmall();
  }
}

@include rwd(pad){
  .wardrobeu_body{
      @include pad ();
  }
}

@include rwd(largeMobile){
  .wardrobeu_body{
      @include largeMobile();
  }
}

@include rwd(mobile){
  .wardrobeu_body{
      @include mobile();
  }
}