
.QA_body{
  background-color: $bgc;
  width: 100%;
  overflow: auto;
  height: 43vh;
  font-size: 16px;
  background-image: url('../img/mimi/iPhoneX991.svg');
  background-position: center;
  background-size: Cover ;
  background-repeat: no-repeat;
  background-attachment:fixed;
  font-family: Arial !important; 
  font-family: Noto Sans !important; 

  
}

@media all and (min-width:1200px) {
  .QA_body{
    background-color: $bgc;
    width: 100%;
    overflow: auto;
    height: 43vh;
    background-image: url('../img/mimi/iPhoneX991.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }
}

@media all and (max-width:1199px) and (min-width:992px) {
  .QA_body {
    background-color: $bgc;
    width: 100%;
    overflow: hidden;
    height: 43vh;
    background-image: url('../img/mimi/iPhoneX991.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
  }
}

@media all and (max-width:1199px) and (min-width:992px)and (min-height:500px) and(max-height:580px) {
  .QA_body {
    background-color: $bgc;
    width: 100%;
    overflow: hidden;
    height: 48vh;
    background-image: url('../img/mimi/iPhoneX991.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
  }
}

@media all and (max-width:991px) and (min-width:768px) {
  .QA_body{
    background-color: $bgc;
    width: 100%;
    overflow: hidden;
    height: 70vh;
    background-image: url('../img/mimi/iPhoneX991.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
  }
}

@media all and (max-width:991px) and (min-width:768px)and (min-height:500px) and(max-height:580px) {
  .QA_body{
    background-color: $bgc;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    background-image: url('../img/mimi/iPhoneX991.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
  }
}


@media all and (max-width:767px) and (min-width:576px){
  .QA_body {
    background-color: $bgc;
    width: 100%;
    overflow: hidden;
    height: 45vh;
    background-image: url('../img/mimi/iPhoneX767.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
  }
}


@media all and (max-width:767px) and (min-width:576px)and (min-height:500px) and(max-height:580px) {
  .QA_body {
    background-color: $bgc;
    width: 100%;
    overflow: hidden;
    height: 45vh;
    background-image: url('../img/mimi/iPhoneX767.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
  }
}

@media all and (max-width:575px){
  .QA_body{
    background-color: $bgc;
    width: 100%;
    overflow: hidden;
    height: 60vh;
    background-image: url('../img/mimi/mimiiPhoneXPro.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
  }
}

@media all and (max-width:575px)and (min-height:500px) and(max-height:580px) {
  .QA_body{
    background-color: $bgc;
    width: 100%;
    overflow: hidden;
    height: 45vh;
    background-image: url('../img/mimi/mimiiPhoneXPro.svg');
    background-position: center;
    background-size: Cover ;
    background-repeat: no-repeat;
  }
}



.QA_wrapper{
  margin: 5%;



}

// .bigQA{
//   margin-top: 100px;
// }


.fontmm{
    text-align: center;
    margin: 20px 0;
    h1{
      font-size: $fontSize_Title;
    }
}

.ulmm{
    width: 80%;
    margin: 0 auto;
  }
.limm{
    font-size:$fontSize;
    background-color: #FFF;
    list-style:none;
    margin-top:3px;
  }
  
  
  .question{
    position: relative;
    margin: 0;
    padding: .5em 1em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
  .question:hover{
      text-decoration:underline;
  }
  
  .question:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 4px #6c584c;
    border-right: solid 4px #6c584c;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  @media all and (max-width:767px) and (min-width:300px){
    .question:after {
     display: none;
    }
  }
  
  .question.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }
  .answer{
    padding: .5em 1em;
  }

  .wrapper_QA{
    display: block;
  }

  .limm .answer .QA_p{
    line-height: initial;
  }

  .QA_body .QA_wrapper .bigQA{
    margin: 100px 0px 0px 0px;
   
  }
  // -----------------------------------------------------

  .couponicon{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    
  }

  .QA_h1{
    background: #6C584C;
    color: #FFF;
    padding: 10px;
    margin: 0px auto;
    width: 80%;
    text-align: center;
    font-size: 16px;
  }


