//jamie的
// 背景滿版
.store_storeBody{
    padding-top: 100px;
    background-color: $bgc;
}
.store_wrap{
    padding-bottom: 20px;
}

// wrap 包在1200以內
@include rwd(desktop){
    .store_wrap{
        @include desktop();
    }
}

@include rwd(desktopSmall){
    .store_wrap{
        @include desktopSmall();
    }
}

@include rwd(pad){
    .store_wrap{
        @include pad();
    }
}

@include rwd(largeMobile){
    .store_wrap{
        @include largeMobile();
    }
}

@include rwd(mobile){
    .store_wrap{
        @include mobile();
    }
}

// 頁面主架構
.store_storeInfoArea, .store_promotionArea, .store_levelUpArea{
    width: 100%;
    padding: 35px 150px;
    @include rwd(largeMobile){
        padding: 35px 10px;
        }
    @include rwd(mobile){
        padding: inherit;
    }
    position: relative;
    &::after{
        @include lightLine(){
            width: 80% ;    
        }
    }
}

// 商家資訊區塊
.store_storeInfoArea{
    @include rwd(desktop){
        display: flex;
    }
    @include rwd(desktopSmall){
        display: flex;
        }
}

// 商家照片區塊
.store_photoArea{
    position: relative;
    width: 100%;
    @include rwd(desktop){
        width: 50%;
        }
    @include rwd(desktopSmall){
        width: 50%;
        }

}

// 每一張照片
.swiper{
    &-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        img {
            display: block;
            object-fit: cover;
            max-width: 100%;;
            max-width: 100%;;
        }
    }
    // ul外面那層
    &-container {
        margin-left: auto;
        margin-right: auto;
    }
}

.store_photoArea{
    .swiper-container{
        width: 300px;
    }
}

// 上面大圖
.mySwiper2 {
width: 100%;
}

// 下面小圖
.store_photoArea{
    .mySwiper {
    height: 25%;
    box-sizing: border-box;
    padding: 10px 0;
    width: 50%;
    @include rwd(desktopSmall){
        width: 70%;
        }
    @include rwd(largeMobile){
        // display: block;
        }
    @include rwd(mobile){
        width: 70%;
        }
    .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
        img{
            max-width: 100%;;
            max-width: 100%;;
        }
        }
    .swiper-slide-thumb-active {
        opacity: 1;
        }
    }
}


// 箭頭
.mySwiper2{
    .swiper-button-next, .swiper-button-prev{
        color: $color;
        opacity: 0.5;
        &:hover{
            opacity: 1; 
        }
    }
    .swiper-button-next{
        right: 0px;
        // @include rwd(pad){
        //     right: 0px;
        //     }
        // @include rwd(largeMobile){
        //     right: 85px;
        //     }
        // @include rwd(mobile){
        //     right: 0px;
        //     }
    }
    .swiper-button-prev{
        left: 0px;
        // @include rwd(pad){
        //     left: 0px;
        //     }
        // @include rwd(largeMobile){
        //     left: 85px;
        //     }
        // @include rwd(mobile){
        //     left: 0px;
        //     }
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: $fontSize_Title;
    }
}

// 商家文字區塊
.store_storeInfo{
    padding: 30px;
    @include rwd(desktop){
        padding: 0px;
        }
    @include rwd(desktopSmall){
        padding: 0;
        }
    @include rwd(mobile){
        padding:20px;
    }
    // 店名
    &_Name{
        height: 30px;
        margin-bottom: 20px;
        @include rwd(pad){
            text-align: center;
            }
        @include rwd(largeMobile){
            text-align: center;
            }
        @include rwd(mobile){
            text-align: center;
            }
        h1{
            display: inline-block;
        }
    }
    // 下方資訊
    &_Detail{
        padding-left: 10px;
        div{
            width: 25px;
        }
        img{
            width: 20px;
            position: absolute;
            top:10px;
        }
        p{
            padding-left: 5px;
            line-height: 45px;
        }
        .store_tagList{
            width: 100%;
            padding-left: 5px;
            line-height: 45px;
        }
    }
}
// 商家資訊的文字敘述區
.store{
    &_infoList{
        height: 45px;
        padding-left: 40px;
        background-repeat: no-repeat;
        // text-align: center;
        @include rwd(desktop){
            text-align: left;
            }
        @include rwd(desktopSmall){
            text-align: left;
            }
        
    }
    &_infoTel{
        background-image: url('../img/icon/icon_tel.png');
    }
    &_infoMail{
        background-image: url('../img/icon/icon_mail.png');
    }
    &_infoPrice{
        background-image: url('../img/icon/icon_price.png');
    }
    &_infomrt{
        background-image: url('../img/icon/icon_mrt.png');
    }
    &_infoTag{
        background-image: url('../img/icon/icon_tag.png');
    }
    &_infoWarn{
        background-image: url('../img/icon/icon_warn.png');
    }

}


// 商家等級介紹區 
.store_levelUpArea{
    @include rwd(desktop){
        padding-left: 150px; 
        }
    h1{
        line-height: 60px;
    }
}

// 升級說明區
.store_levelArea{
    display: flex;
    @include rwd(mobile){
        display: block;
        }
    margin-bottom: 50px;
    img{
        width: 100px;
    }
    padding-bottom: 50px;
    &_free{
        position: relative;
        &::after{
        @include lightLine();
        }
    }
}

// 升級文字說明區(右邊)
.store_level{
    &_text{
        padding-left: 50px;
        flex-grow: 3;
        h2{
            font-weight: bold;
            line-height: 30px;
        }
        p{
            line-height: 35px;
        }
    }
    &_btn{
        width: 100px;
        position: relative; //寫給升級按鈕的
        @include rwd(mobile){
            @include block_center();
            }
    }
    &_imgArea{
        @include rwd(mobile){
            @include block_center();
            }
    }
}

// 升級按鈕
.btn-levelUp{
    position: absolute;
    right: 10%;
    bottom: 0;
    margin: initial;
    @include rwd(mobile){
        position: inherit;
        }
}

// 廣告成效區
.store_promotionArea{
    h1{
        line-height: 60px;
    }
    &_inner{
        @include rwd(desktop){
            display: flex;

            }
        @include rwd(desktopSmall){
            // display: flex;
            }
    }
    &_like{
        height: 300px;
        flex-grow: 1;
    }
    &_click{
        height: 300px;
        flex-grow: 1;
    }
}

// =========================Chris 編輯開始=========================

//Chart.js 
.chart{
    position: relative;
    margin: 0 60px;
    width: 100%;
    height: 100%;
    border: none;
    overflow: auto;
    @include rwd(desktopSmall){
            @include marginCenter();
            margin-top: 20px;
            width: 50%;
            height: 40%;
        }
    @include rwd(pad){
            @include marginCenter();
            margin-top: 20px;
            width: 80%;
            height: 20%;
        }
    @include rwd(largeMobile){
            @include marginCenter();
            margin-top: 20px;
            width: 70%;
            height: 70%;
        }
    @include rwd(mobile){
            @include marginCenter();
            margin-top: 20px;
            bottom: 20px;
        }
}

// =========================Chris 編輯結束=========================

// =========================Jamie的模組scss=========================
.btn_mobile{
    @include rwd(mobile){
        margin: 10px;
        }
}


