.body_upgrade{
    background-color: $bgc;
    padding-top: 100px;
}
.wrapper_upgrade{
    // @include borderTest(blue);
    padding: 0 150px 100px;
}

.upgradeOption{
    display: flex;
    position: relative;
    padding: 50px;
    &_text{
        // @include borderTest(blue);
        flex-grow: 3;
        padding: 0 50px;
        &_title{
            margin-left: -30px;
            line-height: 50px;
        }
    }
    &_btnArea{
        // @include borderTest(green);
        flex-grow: 1;
    }
    &::after{
        @include lightLine();
    }
    p{
        line-height: 40px;
    }
}

// 費用選擇頁面的按鈕區
.upgradeOption_btnArea{
    padding-top: 50px;
    &_option{
        width: 120px;
        margin-left: calc(100% - 120px);
        margin-bottom: 30px;
    }
    &_submit{
        margin:initial;
        transform: initial;
        margin-left: calc(100% - 285px);
    }
}


// 資料確認頁面
.upgradeInfoConfirm{
    padding-top: 20px;
    &_basic_menu{
        display: flex;
    }
    &_payment_menu{
        display: flex;
    }
}

// 企業個人選單切換
.upgradeInfoConfirm{
    &_areaHide{
        display: none;
    }
    &_areaShow{
        display: block;
    }
}
//月繳前面那顆 
.priceChoice{
    background-image: url('../img/icon/icon_choice.png');
    background-repeat: no-repeat;
    background-position: 5px 0;
    background-size: 15px;
    padding-left: 25px;
}

// 企業個人切換選單css
.upgradeInfoConfirm_basic{
    &_menu_item{
        width: 100px;
        text-align: center;
        line-height: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
    }
    &_menu_co{
        background-color: $yellow;
    }
    &_menu_personal{
        background-color: $green;
    }
}

// 信用卡傳障切換選單css
.upgradeInfoConfirm_payment{
    &_menu_item{
        width: 100px;
        text-align: center;
        line-height: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
    }
    &_menu_card{
        background-color: $yellow;
    }
    &_menu_acc{
        background-color: $green;
    }
}

// 信用卡號碼
.input-cart-number {
    width: 82px;
    display: inline-block;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
}
// 有效日期、安全碼
#validDate, #ccv{
    width: 82px;
}
#validDate{
    margin-left: 15px;
}
#ccv{
    margin-left: 30px;
}

// 轉帳
.trans_iput{
   width: 80%; 
   &_s{
       margin-left: 32px;
   }
}

// 完成表單按鈕,a連結的大小，目前沒用
// .upgradeInfoConfirm{
//     &_finishpayment{
//         width: 100px;
//         height: 50px;
//     }
// }

.upgradeInfoConfirm_basic{
    width: 100%;
    display: none;
}

.upgradeInfoConfirm_payment{
    width: 100%;
    display: block;
}

.upgradeInfoConfirm{
    &_basic_co{
        width: 100%;
    }
    &_formC{
        border: 3px solid $yellow;
        width: 100%;
    }
    &_formP{
        border: 3px solid $green;
        width: 100%;
    }
    &_buttonArea_outer{
        position: relative;
        width: 100%;
        height: 77px;
    }
    &_buttonArea{
        position: absolute;
        right: 0px;
        bottom: 00px;
        margin: initial;
        transform: initial;
    }
}


// 升級完成頁面
.upgradeComplete_inner{
    height: 200px;
    &_text{
        padding: 30px 0;
        text-align: center;
        margin-bottom: 30px;
        h1{
            margin-bottom: 20px;
        }
    }
}

// 以下上面那區
.upgradeHeader{
    // @include borderTest();
    
    &_area{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }
    &_areaList{
        // @include borderTest(blue);
        background-image: url(../img/tang/steps_bg_style.png);
        background-position:center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        padding-bottom: 12% ;
        position: relative;
    }
    &_step{
        margin-top: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-left:12%;
    }
    &_stepNo{
        font-size: 50px;
        display: inline-block;
    }
    &_text{
        // flex-basis: 0;
        // flex-grow: 0.5;
        text-align: center;
        width: 40px;
    }
    
}

.upgradeHeader
.upgradeHeader_bg{
    width: 50px;
    height: 0;
    padding-bottom: 50%;
    background-color: $green;
    opacity: .2;
    border-radius: 50%;

    position: absolute;
    right: -2%;
    bottom: 18%;
    z-index: 1;
}

// 以上上面那區