//jamie的
// 背景滿版
.store_storeBody{
    padding-top: 100px;
    background-color: $bgc;
}

// wrap 包在1200以內
@include rwd(desktop){
    .store_wrap{
        @include desktop();
    }
}

@include rwd(desktopSmall){
    .store_wrap{
        @include desktopSmall();
    }
}

@include rwd(pad){
    .store_wrap{
        @include pad();
    }
}

@include rwd(largeMobile){
    .store_wrap{
        @include largeMobile();
    }
}

@include rwd(mobile){
    .store_wrap{
        @include mobile();
    }
}

// 頁面主架構
.store_levelUpArea, .store_promotionArea{
    padding: 35px;
    @include rwd(mobile){
        padding: inherit;
    }
    width: 100%;

}

.store_levelUpArea{
    &::after{
        @include lightLine();
    }
}


// 商家資訊區塊
.store_storeInfoArea{
    @include rwd(desktop){
        display: flex;
    }
    @include rwd(desktopSmall){
        display: flex;
        }
    position: relative;
    &::after{
        @include lightLine();
    }
}

// 商家照片區塊
.store_photoArea{
    // @include borderTest();
    @include rwd(desktop){
        width: 45%;
        &_big{
            width: 300px;
            height: 300px;
            margin-left: calc(100% - 350px);
            // @include borderTest();
        }
    }
    @include rwd(desktopSmall){
        width: 45%;
        &_big{
            width: 300px;
            height: 300px;
            margin-left: calc(100% - 350px);
            // @include borderTest();
        }
        }
    padding: 35px;
}

.store_photoArea_small{
    ul{
        display: flex;
        margin-left: calc(100% - 350px);
        // @include borderTest();
        width: 300px;
        padding-top: 20px;
        li{
            // @include borderTest();
            width: 80px;
            margin-left: 15px;
            // overflow: hidden;
        }
    }
}

// 商家文字區塊
.store_storeInfo{
    @include borderTest();
    padding: 30px;
    @include rwd(desktop){
        width: 55%;
    }
    // 店名
    &_Name{
        height: 30px;
        margin-bottom: 20px;
        h1{
            display: inline-block;
        }
    }
    // 下方資訊
    &_Detail{
        padding-left: 10px;
        li{
            display: flex;
            height: 45px;
            // background-image: url(../img/icon/icon_edit.png);
        }
        div{
            width: 25px;
        }
        img{
            width: 20px;
            position: absolute;
            top:10px;
        }
        p{
            padding-left: 5px;
            line-height: 45px;
        }
        .store_tagList{
            width: 100%;
            padding-left: 5px;
            line-height: 45px;
        }
        .store_icon{
            position: relative;

        }
    }
}


// 商家等級介紹區 
.store_levelUpArea{
    // @include borderTest(blue);
    @include rwd(desktop){
        padding-left: 150px; 
        }
    h1{
        line-height: 60px;
    }
    // position: relative;
    // &::after{
    //     @include lightLine();
    //     left: 10px; 
    // }
}

// 升級說明區
.store_levelArea{
    // @include borderTest();
    display: flex;
    @include rwd(mobile){
        display: block;
        }
    margin-bottom: 50px;
    img{
        width: 100px;
        // @include borderTest();
    }
    // &_free{
    // }
    padding-bottom: 50px;
    position: relative;
    &::after{
    @include lightLine();
    }
}

// 升級文字說明區(右邊)
.store_level{
    &_text{
        padding-left: 50px;
        flex-grow: 3;
        h2{
            font-weight: bold;
            line-height: 30px;
            // @include borderTest();
        }
        p{
            line-height: 35px;
        }
    }
    &_btn{
        width: 100px;
        position: relative; //寫給升級按鈕的
        @include rwd(mobile){
            @include block_center();
            }
    }
    &_imgArea{
        @include rwd(mobile){
            @include block_center();
            }
    }
}

// 升級按鈕
.btn-levelUp{
    position: absolute;
    right: 10%;
    bottom: 0;
    margin: initial;
    @include rwd(mobile){
        position: inherit;
        }
}

// 廣告成效區
.store_promotionArea{
    h1{
        line-height: 60px;
    }
    &_inner{
        @include rwd(desktop){
            display: flex;

            }
        @include rwd(desktopSmall){
            // display: flex;
            }
    }
    &_like{
        height: 300px;
        @include border();
        flex-grow: 1;
    }
    &_click{
        height: 300px;
        @include border();
        flex-grow: 1;
    }
}

//Chart.js 
.chart{
    position: relative;
    // bottom: 300px;
    margin: 0 60px;
    width: 100%;
    height: 100%;
    border: none;
}

