.upgrade_body{
    background-color: $bgc;
}
.wrapper_upgrade{
    @include borderTest(blue);
    padding: 0 150px;
}

.upgradeHeader{
    @include borderTest();
    display: flex;
    text-align: center;
    &_option1{
        flex-grow: 1;
    }
    &_option2{
        flex-grow: 1;
    }
    &_option3{
        flex-grow: 1;
    }
}
// 先放背景圖
// 放數字
// 再用圖片高度，決定標題的line-hight

.upgradeOption{
    display: flex;
    position: relative;
    padding-bottom: 50px;
    &_text{
        flex-grow: 3;
        padding: 0 50px;
        &_title{
            margin-left: -30px;
            line-height: 50px;
        }
    }
    &_btnArea{
        flex-grow: 1;
    }
    &::after{
        @include lightLine();
    }
    p{
        line-height: 40px;
    }
    
}

// 資料確認頁面
.upgradeInfoConfirm{
    &_basic_menu{
        display: flex;
    }
    &_payment_menu{
        display: flex;
    }

}

// 企業個人選單切換
.upgradeInfoConfirm{
    &_areaHide{
        display: none;
    }
    &_areaShow{
        display: block;
    }
}

// 企業個人切換選單css
.upgradeInfoConfirm_basic{
    &_menu_item{
        width: 100px;
        text-align: center;
        line-height: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
    }
    &_menu_co{
        background-color: $yellow;
    }
    &_menu_personal{
        background-color: $green;
    }
}

// 信用卡傳障切換選單css
.upgradeInfoConfirm_payment{
    &_menu_item{
        width: 100px;
        text-align: center;
        line-height: 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
    }
    &_menu_card{
        background-color: $yellow;
    }
    &_menu_acc{
        background-color: $green;
    }
}


.upgradeInfoConfirm_basic, .upgradeInfoConfirm_payment{
    width: 100%;
}

.upgradeInfoConfirm{
    &_basic_co{
        width: 100%;
    }
    &_formC{
        border: 3px solid $yellow;
        width: 100%;
    }
    &_formP{
        border: 3px solid $green;
        width: 100%;
    }
    &_buttonArea_outer{
        position: relative;
        width: 100%;
        height: 77px;
    }
    &_buttonArea{
        position: absolute;
        right: 0px;
        bottom: 00px;
        margin: initial;
        transform: initial;
    }
}


// 升級完成頁面
.upgradeComplete_inner{
    height: 200px;
    &_text{
        padding: 30px 0;
        text-align: center;
        margin-bottom: 30px;
        h1{
            margin-bottom: 20px;
        }
    }
}