
.story{
    background-color:$lightgreen;
}
.story_wrapper{
    margin: 0 auto;
    position: relative;
    .story_Alien2{
        z-index: 2;
        width: 300px;
        position: absolute;
        right:10vw;
        top:-15vw;
        transform: rotate(180deg);
    }
    .mrtAlien{
        z-index:2;
        width: 330px;
        position: absolute;
        left:0vw;
        top: 25vw;
    }
    .story_map{
        z-index: 2;
        width:300px;
        position: absolute;
        top:50vw;
        right:2vw;
    }
    .story_Alien{
        z-index: 2;
        width:300px;
        position: absolute;
        left:0vw;
        bottom:0vw;
    }
    .storyTitle{
        width:25vw;
        padding-top: 5vw;
        margin:0 auto;
    }
    .storySection{
        width:60vw;
        margin:5vw auto;
        .sectionPart{
            padding-bottom:5vw;
            background-color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content:center;
            .paragraph{
                padding: 0 10vw;
                // border: 1px solid;
                h1{
                    text-align:center;
                    padding: 5vw 0 0 ;
                    color: $yellow;
                }
                p{
                    line-height: 36px;
                }
            }
            img{
                display: none;
            }
        }       
    }
    .storyAliens_rwd{
        display: none;
    }
}


//rwd
@include rwd(desktop){
    .story_wrapper{
        @include desktop ();
        // border: 1px solid black;

    }
}    
@include rwd(desktopSmall){
    .story_wrapper{
    //    border: 1px solid blue;
       .story_Alien{
           width: 280px;
           left: 1vw;
       }
       .story_Alien2{
            width: 280px;
        }
        .mrtAlien{
            width: 300px;
            top:30vw;
        }
        .story_map{
            top:65vw;
        }
    }
}
@include rwd(pad){
    .story_wrapper{
        .story_Alien{
            width: 200px;
            left: 0vw;
        }
        .story_Alien2{
             width: 240px;
             top: -15vw;
             right:5vw;
         }
         .mrtAlien{
             width:250px;
             top:45vw;
         }
         .story_map{
             width: 250px;
             top: 85vw;
             right: 0;
         }
    }
}
@include rwd(largeMobile){
    .story_wrapper{
        // border: 1px solid green;
        .mrtAlien, .story_map, .story_Alien, .story_Alien2{
            display: none;
        }
        .storySection{
            .sectionPart{
                .paragraph{
                    img{
                        display: block;
                    }
                }
            }
        }
        .storyAliens_rwd{
            display:block;
            display: flex;
            justify-content:center;
            margin: 0 auto;
            img{
                width:100px;
            }
        }
    }
}

@include rwd(mobile){
    .story_wrapper{
        // border: 1px solid pink;
        .mrtAlien, .story_map, .story_Alien, .story_Alien2{
            display: none;
        }
        .storySection{
            .sectionPart{
                .paragraph{
                    img{
                        display: block;
                    }
                }
            }
        }
        .storyAliens_rwd{
            display:block;
            display: flex;
            justify-content:center;
            margin: 0 auto;
            img{
                width:80px;
            }
        }
    }
}
.myCollection_pop{
    display: none;
    position: absolute;
    top: 3vh;
    left: 50vw;
    right: 50vw;
    .getMyCollection{
        height: 650px;
        .myStores{
            height: 450px;
            overflow: auto;
            width: 300px;
        }
    }
        .getMyStores{
            padding:5px;
            margin-bottom:10px;
            background-color: $lightgreen;
            display: flex;
            border-radius: 10px;
            justify-content:space-around;
            align-items: center;
                .getMyStoresInf{
                    .getStoreInf_star{
                        margin: 5px 0;
                        display: flex;
                        img{
                            width:20px;
                        }
                    }
                    .getStoreInf_station{
                        padding: 5px;
                    }
                    .getStoreInf_tag{
                        padding: 5px;
                        font-size:14px;
                        span{
                            color:$mrtBlue;
                        }
                    }
                   
                }
                .myStorePic{
                    width: 90px;
                    border-radius:50%;
                }
                .heartButton{
                    width: 30px;
                    height: 30px;
                }
        
        }
        .getMyStores:hover{
            border:2px solid $yellow;
        }
        .searchTotal{
            text-align: center;
            padding-top: 20px;
        }
    }
    
    