// Jamie
@include rwd(desktop){
    .headerInner{
        @include desktop ();
    }
}

@include rwd(desktopSmall){
    .headerInner{
        @include desktopSmall ();
    }
}

@include rwd(pad){
    .headerInner{
        @include pad ();
    }
}

@include rwd(largeMobile){
    .headerInner{
        @include largeMobile();
    }
}

@include rwd(mobile){
    .headerInner{
        @include mobile();
    }
}

header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 950;
}

.headerInner {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .logo {
        position: absolute;
        top: 10px;
        width: 110px;
        left: 5%;
        @include rwd(mobile){
            left: 2%;
            width: 80px;
            top: 15px;
            }
    }
}


// 會員登入頭像
.headerInner_login{
    position: fixed;
    top: 5%;
    right: 10%;
    cursor: pointer;
    transition: opacity 1s ease;
    background-image: url('../img/header_story_hover.png.png');
    width: 30px;
    height: 30px;
    z-index: 900;
    background-size: cover;
    @include rwd(pad){
        right: 12%;
    }
    @include rwd(largeMobile){
    right: 12%;
    }
    @include rwd(mobile){
    right: 17%;
    }
    &_link{
        display: block;
        width: 30px;
        height: 30px;
    }
    &:hover{
        background-image: url('../img/header_story.png');
    }
}


// 登入後，會員頭像才會出現的彈窗 
.popUpsLogout.on{
    display: block;
}

.popUpsLogout{
    // display: none;
    position: absolute;
    top: 40px;
    left: -135px;
    @include rwd(largeMobile){
        left: -120px;
        }
    @include rwd(mobile){
        left: -120px;
        }
    &_from{
        padding: 5px 0;
        line-height: 40px;
        width: 250px;
        @include rwd(largeMobile){
            width: 200px;
            }
        @include rwd(mobile){
            width: 200px;
            }
    }
    &_p{
        padding-left: 30px;
        &:hover{
            background-color: $colorTp;
        }
    }
}



    
// 漢堡
.ham {
    position: fixed;
    top: 5%;
    right: 5%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
    // z-index: 999;
    &:hover {
        opacity: 0.7;
      }
  }

// 漢堡原始樣式
.ham span {
    background: $color;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include border_r();
    transition: all 0.35s ease;
    &:nth-of-type(2) {
        top: 11px;
      }
    &:nth-of-type(3) {
        top: 22px;
      }
}

// 漢堡按下去改成 X
.ham.active{
    .ham_top{
        transform: translateY(11px) translateX(0) rotate(45deg);
    }
    .ham_middle {
        opacity: 0;
    }
    .ham_bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
      }
}

// 展開滿版選單-選單區

.header_overlay {
    position: fixed;
    background: $lightgreen;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    transition: opacity 0.35s, height 0.35s;
    &_menu{
        position: relative;
        // height: 70%;
        height: 90%;
        max-height: 600px;
        top: 50%;
        // top: 5%;
        transform: translateY(-50%);
        font-size: $fontSize_Title; 
        text-align: center;
    }
    ul{
        position: relative;
        height: 100%;
        width: 100%;
        // margin-top: -50px;
        // margin-bottom: -50px;
    }        
}
.header_inner_myUFO{
    background-image: url(../img/header_myUFO_hover.png);
    background-repeat: no-repeat;
    background-size: 120px;
    // background-position: 50% 70%;
        &:hover{
            background-image: url(../img/header_myUFO.png);   
        }
        @include rwd(pad){
            background-image: url(../img/header_myUFO.png); 
        }
        @include rwd(largeMobile){
            background-image: url(../img/header_myUFO.png); 
        }
        @include rwd(mobile){
            background-image: url(../img/header_myUFO.png);
        }
    }
    
.header_inner_myPhoto{
    background-image: url(../img/header_myPhoto_hover.png);
    background-repeat: no-repeat;
    background-size: 85px;
    // background-position: 50% 70%;
        &:hover{
            background-image: url(../img/header_myPhoto.png);   
        }
        @include rwd(pad){
            background-image: url(../img/header_myPhoto.png);   
        }
        @include rwd(largeMobile){
            background-image: url(../img/header_myPhoto.png);   
        }
        @include rwd(mobile){
            background-image: url(../img/header_myPhoto.png);   
        }
    }

.header_inner_aboutUs{
    background-image: url(../img/header_story_hover.png.png);
    background-repeat: no-repeat;
    background-size: 85px;
    // background-position: 50% 100%;
        &:hover{
            background-image: url(../img/header_story.png);   
        }
        @include rwd(pad){
            background-image: url(../img/header_story.png);   
        }
        @include rwd(largeMobile){
            background-image: url(../img/header_story.png);     
        }
        @include rwd(mobile){
            background-image: url(../img/header_story.png);     
        }
    } 

// 選單展開後-選單區
.header_overlay.open {
    // z-index: 900;
    opacity: 1;
    visibility: visible;
    height: 100%;
    // 出現的動畫
    .header_list{
        // @include borderTest();
        background-position: 50% 45%;
        display: block;
        width: 100%;
        height: calc(100% / 4);
            @include rwd(pad){
                height: calc(100% / 4);
            }
            @include rwd(largeMobile){
                height: calc(100% / 4);   
            }
            @include rwd(mobile){
                height: calc(100% / 4);   
            }
        position: relative;
        opacity: 0;
        animation: fadeInRight 0.5s ease forwards;
        animation-delay: 0.35s;

        &:nth-of-type(2) {
            animation-delay: 0.4s;
            }
        &:nth-of-type(3) {
            animation-delay: 0.45s;
            }
        &:nth-of-type(4) {
            animation-delay: 0.5s;
            }
        a{
            height: 100%;
            display: block;
            position: relative;
            overflow: hidden;
        }
        &_span{
            position: relative;
            bottom: -120px;
            color: $colorTp;
            &:hover{
                color: $color;
            }
            @include rwd(pad){
                color: $color;
             }
             @include rwd(largeMobile){
                color: $color;  
             }
             @include rwd(mobile){
                color: $color;
             }
        }
        &:hover span{
            color: $color;
        }
    }
}
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  .header_inner{
      &_logo{
          background-image: url('../img/logo.png');
          background-repeat: no-repeat;
          background-position: 50% 0;
      }
      
  }



// 後端用撐出高度
.backendHeader{
    height: 100px;
    position: inherit;
    width: 100%;
        .logo {
            position: absolute;
            top: 10px;
            width: 110px;
            left: 5%;
        } 
        &_nav{
            position: absolute;
            top: 40px;
            right: 10%;
        }
        &_ul{
            display: flex;
        }
        &_li{
            width: 80px;
        }
    }
    
    .backendHeaderInner{
        &_login{
            position: fixed;
            top: 5%;
            right: 5%;
            cursor: pointer;
            transition: opacity 1s ease;
            background-image: url('../img/header_story_hover.png.png');
            width: 30px;
            height: 30px;
            // z-index: 900;
            background-size: cover;
            &_link{
                display: block;
                width: 30px;
                height: 30px;
            }
            &:hover{
                background-image: url('../img/header_story.png');
            }
        }
    }


    // 登出彈窗選項test
    .popUpsLogout{
        display: none;
    }
