// Jamie
@include rwd(desktop){
    .headerInner{
        @include desktop ();
    }
}

@include rwd(pad){
    .headerInner{
        @include pad ();
    }
}

@include rwd(largeMobile){
    .headerInner{
        @include largeMobile();
    }
}

@include rwd(mobile){
    .headerInner{
        @include mobile();
    }
}

header{
    height: 100px;
}

.headerInner {
    // height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .logo {
        position: absolute;
        top: 10px;
        width: 110px;
        left: 5%;
        @include rwd(mobile){
            left: 2%;
            width: 80px;
            top: 15px;
            }
    }
    .ham {
        position: absolute;
        top: 40px;
        right: 5%;

    }
}
