// 抓回上面的100px
.loginMemberPage_Body{
    padding-top: 75px;
    background-color: $bgc;
    background-image: url('../img/story/aliensBg.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 0%;
    // height: 90vh;
    overflow: auto;
    background-attachment: fixed;
}

.loginMemberPage_wrapper{
    height: calc(100vh - 78px);
}
//註冊的表單
.join_form{
    padding-top: 0;
}

//登入與註冊
.login{
    @include block_center();
    padding-bottom: 23px;
    box-shadow: initial;
    // width: 510px;
    // overflow: auto;
    @include rwd(largeMobile){
        // width: 300px;
        // padding: 25px;
        }
    @include rwd(mobile){
        width: 300px;
        padding: 15px;
        }
    // 頭像區塊
    .loginMemberPic{
        // @include borderTest();
        width: 25%;
        @include block_center();
    }
    // 送出按鈕
    @include btn(".btn_submit", $yellow, $tp);
}

// 登入介面下面的忘記密碼
.forgetPassword{
    font-size: $fontSizeSmall;
    text-align: right;
    cursor: pointer;
}

 // 登入成功送出按鈕
 .loginMember_link, .signUpMember_link{
    display: block;
    height: 36px;
    width: 100px;
 } 
#memberLogin_submit, #memberSignUp_submit{
    margin: initial;
}

 // 登入註冊切換區
 .loginSwitch{
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    @include border();
    border-radius: 50px;
    display: flex;
}
.toggolebtn{
        flex-grow: 1;
        text-align: center;
    }

.areaShow{
    background-color: $yellow;
    border-radius: 50px;
    transition: 1, ease-in-out;
}


// 常去站點
.login_station{
    position: relative;
    &_arrow{
        position: absolute;
        top: 13px;
        right: 10px;
        cursor: pointer;
    }
    
    &_select{
        margin-top: -20px;   
        border: 2px solid $lightgreen;
        // display: none;
        span{
            background-color: $lightgreen;
            margin: 5px;
            padding: 5px;
            border-radius:5px;
            display: inline-block;
            cursor: pointer;
        }
        span:hover{
            background-color: $lightgreen;
        }
        .b{
            color:$mrtBlue;
        }
        .r{
            color:$mrtRed;
        }
        .br{
            color: $mrtBrown;
        }
        .g{
            color: $mrtGreen;
        }
        .y{
            color: $mrtYellow;
        }
    }
}

// 美食標籤
.login_tag{
    position: relative;
    &_add{
        position: absolute;
        top: 7px;
        right: 9.8px;
    }
    &_select{
        border: 2px solid $lightgreen;
        span{
            background-color: $lightgreen;
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            display: inline-block;
        }
    }
}

// .login_tag_select.on{
//     margin-top: -40px;
//     margin-bottom: 20px;
//     display: block;
// }


// 認證彈窗verification
.verification{
    form{
        // position: absolute;
        // top: 40px;
        // height: 400px;
    }
    &_logo{
        @include block_center();
        margin-bottom: 20px;
    }
    z-index: 999;
    position: relative;
    bottom: 457px;
}

// .verifiShow{
//     display: block;
// }

// 所有要藏起來的區塊都可以用
.areaHide{
    display: none;
    transition: 1, ease-in-out;
}

// 編輯會員資料開始--------------------------
#memberInfo_edit{
    margin-left: calc((100vw - 400px)/2);
    @include rwd(desktop){
        margin-left: calc((100vw - 1000px)/2);
    }
}

.memberInfo_edit{
    &_form{
        padding: 30px 50px;
        margin-left: initial;
        transform: initial;
        // 電腦時，彈窗寬度1000
        @include rwd(desktop) {
            width: 1000px;
        }
    }
    // 內容區塊，
    &_inner{
        @include rwd(desktop){
        display: flex;
        }
    }
    // 左邊圖片區塊
    &_imgArea{
        width: 200px;
        height: 150px;
        background-image: url('../img/test_login_memberPic.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 100% 20%;
        @include rwd(desktop){
            width: 400px;
            height: 400px;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: 20% 20%;
        }

    }
    &_textArea{
        @include rwd(desktop){
            width: 600px;
            }
    }
    // 文字編輯區，編輯的icon 定位input裡
    &_area{
        position: relative;
    }
    &_editIcon{
        position: absolute;
        right: 5px;
        top: 8px;
        width: 20px;
        height: 20px;
        background-image: url('../img/icon/icon_edit.png');
        background-repeat: no-repeat;
        // background-position: 0 2px;
        background-size: contain;
    }
    .memberInfo_edit_submit{
        margin: initial;
    }
    .memberInfo_edit_title{
        margin: 15px;
    }
}

//喜好標籤的下拉選單
.memberInfo_edit_area{
    &_tag.on{
        display: block;
        margin-bottom: 20px;
        margin-top: -10px;
    }
    &_tag{
        // display: none;
    }
    span{
        background-color: $lightgreen;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
    }
    span:hover{
        background-color: $yellow;
    }
}

//鄰近站點的下拉選單
.memberInfo_edit_area{
    .memberInfo_edit_area_title{
        background-color:white;
    }
    &_stationSelect.on{
        display: block;
        margin-bottom: 20px;
        margin-top: -10px;
    }
    &_stationSelect{
        display: none;
    }
    span{
        background-color: $lightgreen;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
    }
    span:hover{
        background-color: $yellow;
    }
    li{
        padding-left: 10px;
        line-height:36px;
    }
    li:hover{
        background-color: $lightgreen;
    }
    .b{
        color:$mrtBlue;
    }
    .r{
        color:$mrtRed;
    }
    .br{
        color: $mrtBrown;
    }
    .g{
        color: $mrtGreen;
    }
    .y{
        color: $mrtYellow;
    }
}
// 編輯會員資料結束--------------------------

.login_station_select span:hover{
    background-color: $yellow;
}

.inner_block_area{
    p{
        margin: -10px 0 10px 0;
        font-size: 6px;
        color: red;
    }
}

// 忘記密碼彈窗
.verification{
    p{
        margin: -10px 0 10px 0;
        font-size: 6px;
        color: red;
    }
    // 登入／註冊頁面
    .form_forgotpassword{
        position: fixed;
        top: 30px;
        height: 380px;
        @include rwd(desktop) {
            // width: 1000px;
        }
    
        @include rwd(desktopSmall) {
         
        }
    
        @include rwd(pad) {
            
        }
    
        @include rwd(largeMobile) {
            top: 30px;
            height: 370px;
            width: 400px;
        }
    
        @include rwd(mobile) {
            position: fixed;
            top: 90px;
            left: 0px;
            height: 260px;
            width: 240px;
            padding: 5px 20px 0px 20px;
            .ver_submit{
                position: relative;
                bottom: 25px;
            }
            h1{
                margin-bottom: 30px;
                font-size: 15px;
            }
        }
    }
    // 修改會員資料
    .form_forgotpassword_membeer_modify{
        position: fixed;
        top: 150px;
        height: 380px;
        @include rwd(desktop) {

        }
    
        @include rwd(desktopSmall) {
            left: 10px;
            width: 330px;
        }
    
        @include rwd(pad) {
            left: 10px;
            width: 330px;
        }
    
        @include rwd(largeMobile) {
            left: 10px;
            width: 330px;
        }
    
        @include rwd(mobile) {
            position: fixed;
            top: 280px;
            left: 0px;
            height: 260px;
            width: 240px;
            padding: 5px 20px 0px 20px;
            .ver_submit{
                position: relative;
                bottom: 25px;
            }
            h1{
                margin-bottom: 30px;
                font-size: 15px;
            }
        }
    }
}


.form_station_board {
    position: fixed;
    top: 50px;
    left: 0;
}

.form_tag_board{
    position: fixed;
    top: 125px;
    left: 0;
}

.form_tag_board_member_modify{
    position: fixed;
    top: 100px;
    left: 9px;
}

.form_station_board_member_modify{
    position: fixed;
    top: 100px;
    left: 9px;
}