// 商家專區
// 繼承會員登入註冊部分scss

// 抓回上面的100px
.loginStorePage_Body{
    padding-top: 100px;
    background-color: $bgc;
}

.storeLogin_signup{
	@include rwd(desktop){
    // display: none;
    width: 1000px;
	}
	@include rwd(desktopSmall){
        width: 1000px;
	}
	@include rwd(pad){
        width: 600px;
	}
	@include rwd(largeMobile){
        width: 540px;
	}
	@include rwd(mobile){
        width: 300px;
	}
}

.login_store_welcome{
    margin: 20px 0;
}

.store_signUp_basicInfo{
    position: relative;
    &::after{
        @include lightLine();
    }
    h2{
        line-height: 50px;
    }
}

// 同意遵守商家守則
.checkboxArea{
    display: block;
    padding-top: 10px;
    cursor: pointer;
    .checkbox[type="checkbox"] {
      display: none;
    }
    .checkbox[type="checkbox"]+span {
        display: inline-block;
        padding-left: 26px;
        line-height: 20px;
        background: url('../img/icon/icon_checkBox.png') no-repeat left top;
               user-select: none;
    }
  }

  .checkbox[type="checkbox"]:checked+span {
    background: url('../img/icon/icon_checked.png') no-repeat left top;
  }

  .checkboxArea_read{
    font-size: $fontSizeSmall;
    line-height: 20px;
  }

// 有編輯icon的小標
.store_signUp{
    &_title{
        h2{
            display: inline-block;
        }
    }
    &_editIcon{
        width: 20px;
        height: 20px;
        background-image: url('../img/icon/icon_edit.png');
        background-repeat: no-repeat;
        background-position: 0 2px;
        background-size: contain;
    }
}

// 商家鄰近捷運站
.login_store_station{
    position: relative;
    &_arrow{
        position: absolute;
        top: 13px;
        right: 10px;
    }
    &_select{
        margin-top: -20px;   
        border: 2px solid $lightgreen;
        display: none;
        li{
            padding-left: 10px;
            line-height:36px;
        }
        li:hover{
            background-color: $lightgreen;
        }
        .b{
            color:$mrtBlue;
        }
        .r{
            color:$mrtRed;
        }
        .br{
            color: $mrtBrown;
        }
        .g{
            color: $mrtGreen;
        }
        .y{
            color: $mrtYellow;
        }
    }
}

.login_store_station_select.on{
    margin-bottom: 20px;
    display: block;
}



//照片上傳區

.store_imgArea {
    @include block_center(); //區塊置中
    width: 1000px;
    padding: 0 40px 20px;
    text-align: center;
    @include rwd(pad){
        width: 600px;
        }
    @include rwd(largeMobile){
        width: 540px;
        }
    @include rwd(mobile){
        width: 300px;
        }
    .pho_edit_top{
        justify-content: space-between;
        margin: 20px 0;
        display: flex;
        @include rwd(pad){
            display: block;
            @include block_center(); 
            }
        @include rwd(largeMobile){
            display: block;
            @include block_center(); 
            }
        @include rwd(mobile){
            display: block;
            @include block_center(); 
            }
        // 照片上傳
        .pho_edit{
            width: 300px;
            height:260px;
            background-color: $colorTp;
            text-align: center;
            padding-top: 20%;
            @include rwd(mobile){
                width: 280px;
                @include block_center(); 
                }
            
        }
    }
    &_subtitle{
        line-height: 25px;
        @include rwd(pad){
            text-align: initial;
            margin-top: 10px;
            }
        @include rwd(largeMobile){
            text-align: initial;
            margin-top: 10px;
            }
        @include rwd(mobile){
            text-align: initial;
            margin-top: 10px;
            }
    }

}

.blockBlock{
    display: block;
}

.blockNone{
    display: none;
}

