.login{
    @include block_center();

    // 頭像區塊
    .loginMemberPic{
        @include borderTest();
        width: 50%;
        @include block_center();
    }

    // 送出按鈕
    @include btn(".btn_submit", $yellow, $tp);
}

.forgetPassword{
    font-size: $fontSizeSmall;
    text-align: right;
}

 // 登入註冊切換區
 .loginSwitch{
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    @include border();
    border-radius: 50px;
    display: flex;
}
.toggolebtn{
        flex-grow: 1;
        text-align: center;
    }

.areaShow{
    background-color: $yellow;
    border-radius: 50px;
    transition: 1, ease-in-out;
}


// 常去站點
.login_station{
    position: relative;
    &_arrow{
        position: absolute;
        top: 13px;
        right: 10px;
    }
    
    &_select{
        margin-top: -20px;   
        border: 2px solid $lightgreen;
        display: none;
        li{
            padding-left: 10px;
            line-height:36px;
        }
        li:hover{
            background-color: $lightgreen;
        }
        .b{
            color:$mrtBlue;
        }
        .r{
            color:$mrtRed;
        }
        .br{
            color: $mrtBrown;
        }
        .g{
            color: $mrtGreen;
        }
        .y{
            color: $mrtYellow;
        }
    }
}

.login_station_select.on{
    margin-bottom: 20px;
    display: block;
}

// 美食標籤
.login_tag{
    position: relative;
    margin-top: -20px; 
    &_add{
        position: absolute;
        top: 7px;
        right: 9.8px;
    }
}

// 認證彈窗verification
.verification{
    &_logo{
        @include block_center();
        margin-bottom: 20px;
    }
}

.verifiShow{
    display: block;
}

// 所有要藏起來的區塊都可以用
.areaHide{
    display: none;
    transition: 1, ease-in-out;
}