// 商家專區
// 繼承會員登入註冊部分scss
#storeLogin_popups{
    position: absolute;
    display: none;
    z-index: 999;
}

#store_signUp{
    position: absolute;
    display: none;
    z-index: 999;
}

.login_store_welcome{
    margin: 20px 0;
}

.store_signUp_basicInfo{
    position: relative;
    &::after{
        @include lightLine();
    }
    h2{
        line-height: 50px;
    }
    p{
        font-weight: bold;
        line-height: 30px;
    }
}

// 同意遵守商家守則
.checkboxArea{
    display: block;
    padding-top: 10px;
    cursor: pointer;
    .checkbox[type="checkbox"] {
      display: none;
    }
    .checkbox[type="checkbox"]+span {
        display: inline-block;
        padding-left: 26px;
        line-height: 20px;
        background: url('../img/icon/icon_checkBox.png') no-repeat left top;
               user-select: none;
    }
  }

  .checkbox[type="checkbox"]:checked+span {
    background: url('../img/icon/icon_checked.png') no-repeat left top;
  }

  .checkboxArea_read{
   
    font-size: $fontSizeSmall;
    line-height: 20px;
  }

// 有編輯icon的小標
.store_signUp{
    &_title{
        h2{
            display: inline-block;
        }
    }
    &_editIcon{
        width: 20px;
        height: 20px;
        background-image: url('../img/icon/icon_edit.png');
        background-repeat: no-repeat;
        background-position: 0 2px;
        background-size: contain;
    }
}


// 商家鄰近捷運站
.login_store_station{
    position: relative;
    &_arrow{
        position: absolute;
        top: 13px;
        right: 10px;
    }
    &_select{
        margin-top: -20px;   
        border: 2px solid $lightgreen;
        display: none;
        li{
            padding-left: 10px;
            line-height:36px;
        }
        li:hover{
            background-color: $lightgreen;
        }
        .b{
            color:$mrtBlue;
        }
        .r{
            color:$mrtRed;
        }
        .br{
            color: $mrtBrown;
        }
        .g{
            color: $mrtGreen;
        }
        .y{
            color: $mrtYellow;
        }
    }
}

.login_store_station_select.on{
    margin-bottom: 20px;
    display: block;
}

// 商家照片
.store_imgArea{
    display: flex;
    padding-bottom: 10px;
    &_s{
        display: flex;
        flex-wrap: wrap;  
    }
}
.store_signUp_dropZone{
    &_big{
        @include border($colorTp);
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        margin-right: 20px;
    }
    &_mid{
        @include border($colorTp);
        width: 45px;
        height: 45px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}        
// 為了斷行         
#store_signUp_dropZone_look{
    margin-right: 20px;
}