//這個勿改
//宣告組合功能,像JavaScript 裡的function;
//用法: @include 名稱(); 呼叫

//物件水平垂直置中
@mixin marginCenter() {
    margin: 0 auto;
}

//區塊置中
@mixin block_center {
    margin-left: 50%;
    transform: translateX(-50%);
}

// 外框圓弧
@mixin border_r() {
    border-radius: 5px;
}

//外框線(預設是品牌黃)
@mixin border($bdColor:$yellow) {
    border: 1px solid $bdColor;
}

//測試用的紅色外框線
@mixin borderTest($bdColor:red) {
    border: 1px solid $bdColor;
}

// 陰影
@mixin shadow {
    box-shadow: -2px 2px 5px #6c584c;
}

//方形按鈕
@mixin btn($class, $bgc, $borderColor) {
    #{$class} {
        width: 100px;
        height: 36px;
        margin: 20px;
        font-size: $fontSizeLink;
        line-height: 36px;
        color: $color;
        text-align: center;
        transition: 0.5s ease-in-out;
        background: $bgc;
        border: 1px solid $borderColor;
        border-radius: 10px;
        @include border_r();
        &:hover {
            cursor: pointer;
            color: darken($bgc, 20);
        }
    }
}


//關閉那個XX
@mixin btn_close($class) {
    #{$class} {
        border: none;
        background-color: $tp;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

//grid
@mixin grid($num) {
    @for $i from 1 through $num {
        .col-#{$i} {
            width: ($i/$num) * 100%;
            display: inline-block;
            @content; //可擴增屬性
        }
    }
}


//RWD
@mixin rwd($breakpoint) {
    @if $breakpoint == "desktop" {
        @media all and (min-width: 1200px) {
            @content;
        }
    } @else if $breakpoint == "desktopSmall" {
        @media all and(max-width: 1199px) and (min-width: 992px) {
            @content;
        }
    }@else if $breakpoint == "pad" {
        @media all and(max-width: 991px) and (min-width: 768px) {
            @content;
        }
    } @else if $breakpoint == "largeMobile" {
        @media all and(max-width: 767px) and (min-width: 576px) {
            @content;
        }
    } @else if $breakpoint == "mobile" {
        @media all and (max-width: 575px) {
            @content;
        }
    }
}


// >1200 1140
// 992~1199 >>960

// 最外層
@mixin desktop {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

@mixin desktopSmall {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

@mixin pad {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

@mixin largeMobile {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
}

@mixin mobile {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}


//滿版或1200
@mixin layout($w) {
    @if $w == 100 {
        width: 100vw;
        height: 100vh;
    } @else {
        max-width: $w;
        margin: 0 auto;
    }
}

// 氣質線
@mixin lightLine ($w:100%, $h:1px, $c:$colorTp){
    content: " ";
    width: $w;
    height: $h;
    background-color: $c;
    position: absolute;
    bottom: 0;
    display: block;
}
