<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      @@include('layout/style.html')
      <title>商家管理</title>
  </head>
  <body class="backend_body">

    @@include('layout/header_backend.html')
        <div class="wrapper backendStoreWrapper" id="backendStoreWrapper">
            @@include('layout/backendStoreSubmenu.html')
            <!-- 表單從這裡開始 -->
            <section>
                <div class="backend_store">
                    <table class="backend_store_table">
                        <tr>
                            <th>商家編號</th>
                            <th>商家名稱</th>
                            <th>商家等級</th>
                            <th>審核進度</th>
                            <th>商家管理</th>
                        </tr>
        
                        <tr v-for="store in stores.slice(pageStart , pageStart+countOfPage)" class="backend_store_list">
                            <td>{{store.store_id}}</td>
                            <td>{{store.store_name}}</td>
                            <td>{{storeLevel[store.store_level]}}</td>
                            <td>{{storeSubmit[store.store_submit]}}</td>
                            <td @click="getStoreEdit(store)">
                                <img class="Edit_action" src="./img/icon/icon_edit.png" alt="">
                            </td>
                        </tr>
                    </table>
                </div> 
                <!-- 頁碼 -->
                <div class="backendStore_pagination">
                    <ul class="backendStore_pagination_ul">
                        <li @click="setPage(currentPage-1)" :class="{'disabled': (currentPage===1)}">
                            <button href="">prev</button>
                        </li>
                        <li v-for="page in totalPage" @click="setPage(page)">
                            <button href="">{{page}}</button>
                        </li>
                        <li class="page-item" @click="setPage(currentPage+1)" :class="{'disabled': (currentPage===totalPage)}">
                            <button href="">next</button>
                        </li>
                    </ul>
                </div>
                <!-- 商家資料編輯彈窗 -->
                <div v-show="editStore" class="backend_store_editForm">
                    <div class="form storeLogin_signup backend_store_edit_form" enctype="multipart/form-data">
                        <!-- close button -->
                        <button type="button" class="btn_close" @click="closeStoreEdit">
                            <img src="./img/icon/icon_close.png" alt="" />
                        </button>
                        <!-- 資料區域 -->
                        <section class="backend_store_editForm_infoArea">
                            <section v-if="storeDetail">
                                <h1 class="">商家資訊</h1>
                            <table class="backend_store_edit_table">
                                <tr>
                                    <td class="backend_store_td">餐廳編號</td>
                                    <td class="backend_store_td">{{storeDetail.store_id}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">餐廳名稱</td>
                                    <td class="backend_store_td">{{storeDetail.store_name}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">餐廳電話</td>
                                    <td class="backend_store_td">{{storeDetail.store_tel}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">餐廳地址</td>
                                    <td class="backend_store_td">{{storeDetail.store_address}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">聯絡人</td>
                                    <td class="backend_store_td">{{storeDetail.contact_name}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">聯絡電話</td>
                                    <td class="backend_store_td">{{storeDetail.contact_tel}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">E-Mail</td>
                                    <td class="backend_store_td">{{storeDetail.contact_email}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">客單價</td>
                                    <td class="backend_store_td">{{storeDetail.price_interval}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">鄰近捷運站</td>
                                    <td class="backend_store_td">{{storeDetail.station_name}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">關鍵字1</td>
                                    <td class="backend_store_td">{{storeDetail.store_tag1}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">關鍵字2</td>
                                    <td class="backend_store_td">{{storeDetail.store_tag2}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">關鍵字3</td>
                                    <td class="backend_store_td">{{storeDetail.store_tag3}}</td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">等級</td>
                                    <td class="backend_store_td">{{storeLevel[storeDetail.store_level]}}
                                </td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">狀態</td>
                                    <td class="backend_store_td">{{storeStatus[storeDetail.store_status]}}
                                </td>
                                </tr>
                                <tr>
                                    <td class="backend_store_td">進度</td>
                                    <td class="backend_store_td">{{storeSubmit[storeDetail.store_submit]}}</td>
                                </tr>
                            </table>
                            </section>
                            <section>
                                <h1>商家照片</h1>
                                <div class="backend_store_imgArea">
                                    <div class="store_imgArea_dropArea">
                                        <div class="backend_store_imgArea_picEdit">
                                            <h3 class="store_imgArea_subtitle">形象海報</h3>
                                            <div v-if="storeDetail">
                                                <img class="backend_store_img" :src="[`./img/upload/food/`+ storeDetail.image_img]"/>
                                            </div>
                                        </div>
                                        <div class="backend_store_imgArea_picEdit">
                                            <h3 class="store_imgArea_subtitle">店景</h3>
                                            <div v-if="storeDetail">
                                                <img class="backend_store_img" :src="[`./img/upload/food/`+ storeDetail.store_img]"/>
                                            </div>
                                        </div>
                                        <div class="backend_store_imgArea_picEdit">
                                            <h3 class="store_imgArea_subtitle">菜單</h3>
                                            <div v-if="storeDetail">
                                                <img class="backend_store_img" :src="[`./img/upload/food/`+ storeDetail.menu_img]"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="store_imgArea_dropArea">
                                        <div class="backend_store_imgArea_picEdit">
                                            <h3 class="store_imgArea_subtitle">餐點照</h3>
                                            <div v-if="storeDetail">
                                            <img class="backend_store_img" :src="[`./img/upload/food/`+ storeDetail.food1_img]"/>
                                            </div>
                                        </div>
                                        <div class="backend_store_imgArea_picEdit">
                                            <h3 class="store_imgArea_subtitle">餐點照</h3>
                                            <div v-if="storeDetail">
                                            <img class="backend_store_img" :src="[`./img/upload/food/`+ storeDetail.food2_img]"/>
                                            </div>
                                        </div>
                                        <div class="backend_store_imgArea_picEdit">
                                            <h3 class="store_imgArea_subtitle">餐點照</h3>
                                            <div v-if="storeDetail">
                                            <img class="backend_store_img" :src="[`./img/upload/food/`+ storeDetail.food3_img]"/>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="backend_store_editForm_editArea">
                                    <div class="login_price">
                                        <h2 class="backendStore_h2">商家狀態</h2>
                                        <input type="text" placeholder="狀態" class="input" v-model="selectedStatus"/>
                                        <!-- 隱藏欄位 -->
                                        <input type="hidden" name="editStatus_id" v-model="selectedStatusId" value="editStatus_id"/>
                                        <img class="storeBack_arrow" src="./img/icon/icon_next_line.png" @click="status_board_show">
                                        <ul class="login_price_select" v-show="close_status_board">
                                            <li v-for="status in statuses" @click="getStatus(status)" class="br backendStore_li"> {{status.text}} </li>
                                        </ul>
                                    </div>
                                    <div class="login_price">
                                        <h2 class="backendStore_h2">商家等級</h2>
                                        <input type="text" placeholder="等級" class="input" v-model="selectedLevel"/>
                                        <!-- 隱藏欄位 -->
                                        <input type="hidden" name="editLevel_id" v-model="selectedLevelId" value="editStatus_id"/>
                                        <img class="storeBack_arrow" src="./img/icon/icon_next_line.png" @click="level_board_show">
                                        <ul class="login_price_select" v-show="close_level_board">
                                            <li v-for="level in levels" @click="getLevel(level)" class="br backendStore_li"> {{level.text}} </li>
                                        </ul>
                                    </div>
                                    </section>
                                </div>
                            </section>
                        </section>
                        <div class="buttonArea">
                            <button @click="closeStoreEdit" class="btn_cancel">
                                取消
                            </button>
                            <button @click="editStoreDetail" class="btn_submit">
                                送出
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 商家資料編輯彈窗結束 -->
            </section>
        </div> 
        @@include('layout/footer1.html')
    <script src="./js/backend.js"></script>
    <script>

new Vue({
    el: '#backendStoreWrapper',
    data: {
      storeStatus: [0,"啟用","停權"],
      storeLevel: [0, "菇菇級", "松茸級"],
      storeSubmit: [0, "已審核", "審核中"],
    //   editStore :true, //打開編輯
      editStore :false, //關閉編輯
      statuses: [
        { text :'啟用',value:1},
        { text :'停權', value:2},           
      ],
      submits: [
        { text :'已審核',value:1},
        { text :'審核中', value:2},           
      ],
      levels: [
        { text :'菇菇級',value:1},
        { text :'松茸級', value:2},           
      ],
      selectedStatus: '',
      selectedStatusId: '',
      status: '',
      selectedSubmit: '',
      selectedSubmitId: '',
      submit: '',
      selectedLevel: '',
      selectedLevelId: '',
      level: '',
      close_status_board: false,
      close_submit_board: false,
      close_level_board: false,
      stores:  [],//ajax撈來的所有商家
      storeDetail: null, //單一店商資訊
      stopStores: [],
      countOfPage: 10,
      currentPage: 1,
    },
    methods: {
        getStoreEdit(store) {
          this.editStore = true;
          this.storeDetail = store;
          this.selectedStatusId = store.store_status;
          this.selectedSubmitId = store.store_submit;
          this.selectedLevelId = store.store_level;
      },
      closeStoreEdit(){
          this.editStore = false;
      },
      getStatus(status){
        // console.log(status);
          this.selectedStatus = status.text;
          this.selectedStatusId = status.value;
          this.close_status_board = false;
      },
      status_board_show(){
          this.close_status_board = !this.close_status_board;
      },
      getSubmit(submit){
          this.selectedSubmit = submit.text;
          this.selectedSubmitId = submit.value;
          this.close_submit_board = false;
      },
      submit_board_show(){
          this.close_submit_board = !this.close_submit_board;
      },
      getLevel(level){
          this.selectedLevel = level.text;
          this.selectedLevelId = level.value;
          this.close_level_board = false;
      },
      level_board_show(){
          this.close_level_board = !this.close_level_board;
      },
      setPage(page){
          this.currentPage = page;
      },
      displayStore(response) {
        self.stores = response;
        // console.log(self.stores);
      }, 
    editStoreDetail(e){    
        var self = this;

        var storeId = this.storeDetail.store_id;
        var editStatus = this.selectedStatusId;
        var editSubmit = this.selectedSubmitId;
        var editLevel = this.selectedLevelId;
        $.ajax({            
            method: "POST",
            url: "./php/Backend/API/storeUpdate.php",
            data:{ 
            storeId,
            editStatus,
            editSubmit,
            editLevel,
            },            
            success: function (response) {
                self.editStore = false;
                location.reload();
            },
            error: function(exception) {
                console.log(exception);
            }
        });
        },
    },
    computed: {
        totalPage(){
            return Math.ceil(120 / this.countOfPage);
        },
        pageStart(){ //index: 0-7, 8-15, 16-23, 24...
            return (this.currentPage - 1) * this.countOfPage;
        },
    },

    mounted() {
      var self = this;
      init(); //登入檢查
      function init() {
        $.ajax({
          method: "POST",
          url: "./php/Backend/API/BackendLoginCheck.php",
          data: {},
          dataType: "text",
          success: function success(response) {
            if (response == "") {
              alert('請先登入，將前往登入頁');
              location.href = 'login_store.html';
            } else {
              getStoreList();
            }
          },
          error: function error(exception) {
            alert("數據載入失敗1: " + exception.status);
          }
        });
      } 
      // 撈商家資料
      function getStoreList(){    
        $.ajax({            
            method: "POST",
            url: "./php/Backend/API/storeList.php",
            data:{},            
            dataType: "json",
            success: function (response) {
              displayStore(response);              
            },
            error: function(exception) {
              alert(exception.responseText);
                alert("數據載入失敗: " + exception.status);
            }
        });
    }
    //顯示商家資料
      function displayStore(response) {
        self.stores = response;
        console.log(self.stores);
      } 
    },
  });

    </script>
  </body>
</html>
