<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- swiper CDN -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>    
<!-- 有要連的CDN放這裡，記得寫註解! -->
<link rel="stylesheet" href="./css/style.css" />
<!-- favicon -->
<link rel="shortcut icon" href="./img/favioion.ico" />
<link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
<!-- 新增的js檔放這裡，記得寫註解! -->
<!-- jQuery CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

<!-- 共用的js -->
<script src="js/style.js" async></script>

<!-- chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Vue.js CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>

<!-- email.js CDN -->
<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script type="text/javascript">
    (function(){
    emailjs.init("user_ReqEW2MXqgQehsAN6DYV5");
    })();
</script>
<!-- smtp.js CDN -->
<script src="https://smtpjs.com/v3/smtp.js"></script>
<!-- slick CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
<!-- axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- html2canvas -->
<script src="https://unpkg.com/html2canvas@1.0.0-rc.7/dist/html2canvas.js"></script>


  <title>更衣間</title>
 
</head>

<body class="myUFO_wardrobe_body" onload="getRole()">
    <header>
	<div class="headerInner">
		<!-- Logo -->
		<a href="./index.html" class="logo">
			<img src="./img/logo.png" alt="" />
		</a>
		<!-- 會員頭像 class="header" => el-->
		<div id="header_popups_container" @click="header_toggle" class="header">
			<!-- headerInner_login => 頭像 -->
			<div class="headerInner_login " id="headerInner_login" data-target="header_avatar">
				<!-- 彈窗 -->
				<div class="popUps popUpsLogout" id="header_popup" v-show="toggle">
					<div class="form popUpsLogout_from" data-target="header_popup">
						
					</div>
				</div>
			</div>
		</div>
		<!-- 漢堡圖 -->
		<div class="ham" id="ham_icon">
			<span class="ham_top"></span>
			<span class="ham_middle"></span>
			<span class="ham_bottom"></span>
		</div>

		<div class="header_overlay" id="header_overlay">
			<nav class="header_overlay_menu">
				<ul>
					<li class="header_list header_inner_logo">
						<a href="./index.html">
						</a>
					</li>
					<li class="header_list header_inner_myUFO pageUFO">
						<a href="./myUFO.html">
							<span class="header_list_span">我的飛碟</span>
						</a>
					</li>
					<li class="header_list header_inner_myPhoto @@classFP">
						<a href="./myphoto.html">
							<span class="header_list_span">美食拍立得</span>
						</a>
					</li>
					<li class="header_list header_inner_aboutUs @@classFU">
						<a href="./story.html">
							<span class="header_list_span">外食故事</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<script>
	// 打開漢堡
	$('#ham_icon').click(function () {
		$(this).toggleClass('active');
		$('#header_overlay').toggleClass('open');
	});

	// 滑鼠往下滾，header就會出現底色
	var prevScrollpos = window.pageYOffset;
	window.onscroll = function () {
		var currentScrollPos = window.pageYOffset;
		if (prevScrollpos > currentScrollPos) {
			$('header').css('background', 'transparent')
		} else {
			$('header').css('background', 'rgba(251,255,232,0.5)')
		}
		prevScrollpos = currentScrollPos;
	}

	// 會員登出與修改資料的彈窗
	new Vue({
		el: '.header',
		data: {
			toggle: false,
		},
		methods: {
			header_toggle() {
				this.toggle = !this.toggle;
				// this.loginCheck();
			},
		},
	});

	(function (res) {
		axios
			.get("./php/Frontend/API/Member_Login_Check.php")
			.then((res) => {
				const data = res.data;
				if(data != ''){
					header_popup_login(data);
					header_avatar(); 
				}else{
					header_popup_login_not(data);
				};
				// console.log(data);
			})
	})();

	function header_popup_login(data) {
		// console.log(data);
		const header_popup = document.querySelector('[data-target="header_popup"]');
		header_popup.innerHTML = `
				<img src="./img/tang/ET004.png">
				<div>
					<a><p class="popUpsLogout_p"><span>${data}</span></p></a>
					<a href="./login_member_modify.html">
						<p class="popUpsLogout_p">修改會員資料</p>    
					</a>
					<a href='./php/Frontend/API/Member_Logout.php'>
						<p class="popUpsLogout_p">登出</p>
					</a>
				</div>
		`
	};

	function header_popup_login_not(data) {
		// console.log(data);
		const header_popup = document.querySelector('[data-target="header_popup"]');
		header_popup.innerHTML = `
				<a href="./login_member.html">
					<p class="popUpsLogout_p">登入/註冊</p>    
				</a>
		`
	};

	function header_avatar(){
		$('[data-target="header_avatar"]').css('background-image', "url('./img/header_story.png')");
	}


</script>


  <!-- -----------------------------------===----- -->
  <div class="wrapper wardrobe_wrapper" id="app_myufo_wardrobe">
      
    <div class="wardrobe_bg">
    <img src="./img/mimi/Backgroundimage.png" alt="" class="wardrobe_bg1">
    <img src="./img/mimi/Backgroundimage2.png" alt="" class="wardrobe_bg2">
    <img src="./img/mimi/Backgroundimaipad.png" alt="" class="wardrobe_ipad">
    <img src="./img/mimi/Backgroundimage_phone3.png" alt="" class="wardrobe_phone">
    <img src="./img/mimi/curtain.png" alt="" class="curtain">
   </div>



    <div class="wardrobe_left">
        <div class="wardrobe_Speech_circle2" >
            <img src="./img/mimi/Speech_circle2.svg" alt="">
        </div>

        <div class="wardrobe_character" data-target="wardrobe_character">
            <img src="./img/mimi/alienTest.png" alt="">
        </div>

        <div class="wardrobe_character">
            <img class="wardrobe_character_clothe" v-if="wardrobe_character_clothe == 1" src="./img/mimi/character/clothe1.png" alt="">
            <img class="wardrobe_character_clothe" v-if="wardrobe_character_clothe == 2" src="./img/mimi/character/clothe2.png" alt="">
            <img class="wardrobe_character_clothe" v-if="wardrobe_character_clothe == 3" src="./img/mimi/character/clothe3.png" alt="">
            <img class="wardrobe_character_clothe" v-if="wardrobe_character_clothe == 4" src="./img/mimi/character/clothe4.png" alt="">
            <img class="wardrobe_character_clothe" v-if="wardrobe_character_clothe == 5" src="./img/mimi/character/clothe5.png" alt="">
            <img class="wardrobe_character_cap" v-if="wardrobe_character_cap == 1" src="./img/mimi/character/cap1.png" alt="">
            <img class="wardrobe_character_cap" v-if="wardrobe_character_cap == 2" src="./img/mimi/character/cap2.png" alt="">
            <img class="wardrobe_character_cap" v-if="wardrobe_character_cap == 3" src="./img/mimi/character/cap3.png" alt="">
            <img class="wardrobe_character_cap" v-if="wardrobe_character_cap == 4" src="./img/mimi/character/cap4.png" alt="">
            <img class="wardrobe_character_cap" v-if="wardrobe_character_cap == 5" src="./img/mimi/character/cap5.png" alt="">
            <img class="wardrobe_character_fitting" v-if="wardrobe_character_fitting == 1" src="./img/mimi/character/fitting1.png" alt="">
            <img class="wardrobe_character_fitting" v-if="wardrobe_character_fitting == 2" src="./img/mimi/character/fitting2.png" alt="">
            <img class="wardrobe_character_fitting" v-if="wardrobe_character_fitting == 3" src="./img/mimi/character/fitting3.png" alt="">
            <img class="wardrobe_character_fitting" v-if="wardrobe_character_fitting == 4" src="./img/mimi/character/fitting4.png" alt="">
            <img class="wardrobe_character_fitting" v-if="wardrobe_character_fitting == 5" src="./img/mimi/character/fitting5.png" alt="">
        </div>

        <div class="wardrobe_border">
            <img src="./img/mimi/wardrobe_border.png" alt="">
        </div>
    </div>

    <!-- <div class="wardrobe_cabinet">
 <img src="./img/mimi/wardrobe_cabinet.svg" alt="">
</div> -->

    <div class="wardrobe_Points">
        <img src="./img/mimi/Points.svg" alt="">
        <h1 id="total_point"></h1>
    </div>




    <!-- 選擇區 -->

    <div class="mimitab">

        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
            <li><a href="#tab1" class="active">衣服</a></li>
            <li><a href="#tab2">頭飾</a></li>
            <li><a href="#tab3">配件</a></li>
        </ul>
        <section id="first-tab-group" class="tabgroup">
            <div class="tabgroup_tab" id="tab1">
                <div class="swiper-container" id="swiper-container-two">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper ">
                        <!-- Slides -->
                        <div class="swiper-slide mimislide" id="own_clothe1" @click="wardrobe_character_clothe = 1">
                            <img src="./img/mimi/Paid/clothes/Paid_clothes5.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="own_clothe2" @click="wardrobe_character_clothe = 2">
                            <img src="./img/mimi/Paid/clothes/Paid_clothes4.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="own_clothe3" @click="wardrobe_character_clothe = 3">
                            <img src="./img/mimi/Paid/clothes/Paid_clothes3.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="own_clothe4" @click="wardrobe_character_clothe = 4">
                            <img src="./img/mimi/Paid/clothes/Paid_clothes2.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="own_clothe5" @click="wardrobe_character_clothe = 5">
                            <img src="./img/mimi/Paid/clothes/Paid_clothes.png" alt=""></div>
                    </div>
                </div>
                <hr class="lineline" />
                <div class="swiper-container" id="swiper-container-two">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide mimislide" id="store_clothe1" @click="wardrobe_character_clothe = 1"><img src="./img/mimi/Unpaid/clothes/Unpaid_clothes5.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="store_clothe2" @click="wardrobe_character_clothe = 2"><img src="./img/mimi/Unpaid/clothes/Unpaid_clothes4.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="store_clothe3" @click="wardrobe_character_clothe = 3"><img src="./img/mimi/Unpaid/clothes/Unpaid_clothes3.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="store_clothe4" @click="wardrobe_character_clothe = 4"><img src="./img/mimi/Unpaid/clothes/Unpaid_clothes2.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="store_clothe5" @click="wardrobe_character_clothe = 5"><img src="./img/mimi/Unpaid/clothes/Unpaid_clothes.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="tabgroup_tab" id="tab2">
                <div class="swiper-container" id="swiper-container-two">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide mimislide" id="own_cap1" @click="wardrobe_character_cap = 1"><img src="./img/mimi/Paid/Headwear/Paid_Headwear.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="own_cap2" @click="wardrobe_character_cap = 2"><img src="./img/mimi/Paid/Headwear/Paid_Headwear5.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="own_cap3" @click="wardrobe_character_cap = 3"><img src="./img/mimi/Paid/Headwear/Paid_Headwear4.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="own_cap4" @click="wardrobe_character_cap = 4"><img src="./img/mimi/Paid/Headwear/Paid_Headwear2.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="own_cap5" @click="wardrobe_character_cap = 5"><img src="./img/mimi/Paid/Headwear/Paid_Headwear3.png" alt=""></div>
                    </div>
                </div>
                <hr class="lineline" />
                <div class="swiper-container" id="swiper-container-two">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide mimislide" id="store_cap1" @click="wardrobe_character_cap = 1"><img src="./img/mimi/Unpaid/Headwear/Unpaid_Headwear.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="store_cap2" @click="wardrobe_character_cap = 2"><img src="./img/mimi/Unpaid/Headwear/Unpaid_Headwear5.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="store_cap3" @click="wardrobe_character_cap = 3"><img src="./img/mimi/Unpaid/Headwear/Unpaid_Headwear4.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="store_cap4" @click="wardrobe_character_cap = 4"><img src="./img/mimi/Unpaid/Headwear/Unpaid_Headwear2.png" alt=""></div>
                        <div class="swiper-slide mimislide" id="store_cap5" @click="wardrobe_character_cap = 5"><img src="./img/mimi/Unpaid/Headwear/Unpaid_Headwear3.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="tabgroup_tab" id="tab3">
                <div class="swiper-container" id="swiper-container-two">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide mimislide" id="own_fitting1" @click="wardrobe_character_fitting = 1"><img src="./img/mimi/Paid/Accessories/Paid_Accessories.png" alt="" class="Accessoriesimg"></div>
                        <div class="swiper-slide mimislide" id="own_fitting2" @click="wardrobe_character_fitting = 2"><img src="./img/mimi/Paid/Accessories/Paid_Accessories2.png" alt="" class="Accessoriesimg"></div>
                        <div class="swiper-slide mimislide" id="own_fitting3" @click="wardrobe_character_fitting = 3"><img src="./img/mimi/Paid/Accessories/Paid_Accessories3.png" alt="" class="Accessoriesimg"></div>
                        <div class="swiper-slide mimislide" id="own_fitting4" @click="wardrobe_character_fitting = 4"><img src="./img/mimi/Paid/Accessories/Paid_Accessories4.png" alt="" class="Accessoriesimg"></div>
                        <div class="swiper-slide mimislide" id="own_fitting5" @click="wardrobe_character_fitting = 5"><img src="./img/mimi/Paid/Accessories/Paid_Accessories5.png" alt="" class="Accessoriesimg"></div>
                    </div>
                </div>
                <hr class="lineline" />
                <div class="swiper-container" id="swiper-container-two">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide mimislide" id="store_fitting1" @click="wardrobe_character_fitting = 1"><img src="./img/mimi/Unpaid/Accessories/Unpaid_Accessories.png" alt="" class="Accessoriesimg"></div>
                        <div class="swiper-slide mimislide" id="store_fitting2" @click="wardrobe_character_fitting = 2"><img src="./img/mimi/Unpaid/Accessories/Unpaid_Accessories2.png" alt="" class="Accessoriesimg"></div>
                        <div class="swiper-slide mimislide" id="store_fitting3" @click="wardrobe_character_fitting = 3"><img src="./img/mimi/Unpaid/Accessories/Unpaid_Accessories3.png" alt="" class="Accessoriesimg"></div>
                        <div class="swiper-slide mimislide" id="store_fitting4" @click="wardrobe_character_fitting = 4"><img src="./img/mimi/Unpaid/Accessories/Unpaid_Accessories4.png" alt="" class="Accessoriesimg"></div>
                        <div class="swiper-slide mimislide" id="store_fitting5" @click="wardrobe_character_fitting = 5"><img src="./img/mimi/Unpaid/Accessories/Unpaid_Accessories5.png" alt="" class="Accessoriesimg"></div>
                    </div>
                </div>
            </div>
           
    </div>
    </section>
</div>
<!-- mimi 對話框-->
<!--購買金額確認-->
<div class="popUps myUFO_wardrobe_popUps_info " id="myUFO_wardrobe_popUps_car">
    <form action="#資料傳送送的網址" method="post" class="form myUFO_popUps_class ">

        <!-- <button type="button" class="myUFO_btn_close close">
           <img src="./img/icon/icon_close.png" alt="">
       </button> -->

        <div>
            <input type="button" value="取消購買" id="cancel_payment" class="btn_close  myUFO_wardrobebuy_btn wardrobebuy_btnbtn">
            <input type="button" value="確認購買" id="confirm_payment" class="myUFO_btn_close btn_submit myUFO_wardrobebuy_btn">
        </div>
    </form>
</div>

<!--餘額不足-->
<div class="popUps myUFO_wardrobe_popUps_info wardrobe_popUps_info_but" id="myUFO_wardrobe_popUps_car_less">
    <form action="#資料傳送送的網址" method="post" class="form double_confirm_popUps" >
<!-- 
        <button type="button" class="cancel_announcement myUFO_btn_close close " >
            <img src="./img/icon/icon_close.png" alt="">
        </button> -->
        <p id="announcement_content"></p>
        <div class="buttonArea">
            <input type="button" value="確認" class="cancel_announcement btn_submit">
        </div>
    </form>
</div>

<footer class="myFooter">
    <div class="footerLogo">
       <a href="./index.html"><img src="./img/logo.png" alt=""></a> 
    </div>
    <div class="logoCopyright">
         <img src="./img/index/slogan.png"alt="">
        <p>tiabame@copyright</p>
    </div>
    <ul class="ourWeb">
      <li class="contact">
        <p>聯絡我們</p>
        <img class="contactInf" src="./img/contact.png" alt="">
      </li>
      <li class="@@classFtStore">
        <a href="./login_store.html">加入地圖</a>
      </li>
      <li class=" @@classFtTeam">
        <a href="./develope.html">團隊介紹</a>
      </li>
      <li class="@@classFtFaq">
        <a href="./myUFO_Q&A.html" >常見問題</a>
      </li>
    </ul>
  </footer>
  <script>
  $('.contact').click(function (){
          $('.contactInf').toggleClass('on');
      });
  </script>
  
<!-- <footer>
    <div>
        <ul class="footer_nav">
            <li>
                <a href="/login_store.html">加入地圖</a>
            </li>
            <li>
                <a href="/develope.html"></a>
            </li>
            <li>
                <a href="/myUFO_Q&A.html">常見問題</a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="ourInfo">
            <li>
                <img src="./img/icon/icon_tel.png" alt="" class="tel" />
                <p>02-2888-888</p>
            </li>
            <li>
                <img src="./img/icon/icon_mail.png" alt="" class="mail" />
                <p>tibame@gmail.com</p>
            </li>
            <li>
                <img src="./img/icon/icon_location.png" alt="" class="add" />
                <p>南京東路三段219號</p>
            </li>
        </ul>
    </div>

    <div class="copyright">
        <p>tiabame@copyright</p>
    </div>
</footer> -->

<script>
    $('.contact').click(function() {
        $('.contactInf').toggleClass('on');
    });

    function popup_announcement(word) {
        $('#myUFO_wardrobe_popUps_car_less').css('display', 'block').fadeIn(100);
        $('#announcement_content').html(word)
        $('.cancel_announcement').click(function() {
            $('#myUFO_wardrobe_popUps_car_less').css('display', 'none').fadeOut(100);
        })
    }
    new Vue({
        el: '#app_myufo_wardrobe',
        data: {
            wardrobe_character_clothe: 2,
            wardrobe_character_cap: 2,
            wardrobe_character_fitting: 2,
        }

    })
    let point = 1988;
    $("#total_point").html(point);
    var equipment = new Map([
        ["clothe1", 0],
        ["clothe2", 1],
        ["clothe3", 0],
        ["clothe4", 0],
        ["clothe5", 0],
        ["cap1", 0],
        ["cap2", 1],
        ["cap3", 0],
        ["cap4", 0],
        ["cap5", 0],
        ["fitting1", 0],
        ["fitting2", 1],
        ["fitting3", 0],
        ["fitting4", 0],
        ["fitting5", 0],
    ]);

    equipment.forEach(function(value, key) {
        if (value == 0) {
            $("#own_" + key).css('visibility', 'hidden');
        }
        $("#store_" + key).click(function() {
            $('#myUFO_wardrobe_popUps_car').css('display', 'block').fadeIn(100);
            $('#myUFO_wardrobe_popUps_car').attr('alt', key);
            $('#confirm_payment').click(
                function() {
                    if ($('#myUFO_wardrobe_popUps_car').attr('alt') == key) {
                        if (value === 1) {
                            popup_announcement("已購買此商品<br><br>不能重複購買")
                        }
                        if (value === 0) {
                            if (point > 600) {
                                point -= 600;
                                $("#total_point").html(point);
                                $("#own_" + key).css('visibility', 'visible');
                                popup_announcement("購買完成")
                                value = 1;
                                $("#own_" + key).css("opacity", "1");
                            } else {
                                popup_announcement("只剩" + point + "&nbsp;餘額不足<br><br>可以到常見問題查詢如何獲得點數")
                            }
                        }
                    }
                }
            )
        }); // 關閉彈窗
    });

    $('#cancel_payment').click(function() {
        $('#myUFO_wardrobe_popUps_car').fadeOut(200);

    });

    $(".mimislide").css("cursor", "pointer");

    //  ---------------------------
    $('.contact').click(function() {
        $('.contactInf').toggleClass('on');
    });

    /*mimi 加入衣櫃的btn*/
    $('.tab-content_One .swiper-slide').click(function() {
        change()
    });
    $('.tab-content_One   li').click(function() {
        change()
    });
    $('.tab-content_three .swiper-slide').click(function() {
        change()
    });
    $('.tab-content_three li').click(function() {
        change()
    });
    $('.tab-content_Fives  .swiper-slide').click(function() {
        change()
    });
    $('.tab-content_Fives  li').click(function() {
        change()
    });

    /*=====*/
    /*mimi 加入商城的btn*/
    $('.tab-content_two   .swiper-slide').click(function() {
        addCar()
    });
    $('.tab-content_two   li').click(function() {
        addCar()
    });
    $('.tab-content_four .swiper-slide').click(function() {
        addCar()
    });
    $('.tab-content_four li').click(function() {
        addCar()
    });
    $('.tab-content_six   .swiper-slide').click(function() {
        addCar()
    });
    $('.tab-content_six   li').click(function() {
        addCar()
    });

    /*=====*/
    //     對話框關閉的按鈕
    $('.myUFO_btn_close').click(function() {
        $('.tist_popUps').fadeOut(200)
    });

    // 取得角色
    function getRole(){
        getCharacter = document.querySelector('[data-target="wardrobe_character"]');
        console.log(getCharacter);
        let role = localStorage.getItem(`KEY${1}`);
        getCharacter.innerHTML=`
            <img src="${role}"/>
        `
        console.log(role);
    }
</script>



  <!-- ----------------------------------------- -->
  <script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="./js/myUFO_wardrobe.js"></script>
</body>

</html>