<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @@include('layout/style.html')
        <title>升級完成</title>
    </head>
    <body class="body_upgrade">
        @@include('layout/header.html')
        <div class="wrapper wrapper_upgrade" id="upgrade">
            <section class="upgradeHeader">
                <button class="upgradeHeader_areaList" @click="step = 0">
                    <div class="upgradeHeader_step">
                        <h6 class="upgradeHeader_stepNo">1</h6>
                        <div class="upgradeHeader_text">費用方案
                        </div>
                    </div>
                    <!-- <div class="upgradeHeader_bg"></div> -->
                    <div :class="greenCircle"></div>
                </button>
                <button class="upgradeHeader_areaList"  @click="step = 1">
                    <div class="upgradeHeader_step">
                        <h6 class="upgradeHeader_stepNo">2</h6>
                        <div class="upgradeHeader_text">基本資料
                        </div>
                    </div>
                    <!-- <div class="upgradeHeader_bg"></div> -->
                    <div :class="greenCircle1"></div>
                </button>
                <button class="upgradeHeader_areaList" @click="step = 2">
                    <div class="upgradeHeader_step">
                            <h6 class="upgradeHeader_stepNo">3</h6>
                            <div class="upgradeHeader_text">付款方式
                            </div>
                    </div>
                    <div class="upgradeHeader_bg"></div>
                    <div :class="greenCircle2"></div>
                </button>
                <button class="upgradeHeader_areaList"  @click="step = 3">
                    <div class="upgradeHeader_step">
                        <h6 class="upgradeHeader_stepNo">4</h6>
                        <div class="upgradeHeader_text">升級完成
                        </div>
                    </div>
                    <!-- <div class="upgradeHeader_bg"></div> -->
                    <div :class="greenCircle3"></div>
                </button>
            </section>
            <!--主要內容區 -->
            <main class="upgrade_inner">
                <!-- 會員升級 -->
                <div v-if="step === 0" class="upgrade_option">
                    <!-- 這邊放升級敘述的內容 -->
                    <section class="upgradeOption">
                        <!-- 文字說明區 -->
                        <div class="upgradeOption_text">
                            <h1 class="upgradeOption_text_title">松茸級</h1>
                            <p>升級第一個月享有 #推薦標籤</p>
                            <p>查看點擊次數</p>
                            <p>查看收藏次數</p>
                            <p>關鍵字搜尋較佳</p>
                        </div>
                        <!-- 右邊按扭區-->
                        <div class="upgradeOption_btnArea">
                            <div class="upgradeOption_btnArea_option">
                                <!-- 方案選擇 value="month要處理 -->
                                <label class="checkboxArea upgradeOptions">
                                    <input v-model="option" type="radio" value="月費$399" class="checkbox"/>
                                    <span class="checkboxArea_read">
                                        月費$399</span>
                                </label>
                                <label class="checkboxArea upgradeOptions">
                                    <input v-model="option" type="radio" value="年費$4599" class="checkbox"/>
                                    <span class="checkboxArea_read">
                                        年費$4599</span>
                                </label>
        
                            </div>
                            <div class="buttonArea upgradeOption_btnArea_submit">
                                <a href="/store_free.html">
                                    <input type="button" value="返回" class="btn_pre" />
                                </a>
                                <button @click="step += 1" class="btn_submit">下一步</button>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- 企業個人確認 -->
                <div v-if="step === 1" class="upgrade_info">
                    <!-- 這邊放資料確認的內容 -->
                    <div class="upgradeInfoConfirm">
                        <!-- 選單 -->
                        <div class="upgradeInfoConfirm_menuArea">
                            <h1 class="upgradeInfoConfirm_menu  upgradeInfoConfirm_menuL" @click="infoChoice = 1">企業
                            </h1>
                            <h1 class="upgradeInfoConfirm_menu upgradeInfoConfirm_menuR" @click="infoChoice = 2" >個人</h1>
                        </div>
                        <!-- 企業 -->
                        <form class="form upgradeInfoConfirm_formC" v-if="infoChoice == 1">
                            <input type="text" placeholder="公司抬頭" required/>
                            <input type="number" placeholder="統一編號" pattern="\d{8}" required/>
                            <input type="text" placeholder="登記地址" required/>
                            <input type="text" placeholder="聯絡人" v-model="toName" required/>
                            <input type="email" placeholder="電子信箱" v-model="toMail" required/>
                            <div class="upgradeOption_btnArea_option priceChoice ">
                                <p>{{option}}</p>
                            </div>
                            
                            <!-- 2顆按鈕用這個 -->
                            <div class="upgradeInfoConfirm_buttonArea_outer">
                                <div class="buttonArea upgradeInfoConfirm_buttonArea">
                                    <a href="/store_upgrade_option.html">
                                        <input type="button" value="返回" class="btn_cancel btn_mobile" />
                                    </a>
                                    <button  @click="step += 1" class="btn_submit btn_mobile">下一步</button>
                                </div>
                            </div>
                        </form>
                        <!-- 個人 -->
                        <form class="form upgradeInfoConfirm_formP" id="upgradeInfo_personal_form"  v-if="infoChoice == 2" >
                            <input type="text" placeholder="姓名" v-model="toName" required/>
                            <input type="text" placeholder="地址" required/>
                            <input type="email" placeholder="電子信箱" v-model="toMail" required/>
                            <input type="number" placeholder="聯絡電話" oninput="if(value.length>10)value=value.slice(0,10)" required/>
                            <div class="priceChoice">
                                <p>{{option}}</p>
                            </div>
                            
                            <!-- 2顆按鈕用這個 -->
                            <div class="upgradeInfoConfirm_buttonArea_outer">
                                <div class="buttonArea upgradeInfoConfirm_buttonArea">
                                    <a href="/store_upgrade_option.html">
                                        <input type="button" value="返回" class="btn_cancel btn_mobile" />
                                    </a>
                                    <button @click="step += 1" class="btn_submit btn_mobile">下一步</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 下一步/submit button -->
                </div>
                <!-- 付款方式 -->
                <div v-if="step === 2" class="upgrade_payment">
                    <!-- 這邊放付款方式的內容 -->
                    <div class="upgradeInfoConfirm">
                        <!-- 選擇欄位 -->
                        <div class="upgradeInfoConfirm_menuArea">
                            <h1 class="upgradeInfoConfirm_menu upgradeInfoConfirm_menuL" @click="paymentChoice = 1">信用卡
                            </h1>
                            <h1 class="upgradeInfoConfirm_menu upgradeInfoConfirm_menuR" @click="paymentChoice = 2">轉帳</h1>
                        </div>
                        <!-- 信用卡區 -->
                        <div v-if="paymentChoice == 1" >
                            <form class="form upgradeInfoConfirm_formC" >
                                <label for="card-number" class="card_label">信用卡號碼</label>
                                <input type="num" id="card-number" class="input-cart-number" maxlength="4" />
                                <input type="num" id="card-number-1" class="input-cart-number" maxlength="4" />
                                <input type="num" id="card-number-2" class="input-cart-number" maxlength="4" />
                                <input type="num" id="card-number-3" class="input-cart-number" maxlength="4" />
                                <br>

                                <label for="validDate" class="card_label">有效日期</label>
                                <input type="text" id="validDate" /><br>
                                <label for="cvv" class="card_label">安全碼</label>
                                <input type="number" maxlength="3" id="ccv" />
                                <div class="priceChoice">
                                    <p>{{option}}</p>
                                </div>
                                
                                <div class="upgradeInfoConfirm_buttonArea_outer">
                                    <div class="buttonArea upgradeInfoConfirm_buttonArea">
                                        
                                        <button class="btn_pre btn_btn btn_mobile">返回</button>
                                        <!-- <button  @click="step += 1" class="btn_submit btn_mobile">下一步</button> -->
                                        <button  @click="lastStep" class="btn_submit btn_mobile">下一步</button>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- 轉帳區 -->
                        <div v-if="paymentChoice == 2" >
                            <form class="form upgradeInfoConfirm_formP"  >
                                <!-- 輸入框欄位 -->
                                <label for="bank" class="card_label">銀行</label>
                                <input type="text" value="台新銀行敦南分行" id="bank" class="trans_iput trans_iput_s"/><br>
                                <label for="bankAcc" class="card_label">銀行帳戶</label>
                                <input type="text" value="1010203040405" id="bankAcc" class="trans_iput"/><br>
                                <label for="accName" class="card_label">戶名</label>
                                <input type="text" value="外食一起來有限公司"  id="accName" class="trans_iput trans_iput_s"/><br>
                                <div class="priceChoice">
                                    <p>{{option}}</p>
                                </div>
                                
                                <!-- 2顆按鈕 -->
                                <div class="upgradeInfoConfirm_buttonArea_outer">
                                    <div class="buttonArea upgradeInfoConfirm_buttonArea">
                                        <button class="btn_pre btn_btn btn_mobile">返回</button>
                                        <button  @click="step += 1" class="btn_submit btn_mobile">下一步</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- email test -->
                <div v-show="sendEmail"  class="upgrade_mail">
                    <!-- @@include('layout/email.html') -->
                    <form id="formSand">
                        <div class="field">
                          <label for="to_name">to_name</label>
                          <input type="text" name="to_name" id="to_name" :value="toName">
                        </div>
                        <div class="field">
                          <label for="userMail">userMail</label>
                          <input type="text" name="userMail" id="userMail" :value="toMail">
                        </div>
                      
                        <!-- <input type="submit" id="button" value="Send Email" > -->
                        <input type="submit" id="sendButton" value="Send Email" name="sendButton">
                        <!-- <input type="submit" id="button" :value="SendEmail" > -->
                    </form>

                </div>
                <!-- 升級完成 -->
                <div v-if="step === 3" class="upgrade_finish">
                    <!-- 這邊放升級敘述的內容 -->
                    <div class="upgradeFinish_inner">
                        <div class="upgradeFinish_inner_text">
                            <h1>感謝您！<br class="upgradeFinish_inner_br"> 已收到您的申請!</h1>
                                    
                            <p>請等待1~2個工作天，<br class="upgradeFinish_inner_br"> 系統會另行通知</p>
                        </div>
                        <div class="buttonArea upgradeFinish_buttonArea">
                            <a href="./store_free.html">
                                <button class="btn_cancel btn_btn btn_mobile" >商家專區</button>
                            </a>
                            <a href="index.html">
                                <button class="btn_next btn_btn btn_mobile" >美食探索</button>
                            </a>
                        </div>
                    </div>
                </div>
            </main>
           
        </div>
        @@include('layout/footer.html')

<script>
new Vue({
    el: '#upgrade',
    data: {
        // 步驟切換
        step:0,
        // 頁籤切換
        paymentChoice: 1,
        infoChoice: 1,
        //方案選擇
        // selected: undefined,
        option: " ",
        // email
        toName: "",
        toMail: "",
        // SendEmail: "", 
        sendEmail: false,
    },
    computed: { 
        greenCircle(){
            return {
                upgradeHeader_bg: true,
                bgActive: this.step === 0,
            };
        },
        greenCircle1(){
            return {
                upgradeHeader_bg: true,
                bgActive: this.step === 1,
            };
        },
        greenCircle2(){
            return {
                upgradeHeader_bg: true,
                bgActive: this.step === 2,
            };
        },
        greenCircle3(){
            return {
                upgradeHeader_bg: true,
                bgActive: this.step === 3,
            };
        },
    },
    methods:{
        lastStep(){
            this.step += 1;
            // this.SendEmail = submit;
        },
    },
}); 
</script>

<script>
// mail.js
//   var btn = document.getElementsByName("sendButton")[0].value;
// console.log(btn);
// console.log(btn.value);
var formSand = document.getElementById('formSand');
console.log(formSand);
formSand.addEventListener('click', function(event) {
            var btn = document.getElementById('sendButton');
        event.preventDefault();
        btn.value = 'Sending...';

        const serviceID = 'default_service';
        const templateID = 'template_d80sbh9';

        emailjs.sendForm(serviceID, templateID, this)
            .then(() => {
            btn.value = 'Send Email';
            alert('Sent!');
            }, (err) => {
            btn.value = 'Send Email';
            alert(JSON.stringify(err));
            });
        });

// document.getElementById('form').addEventListener('submit', function(event) {
//             var btn = document.getElementById('sendButton');
//         event.preventDefault();


//         btn.value = 'Sending...';

//         const serviceID = 'default_service';
//         const templateID = 'template_d80sbh9';

//         emailjs.sendForm(serviceID, templateID, this)
//             .then(() => {
//             btn.value = 'Send Email';
//             alert('Sent!');
//             }, (err) => {
//             btn.value = 'Send Email';
//             alert(JSON.stringify(err));
//             });
//         });

</script>
    </body>
</html>
