<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @@include('layout/style.html')
        <title>升級方案</title>
    </head>
    <body class="body_upgrade">
        @@include('layout/header.html')
        <div class="wrapper wrapper_upgrade wrapper_upgrade_Option">
            <!-- 標題區域 -->
            @@include('layout/upgradeHeader.html')
            <section class="upgradeOption">
                <!-- 文字說明區 -->
                <div class="upgradeOption_text">
                    <h1 class="upgradeOption_text_title">松茸級</h1>
                    <p>升級第一個月享有 #推薦標籤</p>
                    <p>查看點擊次數</p>
                    <p>查看收藏次數</p>
                    <p>關鍵字搜尋較佳</p>
                </div>
                <!-- 右邊按扭區
                 -->
                <div class="upgradeOption_btnArea">
                    <div class="upgradeOption_btnArea_option">
                        <!-- 方案選擇 value="month要處理 -->
                        <label class="checkboxArea upgradeOptions">
                            <input v-model="option" type="radio" value="月費$399" class="checkbox"/>
                            <span class="checkboxArea_read">
                                月費$399</span>
                        </label>
                        <label class="checkboxArea upgradeOptions">
                            <input v-model="option" type="radio" value="年費$4599" class="checkbox"/>
                            <span class="checkboxArea_read">
                                年費$4599</span>
                        </label>

                    </div>
                    <div class="buttonArea upgradeOption_btnArea_submit">
                        <a href="/store_free.html">
                            <input type="button" value="返回" class="btn_pre" />
                        </a>
                        <a href="/store_upgrade_info.html">
                            <input type="" value="下一步" class="btn_submit" id="storeUpgradeInfo_btnNext"  disabled/>
                        </a>
                        <!-- <button value="下一步" class="btn_submit" id="storeUpgradeInfo_btnNext"  >下一步
                            <a href="/store_upgrade_info.html"  class="btn_submit_a" ></a>
                        </button> -->
                    </div>
                </div>
            </section>
        </div>
        @@include('layout/footer.html')
        <script src="js/store_upgrade.js"></script>
    </body>
</html>
