//jamie的
.form{
    @include block_center(); //區塊置中

    // 桌機要靠左的可以加到自己的彈窗sass裡
    // @include rwd(desktop){
    //     margin-left: 20%;
    //     transform: translateX(-50%);        
    //     }
    background-color: #fff;
    position: relative;
    // position: fixed;
    // z-index: 1000;
    width: 400px;
    padding: 50px;
    @include shadow;
    @include border_r;
    @include btn_close(".btn_close");
    h1 {
        text-align: center;
        font-size: $fontSize_Title;
        margin-bottom: 40px;    
    }
    h2 {
        font-size: $fontSize_SubTitle;
    }

    input {
        margin-bottom: 20px;
        &:focus {
            outline: none;
        }
    }

    // 按扭區域
}

.btn,
.buttonArea {
    @include block_center();
    width: max-content;
}

.btn_btn{
    margin-bottom: 20px;  
}
.popUps{
    z-index: 1000;
}
