//jamie的
.popUps form {
    @include block_center(); //區塊置中

    // 桌機要靠左的可以加到自己的彈窗sass裡
    // @include rwd(desktop){
    //     margin-left: 20%;
    //     transform: translateX(-50%);        
    //     }

    position: relative;
    width: 400px;
    padding: 50px;
    @include shadow;
    @include border_r;
    @include btn_close(".btn_close");
    h1 {
        text-align: center;
        font-size: $fontSize_Title;
        margin-bottom: 40px;    
        font-weight: bold;
    }
    h2 {
        font-size: $fontSize_SubTitle;
        font-weight: bold;
    }

    input {
        margin-bottom: 20px;
        &:focus {
            outline: none;
        }
    }

    // 按扭區域
    .btn,
    .buttonArea {
        @include block_center();
        width: max-content;
    }
}
