.star {
    display: inline-block;
    font-size: 0;
    width: 100%;
  }

.star-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    // background: url(../../img/icon/icon_star_group.png)
    //   center top no-repeat;
      background-position: center top;
      background-repeat: no-repeat;
  }

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="radio"]:checked ~ .star-item {
    background-position: center bottom;
}

.star:hover label.star-item {
    background-position: center top;
}

label.star-item:hover ~ .star-item {
    background-position: center bottom;
}