<form id="form">
    <div class="field">
      <label for="to_name">to_name</label>
      <input type="text" name="to_name" id="to_name" :value="toName">
    </div>
    <div class="field">
      <label for="userMail">userMail</label>
      <input type="text" name="userMail" id="userMail" :value="toMail">
    </div>
  
    <input type="submit" id="button" value="Send Email" >
    <!-- <input type="submit" id="button" value="Send Email" > -->
    <!-- <input type="submit" id="button" :value="SendEmail" > -->
  </form>
