<footer class="myFooter">
    <div class="footerLogo">
       <a href="./index.html"><img src="./img/logo.png" alt=""></a> 
    </div>
    <div class="logoCopyright">
         <img src="./img/index/slogan.png"alt="">
        <p>tiabame@copyright</p>
    </div>
    <ul class="ourWeb">
      <li class="contact">
        <p>聯絡我們</p>
        <img class="contactInf" src="./img/contact.png" alt="">
      </li>
      <li>
        <a href="./login_store.html">加入地圖</a>
      </li>
      <li>
        <a href="./develope.html">團隊介紹</a>
      </li>
      <li>
        <a href="./myUFO_Q&A.html">常見問題</a>
      </li>
    </ul>
  </footer>
  <script>
  $('.contact').click(function (){
          $('.contactInf').toggleClass('on');
      });
  </script>
  
<!-- <footer>
    <div>
        <ul class="footer_nav">
            <li>
                <a href="/login_store.html">加入地圖</a>
            </li>
            <li>
                <a href="/develope.html"></a>
            </li>
            <li>
                <a href="/myUFO_Q&A.html">常見問題</a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="ourInfo">
            <li>
                <img src="./img/icon/icon_tel.png" alt="" class="tel" />
                <p>02-2888-888</p>
            </li>
            <li>
                <img src="./img/icon/icon_mail.png" alt="" class="mail" />
                <p>tibame@gmail.com</p>
            </li>
            <li>
                <img src="./img/icon/icon_location.png" alt="" class="add" />
                <p>南京東路三段219號</p>
            </li>
        </ul>
    </div>

    <div class="copyright">
        <p>tiabame@copyright</p>
    </div>
</footer> -->
