<footer class="myFooter">
    <div class="footerLogo">
       <a href="./index.html"><img src="./img/logo.png" alt=""></a> 
    </div>
    <div class="logoCopyright">
         <img src="./img/index/slogan.png"alt="">
        <p>tiabame@copyright</p>
    </div>
    <ul class="ourWeb">
      <li class="contact">
        <p>聯絡我們</p>
        <img class="contactInf" src="./img/contact.png" alt="">
      </li>
      <li class="@@classFtStore">
        <a href="./login_store.html">加入地圖</a>
      </li>
      <li class=" @@classFtTeam">
        <a href="./develope.html">團隊介紹</a>
      </li>
      <li class="@@classFtFaq">
        <a href="./myUFO_Q&A.html" >常見問題</a>
      </li>
    </ul>
  </footer>
  <script>
  $('.contact').click(function (){
          $('.contactInf').toggleClass('on');
      });
  </script>