<!-- Jamie -->
<footer>
    <div>
        <ul class="footer_nav">
            <li>
                <a href="#">加入地圖</a>
            </li>
            <li>
                <a href="#">團隊介紹</a>
            </li>
            <li>
                <a href="#">常見問題</a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="ourInfo">
            <li>
                <img src="./img/icon/icon_tel.png" alt="" class="tel" />
                <p>02-2888-888</p>
            </li>
            <li>
                <img src="./img/icon/icon_mail.png" alt="" class="mail" />
                <p>tibame@gmail.com</p>
            </li>
            <li>
                <img src="./img/icon/icon_location.png" alt="" class="add" />
                <p>南京東路三段219號</p>
            </li>
        </ul>
    </div>

    <div class="copyright">
        <p>tiabame@copyright</p>
    </div>
</footer>
