<!-- Jamie -->
<header>
    <div class="headerInner">
        <!-- Logo -->
        <a href="./index.html" class="logo">
            <img src="./img/logo.png" alt="" />
        </a>
        <!-- 會員頭像 -->
        <div class="headerInner_login" id="headerInner_login">
          <a href="./login_member.html"  class="headerInner_login_link" >
          </a>
           <!-- 登入後，會員頭像才會出現的彈窗 -->
          <div class="popUps popUpsLogout">
            <form action="" method="" class="form popUpsLogout_from">
              <p class="popUpsLogout_p">編輯會員資料</p>
              <p class="popUpsLogout_p">登出</p>
            </form>
          </div>
        </div>

        <!-- 漢堡圖 -->
        <div class="ham" id="ham_icon">
            <span class="ham_top"></span>
            <span class="ham_middle"></span>
            <span class="ham_bottom"></span>
        </div>

        <div class="header_overlay" id="header_overlay">
            <nav class="header_overlay_menu">
              <ul>
                <li class="header_list header_inner_logo">
                  <a href="./index.html">
                  </a>
                </li>
                <li class="header_list header_inner_myUFO">
                  <a href="./myUFO.html">
                    <span class="header_list_span">我的飛碟</span>
                  </a>
                </li>
                <li class="header_list header_inner_myPhoto">
                  <a href="./myphoto.html">
                    <span class="header_list_span">美食拍立得</span>
                  </a>
                </li>
                <li class="header_list header_inner_aboutUs">
                  <a href="./story.html">
                    <span class="header_list_span">外食故事</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>


    </div>
</header>

<script>
  // 點擊肥肥後，會員登入彈窗會出現
  // $('#headerInner_login').click(function(){
  //   $('#memberLogin_popups').css('display' , 'block').fadeIn(100);
  //   $('.wrapper:not(#memberLogin_popups)').addClass('blur');
  // });

  // 打開漢堡
   $('#ham_icon').click(function() {
   $(this).toggleClass('active');
   $('#header_overlay').toggleClass('open');
  });

  // 滑鼠往下滾，header就會出現底色
  var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      $('header').css('background','transparent')
    } else {
      $('header').css('background','rgba(251,255,232,0.5)')
    }
    prevScrollpos = currentScrollPos;
    }
</script>
