<!-- Jamie -->
<header class="backendHeader">
    <div class="backendHeaderInner">
        <!-- Logo -->
        <a href="./index.html" class="logo">
            <img src="./img/logo.png" alt="" />
        </a>
        <!-- 會員頭像 -->
        <div class="backendHeaderInner_login">
          <a href="./login_member.html"  class="headerInner_login_link" ></a>
        </div>
        
          <nav class="backendHeader_nav">
            <ul class="backendHeader_ul">
              <li class="backendHeader_li @@classBeM">
                <a href="./backend_member.html">會員</a></li>
              <li class="backendHeader_li @@classBeS">
                <a href="./backend_store_active.html">商家</a></li>
              <li class="backendHeader_li @@classBeP">
                <a href="./backend_my_photo.html">拍立得</a></li>
            </ul>
          </nav>


    </div>
</header>

<script>
  // 打開漢堡
   $('#ham_icon').click(function() {
   $(this).toggleClass('active');
   $('#header_overlay').toggleClass('open');
  });
</script>
