<!-- Jamie -->
<header class="backendHeader">
    <div class="headerInner backendHeaderInner">
        <!-- Logo -->
        <a href="/index.html" class="logo">
            <img src="./img/logo.png" alt="" />
        </a>
        <!-- 會員頭像 -->
        <div class="backendHeaderInner_login" id="headerInner_login">
          <a href="/login_member.html"  class="headerInner_login_link" ></a>
        </div>

        <!-- 漢堡圖 -->
        <!-- <div class="ham" id="ham_icon">
            <span class="ham_top"></span>
            <span class="ham_middle"></span>
            <span class="ham_bottom"></span>
        </div> -->


        <!-- <div class="header_overlay" id="header_overlay">
            <nav class="header_overlay_menu">
              <ul>
                <li class="header_list header_inner_logo"><a href="/index.html"></a></li>
                <li class="header_list header_inner_myUFO"><a href="/myUFO.html">我的飛碟</a></li>
                <li class="header_list header_inner_myPhoto"><a href="/myphoto.html">美食拍立得</a></li>
                <li class="header_list header_inner_aboutUs"><a href="/story.html">外食故事</a></li>
              </ul>
            </nav>
        </div> -->
          <nav class="backendHeader_nav">
            <ul class="backendHeader_ul">
              <li class="backendHeader_li"><a href="/backend_member.html">會員</a></li>
              <li class="backendHeader_li"><a href="/backend_store.html">商家</a></li>
              <li class="backendHeader_li"><a href="/backend_my_photo.html">拍立得</a></li>
            </ul>
          </nav>


    </div>
</header>

<script>
  // 打開漢堡
   $('#ham_icon').click(function() {
   $(this).toggleClass('active');
   $('#header_overlay').toggleClass('open');
  });
</script>
