<!-- Jamie -->

<!-- 登入註冊彈窗 -->
<div class="popUps login wrapper app" id="memberLogin_popups" > <!--Chris-->
    <form action="#資料傳送送的網址" method="" class="form login">
        <!-- close button -->
        <!-- <button type="button" class="btn_close">
            <img src="./img/icon/icon_close.png" alt="" />
        </button> -->

        <!-- 會員頭像 -->
        <div class="loginMemberPic">
            <img src="./img/test_login_memberPic.png" alt="">
        </div>


        <div class="loginInner">

            <!-- 登入註冊切換區 -->
            <div class="loginSwitch">

                <button type="button" class="toggolebtn areaShow"  id="btn_login"> 登入 </button>
                <button type="button" class="toggolebtn" id="btn_signup"> 註冊 </button>

            </div>
            
            <!-- 內容區域 -->
            <div>
                <!-- 放登入的東西 -->
                <div class="inner_block_area" id="login_block"> 
                    <!-- 輸入框欄位 -->
                    <input type="text" placeholder="E-mail" />
                    <input type="text" placeholder="密碼" />
                    
                    <!-- 單顆按鈕用這裡 -->
                    <div class="btn">
                        <input type="submit" value="送出" class="btn_submit" id="memberLogin_submit"/>
                    </div>
                    
                    <!-- 無法登入 -->
                    <div class="forgetPassword">
                        <!-- <a href="">忘記密碼?</a> -->
                        <span>忘記密碼?</span>
                    </div>
                </div>
        
                <!-- 放註冊的東西 -->
                <div class="inner_block_area areaHide" id="signUp_block"> 
                    <!-- 輸入框欄位 -->
                    <input type="text" placeholder="E-mail" />
                    <input type="text" placeholder="密碼" />
                    <input type="text" placeholder="再次輸入密碼" />

                    <!-- 常去站點 -->
                    <div class="login_station">
                      <!-- <input type="text" id="login_station_choice" placeholder="我最常去的捷運站" class="input"> -->
                      <input type="text" id="login_station_choice" class="input" v-model="selectedStation">
                      <img class="login_station_arrow" src="./img/icon/icon_next_line.png" alt="">
                      <ul class="login_station_select" id="login_station_options">
                        <li v-for="station in blueStations" class="b">{{station}}</li> 
                        <li v-for="station in redStation" class="r">{{station}}</li> 
                        <li v-for="station in greenStation" class="g">{{station}}</li> 
                        <li v-for="station in brownStation" class="br">{{station}}</li> 
                        <li v-for="station in yellowStation" class="y">{{station}}</li> 
                        <!-- <li  class="b">市政府</li>
                          <li  class="b">忠孝敦化</li>
                          <li  class="b">國父紀念館</li>
                          <li  class="b">板橋</li>
                          <li  class="b">新埔</li>
                          <li  class="b">府中</li>
                          <li  class="b">龍山寺</li>
                          <li  class="r">淡水</li>
                          <li  class="r">劍潭</li> 
                          <li  class="r">圓山</li>
                          <li  class="r">台北車站</li>
                          <li  class="r">東門</li>
                          <li  class="r">大安森林公園</li>
                          <li  class="r">信義安和</li>
                          <li  class="r">台北101</li>
                          <li  class="g">松山</li>
                          <li  class="g">南京三民</li>
                          <li  class="g">南京復興</li>
                          <li  class="g">中山</li>
                          <li  class="g">中正紀念堂</li>
                          <li  class="g">台電大樓</li>
                          <li  class="g">公館</li>
                          <li  class="g">景美</li>
                          <li  class="br">東湖</li>
                          <li  class="br">西湖</li>
                          <li  class="br">港墘</li>
                          <li  class="br">大直</li>
                          <li  class="br">中山國中</li>
                          <li  class="br">六張犁</li>
                          <li  class="br">萬芳社區</li>
                          <li  class="y">頂溪</li>
                          <li  class="y">南京松江</li>
                          <li  class="y">忠孝新生</li>
                          <li  class="y">台北橋</li>
                          <li  class="y">徐匯中學</li>
                          <li  class="y">新莊</li> -->
                      </ul>
                    </div>

                    <!-- 喜好標籤 -->
                    <div class="login_tag">
                        <input type="text" id="login_tag_input" v-model="selectedTag"/>
                        <button class="signUp_tag_area ">
                        <img class="login_tag_add" src="./img/icon/icon_add_line.png" alt="">
                        </button>
                        <div  class="login_tag_select" id="login_tag_select">
                        <span v-for="tag in tags">{{tag}}</span>
                            <!-- <span>#日式</span>
                            <span>#韓式</span>
                            <span>#美式</span>
                            <span>#台式</span>
                            <span>#法式</span>
                            <span>#中式</span>
                            <span>#聚餐</span>
                            <span>#簡餐</span>
                            <span>#銅板美食</span>
                            <span>#下午茶</span>
                            <span>#早午餐</span>
                            <span>#商業午餐</span>
                            <span>#夜市</span>
                            <span>#咖哩</span>
                            <span>#火鍋</span>
                            <span>#牛排</span>
                            <span>#咖啡店</span>
                            <span>#餐酒館</span>
                            <span>#鐵板燒</span>
                            <span>#拉麵</span>
                            <span>#甜點</span>
                            <span>#麵食</span>
                            <span>#雞排</span>
                            <span>#鹽酥雞</span>  -->
                        </div>
                    </div>
                </div>
                    <!-- 單顆按鈕用這裡 -->
                    <div class="btn">
                        <input type="submit" value="送出" class="btn_submit" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<!-- 認證彈窗verification -->
<div class="popUps verification areaHide">
    <!-- <form action="#資料傳送送的網址" method="post" class="form"> -->
    <form action="#資料傳送送的網址" class="form">  <!--Chris-->
        <!-- close button -->
        <button type="button" class="btn_close">
            <img src="./img/icon/icon_close.png" alt="" />
        </button>

        <!-- logo -->
        <div class="verification_logo">
            <img src="./img/logo.png">
        </div>
        <h1>我們需要驗證您的身份</h1>
        <div> 
            <!-- 輸入框欄位 -->
            <input type="text" placeholder="輸入原註冊E-mail" />
            
            <!-- 單顆按鈕用這裡 -->
            <div class="btn">
                <input type="submit" value="寄送認證" class="btn_submit ver_submit" />
            </div>
        </div>
    </form>
</div>

<!-- 美食喜好彈窗 -->
<div class="popUps loginMemberTag" id="loginMemberTag">
    <form action="#資料傳送送的網址" method="post" class="form">
        <!-- close button -->
        <button type="button" class="btn_close">
            <img src="./img/icon/icon_close.png" alt="" />
        </button>
        <h1>選擇三個你最喜歡的美食標籤</h1>
        <div> 
           <!-- 廣大標籤區 -->
            <div class="loginMemberTag_tagArea">
                <button type="button" class="btn_tag">#銅板美食</button>
                <button type="button" class="btn_tag">#日式</button>
                <button type="button" class="btn_tag">#韓式</button>
                <button type="button" class="btn_tag">#美式</button>
                <button type="button" class="btn_tag">#義式</button>
                <button type="button" class="btn_tag">#台式</button>
                <button type="button" class="btn_tag">#法式</button>
                <button type="button" class="btn_tag">#中式</button>
                <button type="button" class="btn_tag">#聚餐</button>
                <button type="button" class="btn_tag">#簡餐</button>
                <button type="button" class="btn_tag">#下午茶</button>
                <button type="button" class="btn_tag">#早午餐</button>
                <button type="button" class="btn_tag">#商業午餐</button>
                <button type="button" class="btn_tag">#夜市</button>
                <button type="button" class="btn_tag">#雞排</button>
                <button type="button" class="btn_tag">#咖哩</button>
                <button type="button" class="btn_tag">#火鍋</button>
                <button type="button" class="btn_tag">#牛排</button>
                <button type="button" class="btn_tag">#咖啡</button>
                <button type="button" class="btn_tag">#甜點</button>
                <button type="button" class="btn_tag">#鐵板燒</button>
                <button type="button" class="btn_tag">#麵食</button>
                <button type="button" class="btn_tag">#鹽酥雞</button>
                <button type="button" class="btn_tag">#手搖飲</button>
                <button type="button" class="btn_tag">#餐酒館</button>
                <button type="button" class="btn_tag">#拉麵</button>
            </div>
            <!-- 單顆按鈕用這裡 -->
            <div class="btn">
                <input type="submit" value="送出" class="btn_submit" />
            </div>
        </div>
    </form>
</div>

<!-- 會員資料編輯 -->
<div class="popUps memberInfo_edit" id="memberInfo_edit">
    <form action="#資料傳送送的網址" method="" class="form memberInfo_edit_form">
        <!-- close button -->
        <button type="button" class="btn_close">
            <img src="./img/icon/icon_close.png" alt="" />
        </button>
        <h1 class="memberInfo_edit_title">會員資料 </h1>
        <div class="memberInfo_edit_inner">
            <!-- 左邊圖片區 -->
            <div class="memberInfo_edit_imgArea"></div>
            <!-- 右邊文字區 -->
            <div class="memberInfo_edit_textArea">
                <div class="memberInfo_edit_area">
                    <input type="text" placeholder="南京林志玲" value="南京林志玲"/>
                    <button class="memberInfo_edit_editIcon">
                    </button>
                </div>
                <!-- 喜好標籤 -->
                <div class="memberInfo_edit_area">
                    <input type="text" placeholder="喜好標籤" value="鹽酥雞" />
                    <button class="memberInfo_edit_editIcon memberInfo_edit_editIcon_tag">
                    </button>
                    <div class="memberInfo_edit_area_tag" id="memberInfo_edit_area_tag">
                        <span>#日式</span>
                        <span>#韓式</span>
                        <span>#美式</span>
                        <span>#台式</span>
                        <span>#法式</span>
                        <span>#中式</span>
                        <span>#聚餐</span>
                        <span>#簡餐</span>
                        <span>#銅板美食</span>
                        <span>#下午茶</span>
                        <span>#早午餐</span>
                        <span>#商業午餐</span>
                        <span>#夜市</span>
                        <span>#咖哩</span>
                        <span>#火鍋</span>
                        <span>#牛排</span>
                        <span>#咖啡店</span>
                        <span>#餐酒館</span>
                        <span>#鐵板燒</span>
                        <span>#拉麵</span>
                        <span>#甜點</span>
                        <span>#麵食</span>
                        <span>#雞排</span>
                        <span>#鹽酥雞</span> 
                    </div>
                </div>
                <!-- 站點 -->
                <div class="memberInfo_edit_area">
                    <input type="text" placeholder="" value="南京復興" id="memberInfo_station_input"/>
                    <button class="memberInfo_edit_editIcon" id="memberInfo_editIcon_station">
                    </button>
                    <ul class="memberInfo_edit_area_stationSelect" id="memberInfo_edit_area_stationSelect">
                        <li  class="b">市政府</li>
                        <li  class="b">忠孝敦化</li>
                        <li  class="b">國父紀念館</li>
                        <li  class="b">板橋</li>
                        <li  class="b">新埔</li>
                        <li  class="b">府中</li>
                        <li  class="b">龍山寺</li>
                        <li  class="r">淡水</li>
                        <li  class="r">劍潭</li>
                        <li  class="r">圓山</li>
                        <li  class="r">台北車站</li>
                        <li  class="r">東門</li>
                        <li  class="r">大安森林公園</li>
                        <li  class="r">信義安和</li>
                        <li  class="r">台北101</li>
                        <li  class="g">松山</li>
                        <li  class="g">南京三民</li>
                        <li  class="g">南京復興</li>
                        <li  class="g">中山</li>
                        <li  class="g">中正紀念堂</li>
                        <li  class="g">台電大樓</li>
                        <li  class="g">公館</li>
                        <li  class="g">景美</li>
                        <li  class="br">東湖</li>
                        <li  class="br">西湖</li>
                        <li  class="br">港墘</li>
                        <li  class="br">大直</li>
                        <li  class="br">中山國中</li>
                        <li  class="br">六張犁</li>
                        <li  class="br">萬芳社區</li>
                        <li  class="y">頂溪</li>
                        <li  class="y">南京松江</li>
                        <li  class="y">忠孝新生</li>
                        <li  class="y">台北橋</li>
                        <li  class="y">徐匯中學</li>
                        <li  class="y">新莊</li>
                    </ul>

                </div>
                <div class="memberInfo_edit_area">
                    <input type="email" placeholder="tibame@gmail.com" value="tibame@gmail.com" />
                    <button class="memberInfo_edit_editIcon">
                    </button>
                </div>
                <div class="memberInfo_edit_area">
                    <input type="password" placeholder="1234566"  value="1234566" id="myPassword"/>
                    <!-- 查看密碼按鈕 scss寫在_btn -->
                    <button class="showPassword"></button>
                    <button class="memberInfo_edit_editIcon"></button>
                </div>
                <div class="memberInfo_edit_area">
                    <input type="text" placeholder="生日(YYYY/MM/DD)" />
                    <button class="memberInfo_edit_editIcon"></button>
                </div>
                <div class="memberInfo_edit_area">
                    <input type="tel" placeholder="電話" />
                    <button class="memberInfo_edit_editIcon">
                    </button>
                </div>
            </div>
        </div>
        <!-- 主標題 -->
        <!-- 單顆按鈕用這裡 -->
        <div class="btn">
            <input type="submit" value="送出" class="btn_submit memberInfo_edit_submit" />
        </div>
    </form>
</div>

<script>

    new Vue({
        el: '.app',
        data:{
            selectedStation:'最愛捷運站點',
            blueStations: ['市政府','忠孝敦化','國父紀念館','板橋','新埔','府中','龍山寺'],
            redStation: ['淡水','劍潭','圓山','台北車站','東門','大安森林公園','信義安和','台北101'],
            greenStation: ['松山','南京三民','南京復興','中山','中正紀念堂','台電大樓','公館','景美'],
            brownStation: ['東湖','西湖','港墘','大直','中山國中','六張犁','萬芳社區'],
            yellowStation: ['頂溪','南京松江','忠孝新生','台北橋','徐匯中學','新莊'],
            
            selectedTag: '喜好標籤',
            tags:['#日式','#韓式','#美式','#台式','#中式','#法式','#聚餐','#簡餐','#銅板美食','#下午茶','#早午餐','#商業午餐',
            '#夜市','#咖哩','#火鍋','#牛排','#咖啡店','#餐酒館','#鐵板燒','#拉麵','#甜點','#麵食','#雞排','#鹽酥雞'],  
            
        },
        methods: {
          
        },
        computed:{

        },
    })

</script>

<script>
    // 以下會員編輯彈窗
    // 下拉選單、喜好標籤
    $('.memberInfo_edit_editIcon_tag').click(function (){
    $('.memberInfo_edit_area_tag').toggleClass('on');
    });

    $('.login_tag_select span').click(function(){
        let inputColor=document.getElementById('login_tag_input');
        inputColor.value=$(this).text();
        // $('.memberInfo_edit_area_tag').toggleClass('on');
    });

    // 下拉選單、鄰近站點
    $('#memberInfo_editIcon_station').click(function (){
    $('.memberInfo_edit_area_stationSelect').toggleClass('on');
    });

    $('#memberInfo_edit_area_stationSelect li').click(function(){
        let inputColor=document.getElementById('memberInfo_station_input');
        inputColor.value=$(this).text();
        $('.memberInfo_edit_area_stationSelect').toggleClass('on');
    });

    // 那顆眼睛按下去，密碼會出現
    $('.showPassword').click(function(){
        let myPassword = document.getElementById('myPassword')
        if( myPassword.type === "password"){
            myPassword.type = "text";
        }else{
            myPassword.type = "password";
        }
    })

    // 串料庫後要修改；按送出也是關閉彈窗
    $('.memberInfo_edit_submit').click(function(){
    $(this.parentNode.parentNode).fadeOut(100);
    });

    // 以上會員編輯彈窗


    // 以下登入註冊彈窗
    // 關閉登入註冊彈窗
    $('.btn_close').click(function(){
    $(this.parentNode.parentNode).fadeOut(100);
    });

    //串料庫後要修改；目前是按送出，會跳出會員編輯 
    $('#memberLogin_submit').click(function(){
    $(this.parentNode.parentNode).fadeOut(100);   
    $('#memberInfo_edit').css('display', 'block').fadeIn(300); 
    });


    //認證彈窗開關(目前無效) Chris
    $('.forgetPassword').click(function(){
        // $('.wrapper').addClass('blur');
        $(".wrapper:not(.verification)").addClass('blur');  
        $('.verification').removeClass('areaHide').addClass('verifiShow').removeClass('blur');
        $('.ver_submit').click(function(){
        $('.verification').removeClass('verifiShow').addClass('areaHide');
        $('.wrapper').removeClass('blur');
        });
    });
    
    //關閉認證彈窗 Chris
    $('.btn_close').click(function(){
        $('.verification').addClass('areaHide');  
    })

    // 開啟登入註冊寫在header裡
    // 登入註冊切換
    $('#btn_signup').click(function(){
        // $('.wrapper:not(.login)').addClass('blur');
        $(this).addClass('areaShow');
        $('#btn_login').removeClass('areaShow');
        $('#login_block').addClass('areaHide');
        $('#signUp_block').removeClass('areaHide');
        // $('.wrapper').addClass('blur'); //背景毛玻璃
    });

    $('#btn_login').click(function(){
        $(this).addClass('areaShow');
        $('#btn_signup').removeClass('areaShow');
        $('#signUp_block').addClass('areaHide');
        $('#login_block').removeClass('areaHide');
    });

    // 下拉選單
    $('.login_station_arrow').click(function (e) {
        // e.preventDefault();
        $('.login_station_select').toggleClass('on');
    });


    $('#login_station_options li').click(function(){
        let inputColor=document.getElementById('login_station_choice');
        inputColor.value=$(this).text();
        $('.login_station_select').toggleClass('on');
    });

    // 會員註冊-喜好選單開關
    $('.signUp_tag_area').click(function (){
    $('.login_tag_select').toggleClass('on');
    });

    //關閉彈窗, 移除毛玻璃
    $('.btn_close').click(function(){
        $('.wrapper').removeClass('blur');  
    })
</script>

      <!-- 之後可以用vue 參考vue5-->
      <!-- <script>
          new Vue({
              el: '#login_station', 
              data: { //變數放這裡
                stations: ['red','orange','yellow','green','blue','indigo','violet'],
            },
        });
    </script> -->