<!-- Jamie -->
<!-- 商家登入 -->
<div class="popUps login blockBlock" id="storeLogin_popups">
    <div class="form login">

        <!-- 商家頭像 -->
        <div class="loginMemberPic">
            <img src="./img/test_login_memberPic.png" alt="">
        </div>

        <h1 class="login_store_welcome">歡迎加入外||食商家</h1>

        <div class="loginInner">
            <!-- 登入註冊切換區 -->
            <div class="loginSwitch">
                <button type="button" class="toggolebtn areaShow"  id="btn_loginStore"> 登入 </button>
                <button type="button" class="toggolebtn" id="btn_signupStore"> 註冊 </button>

            </div>
            <!-- 商家登入 -->
            <form method="POST" action="./php/Frontend/API/LoginStore.php">
                <div class="inner_block_area" id="login_block"> 
                    <!-- 輸入框欄位 -->
                    <input type="text" placeholder="E-mail" name="storeEmail"/>
                    <input type="text" placeholder="密碼" name="storeTel"/>
                    
                    <!-- 無法登入 -->
                    <div class="forgetPassword">
                        <a href="">忘記密碼? </a>
                    </div>
                </div> 
                    <!-- 單顆按鈕用這裡 -->
                    <div class="btn">
                        <a href="/store_free.html" class="loginStore_link">
                            <input type="submit" value="送出" class="btn_submit signUpStore_link" id="storeSignUp_submit"/>
                        </a>
                    </div>
            </form>
        </div>

    </div>
</div>

<!-- 商家註冊 -->
<div class="popUps store_signUp blockShow" id="store_signUp">
    <form method="POST" action="./php/Frontend/API/storeSignUp.php" class="form storeLogin_signup"  enctype="multipart/form-data" >
        <!-- close button -->
        <button type="button" class="btn_close" id="store_signUp_close">
            <img src="./img/icon/icon_close.png" alt="" />
        </button>

        <h1 class="login_store_welcome">商家資訊</h1>

        <div class="loginInner">
            <!-- 內容區域 -->
            <div>
                <!-- 基本資料 -->
                <section class="store_signUp_basicInfo">
                    <div class="store_signUp_title">
                        <h2>基本資料</h2>
                        <!-- <button class="store_signUp_editIcon"> -->
                        </button>
                    </div>
                    <input type="text" name="store_name" placeholder="輸入餐廳名稱" />
                    <input type="text" name="store_tel"  placeholder="輸入餐廳電話" />
                    <input type="text" name="store_address"  placeholder="輸入餐廳地址" />
                </section>
                <!-- 聯絡資訊 -->
                <section class="store_signUp_basicInfo">
                    <div class="store_signUp_title">
                        <h2>聯絡資訊</h2>
                        <!-- <button class="store_signUp_editIcon"></button> -->
                    </div>
                    <input type="text" name="contact_name"  placeholder="聯絡人" />
                    <input type="text" name="contact_tel"  placeholder="連絡電話" />
                    <input type="text" name="contact_email"  placeholder="E-mail" />
                </section>
                <!-- 進階資料 -->
                <section class="store_signUp_basicInfo">
                    <div class="store_signUp_title">
                        <h2>進階資料</h2>
                    </div>
                    <h2>客單價</h2>
                    <div class="login_price">
                        <input type="text" id="login_price_choice" placeholder="選擇價格區間" class="input" v-model="selectedPrice"/>
                        <!-- 隱藏欄位 -->
                        <input type="hidden" name="price_id" v-model="selectedPriceId" value="price_id"/>
                        <img class="login_price_arrow" src="./img/icon/icon_next_line.png" alt="" @click="price_board_show">
                        <ul class="login_price_select" v-show="close_price_board">
                            <li v-for="price in prices" @click="getPrice(price)" class="br"> {{price.text}} </li>
                        </ul>
                    </div>

                    <h2>鄰近捷運站</h2>
                    <div class="login_store_station">
                        <input type="text" id="login_station_choice" class="input" v-model="selectedStation" placeholder="選擇鄰近站點" disabled/>
                        <!-- 隱藏欄位 -->
                        <input type="hidden" value="station_id"  class="input" v-model="selectedStationId" name="station_id"/>
                        
                        <img class="login_station_arrow" src="./img/icon/icon_next_line.png" alt="" @click="stations_board_show">
                    </div>

                    <h2>選擇關鍵字(最多三個)</h2>
                    <div class="login_tag">
                        <input type="text" placeholder="喜好標籤" disabled v-model="selectedTag" />
                        <!-- 隱藏欄位 -->
                        <input type="hidden" placeholder="喜好標籤" name="tag_id1" v-model="selectedTag1" value="tag_id1"/>
                        <input type="hidden" placeholder="喜好標籤" name="tag_id2"v-model="selectedTag2" value="tag_id2" />
                        <input type="hidden" placeholder="喜好標籤" name="tag_id3" value="tag_id3" v-model="selectedTag3"/>
                        <img class="login_tag_add" src="./img/icon/icon_add_line.png" alt="" @click="tags_board_show">
                    </div>
                </section>
                
                <!-- 商家照片 -->
                <section class="store_signUp_basicInfo">
                    <div class="store_signUp_title">
                        <h2>商家照片</h2>
                        <!-- <button class="store_signUp_editIcon"></button> -->
                    </div>
                    <!-- 照片區
                    -->
                    <div class="store_imgArea">
                        <!-- 主標題 -->
                        <p>檔案格式：JPG、JPEG、PNG</p>
                        <p>檔案容量：3MB以下</p>
                        <p>建議圖片尺寸：640px × 640px</p>
            
                        <div class="store_imgArea_dropArea">
                            <div class="store_imgArea_picEdit">
                                <h3 class="store_imgArea_subtitle">形象海報</h3>
                                <div id="dropZone1" class="store_imgArea_dropZone">
                                    <p class="store_imgArea_dropHere">請將檔案拖放置此</br>或</p>
                                    <img id="store_image1" class="store_imgArea_image">
                                    <div class="picUpload" id="picUpload">
                                        <input type="file" id="theFile1" class="btn_upload store_imgArea_uploadPicButton" value="選擇檔案" name="file[]"/>
                                        <button class="btn_submit btn_uploadCover ">選擇檔案</button>
                                    </div>
                                </div>
                            </div>
                            <div class="store_imgArea_picEdit">
                                <h3 class="store_imgArea_subtitle">店景</h3>
                                <div id="dropZone2" class="store_imgArea_dropZone">
                                    <p class="store_imgArea_dropHere">請將檔案拖放置此</br>或</p>
                                    <img id="store_image2" class="store_imgArea_image">
                                    <div class="picUpload" id="picUpload2">
                                        <input type="file" id="theFile2" class="btn_upload store_imgArea_uploadPicButton" value="選擇檔案" name="file[]"/>
                                        <button class="btn_submit btn_uploadCover ">選擇檔案</button>
                                    </div>
                                </div>
                            </div>
                            <div class="store_imgArea_picEdit">
                                <h3 class="store_imgArea_subtitle">菜單</h3>
                                <div id="dropZone3" class="store_imgArea_dropZone">
                                    <p class="store_imgArea_dropHere">請將檔案拖放置此</br>或</p>
                                    <img id="store_image3" class="store_imgArea_image">
                                    <div class="picUpload" id="picUpload3">
                                        <input type="file" id="theFile3" class="btn_upload store_imgArea_uploadPicButton" value="選擇檔案"  name="file[]"/>
                                        <button class="btn_submit btn_uploadCover ">選擇檔案</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="store_imgArea_dropArea">
                            <div class="store_imgArea_picEdit">
                                <h3 class="store_imgArea_subtitle">餐點照</h3>
                                <div id="dropZone4" class="store_imgArea_dropZone">
                                    <p class="store_imgArea_dropHere">請將檔案拖放置此</br>或</p>
                                    <img id="store_image4" class="store_imgArea_image">
                                    <div class="picUpload" id="picUpload4">
                                        <input type="file" id="theFile4" class="btn_upload store_imgArea_uploadPicButton" value="選擇檔案"  name="file[]"/>
                                        <button class="btn_submit btn_uploadCover ">選擇檔案</button>
                                    </div>
                                </div>
                            </div>
                            <div class="store_imgArea_picEdit">
                                <h3 class="store_imgArea_subtitle">餐點照</h3>
                                <div id="dropZone5" class="store_imgArea_dropZone">
                                    <p class="store_imgArea_dropHere">請將檔案拖放置此</br>或</p>
                                    <img id="store_image5" class="store_imgArea_image">
                                    <div class="picUpload" id="picUpload5">
                                        <input type="file" id="theFile5" class="btn_upload store_imgArea_uploadPicButton" value="選擇檔案"  name="file[]"/>
                                        <button class="btn_submit btn_uploadCover ">選擇檔案</button>
                                    </div>
                                </div>
                            </div>
                            <div class="store_imgArea_picEdit">
                                <h3 class="store_imgArea_subtitle">餐點照</h3>
                                <div id="dropZone6" class="store_imgArea_dropZone">
                                    <p class="store_imgArea_dropHere">請將檔案拖放置此</br>或</p>
                                    <img id="store_image6" class="store_imgArea_image">
                                    <div class="picUpload" id="picUpload6">
                                        <input type="file" id="theFile6" class="btn_upload store_imgArea_uploadPicButton" value="選擇檔案"  name="file[]"/>
                                        <button class="btn_submit btn_uploadCover ">選擇檔案</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>

                <!-- 同意遵守商家守則 -->
                <label class="checkboxArea">
                    <input type="radio" value="confirm"  class="checkbox"/>
                    <span class="checkboxArea_read">已閱讀商家守則，並同意遵守</span>
                </label>
                <!-- 2顆按鈕用這個 -->
                <div class="buttonArea">
                    <input type="" value="取消" class="btn_d btn_cancel" id="store_signUp_back"/>
                    <input type="submit" value="送出" class="btn_submit" />
                </div>
            </div>
        </div>
    </form>
    <!-- 選站點彈窗 -->
    <div class="form storeSignUpPopups" v-show="close_station_board">
        <button type="button" class="btn_close" @click="close_station_board_btn">
            <img src="./img/icon/icon_close.png" alt="" />
        </button>
            <div class="login_station_select" id="login_station_options">                            
            <span v-for="station in redStation" @click="getStation(station)" class="r">
                {{station.text}}</span>
            <span v-for="station in greenStation" @click="getStation(station)" class="g">
                {{station.text}}</span>
            <span v-for="station in blueStation" @click="getStation(station)" class="b">
                {{station.text}}</span>
            <span v-for="station in brownStation" @click="getStation(station)" class="br">
                {{station.text}}</span>
            <span v-for="station in yellowStation" @click="getStation(station)" class="y">
                {{station.text}}</span>
            

        </div>
    </div>
    <!-- 選標籤彈窗 -->
    <div class="form storeSignUpPopups login_tag_select" id="login_tag_select" v-show="close_tags_board">
        <button type="button" class="btn_close" @click="close_tags_board_btn">
            <img src="./img/icon/icon_close.png" alt="" />
        </button>
            <div class="login_station_select" id="login_station_options">                            
            <span v-for="tag in tags" @click="getTags(tag)">#{{tag.text}}</span>
        </div>
    </div>

</div>
<script>
    new Vue({
        el: '#store_signUp',
        data: {
            prices: [
            { text :'<$150',value:1},
            { text :'$151 ~ $500', value:2},
            { text :'$501 ~ $1000', value:3},              
            ],
            selectedPrice: '',
            selectedPriceId: '',
            price: '',
            redStation: [
                { text :'東門',value:1},
                { text :'台北101', value:2},
                { text :'劍潭', value:3},
                { text :'淡水', value: 4},
                { text :'圓山', value: 5},
                { text :'台北車站', value: 6},
                { text :'信義安和', value: 7},
                { text :'大安森林公園', value: 8},
            ],
            greenStation: [
                { text :'景美',value:9},
                { text :'公館', value:10},
                { text :'台電大樓', value:11},
                { text :'中正紀念堂', value: 12},
                { text :'中山', value: 13},
                { text :'南京復興', value: 14},
                { text :'南京三民', value: 15},
                { text :'松山', value: 16},
            ],
            blueStation: [
                { text :'市政府',value:17},
                { text :'忠孝敦化', value:18},
                { text :'國父紀念館', value:19},
                { text :'板橋', value: 20},
                { text :'新埔', value: 21},
                { text :'府中', value: 22},
                { text :'龍山寺', value: 23},
            ],
            brownStation: [
                { text :'東湖',value: 24},
                { text :'西湖', value: 25},
                { text :'港墘', value: 26},
                { text :'大直', value: 27},
                { text :'中山國中', value: 28},
                { text :'六張犁', value: 29},
                { text :'萬芳社區', value: 30},
            ],
            yellowStation: [
                { text :'頂溪',value: 31},
                { text :'南京松江', value: 32},
                { text :'忠孝新生', value: 33},
                { text :'台北橋', value: 34},
                { text :'徐匯中學', value: 35},
                { text :'新莊', value: 36},
            ],
            selectedStation: '',
            selectedStationId: '',
            station: '',
            tags:[
            { text :'日式',value:1},
            { text :'韓式', value:2},
            { text :'美式', value:3},
            { text :'義式', value: 4},
            { text :'台式', value: 5},
            { text :'法式', value: 6},
            { text :'中式', value: 7},
            { text :'聚餐', value: 8},  
            { text :'簡餐',value:9},
            { text :'銅板美食', value:10},
            { text :'下午茶', value:11},
            { text :'早午餐', value: 12},
            { text :'商業午餐', value: 13},
            { text :'夜市', value: 14},
            { text :'雞排', value: 15},
            { text :'咖哩', value: 16},  
            { text :'火鍋',value:17},
            { text :'牛排', value:18},
            { text :'咖啡店', value:19},
            { text :'甜點', value: 20},
            { text :'鐵板燒', value: 21},
            { text :'麵食', value: 22},
            { text :'鹽酥雞', value: 23},
            { text :'手搖飲',value: 24},
            { text :'餐酒館', value: 25},
            { text :'拉麵', value: 26},
            ],
            tag: '',
            selectedTag:[],
            selectedTag1: null,
            selectedTag2: null,
            selectedTag3: null,
            close_station_board: false,
            close_tags_board: false,
            close_price_board: false,
            account: '',
            password: '',
            account_login: true,
            password_login: true,
            email_login: true,
            email: '',
            account_register: '',
            password_register: '',
            account_register_msg: true,
            password_register_msg: true,
        },
        watch: {
            account: function () {
                var isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                if (!isText.test(this.account) && this.account.length > 10) {
                    this.account_login = false;
                } else {
                    this.account_login = true;
                }
            },
            password: function () {
                if (this.password.length < 6) {
                    this.password_login = false;
                } else {
                    this.password_login = true;
                }
            },
            email: function () {
                var isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                if (!isText.test(this.email) && this.email.length > 10) {
                    this.email_login = false;
                } else {
                    this.email_login = true;
                }
            },
            account_register: function () {
                var isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                if (!isText.test(this.account_register) && this.account_register.length > 10) {
                    this.account_register_msg = false;
                } else {
                    this.account_register_msg = true;
                }
            },
            password_register: function () {
                if (this.password_register.length < 6) {
                    this.password_register_msg = false;
                } else {
                    this.password_register_msg = true;
                }
            },
        },
        methods: {
            getPrice(price){
                this.selectedPrice = price.text;
                this.selectedPriceId = price.value;
                this.close_price_board = false;
            },
            price_board_show(){
                this.close_price_board = !this.close_price_board;
            },
            close_price_board_btn(){
                this.close_price_board = !this.close_price_board;
            },
            getStation(station){
                this.selectedStation = station.text;
                this.selectedStationId = station.value;
                this.close_station_board = false;
            },
            stations_board_show(){
                this.close_station_board = !this.close_station_board;
                this.close_tags_board = false;
            },
            close_station_board_btn(){
                this.close_station_board = !this.close_station_board;
            },
            getTags(tag){
                if(this.selectedTag.includes(tag.text)){
                    return false
                 }
                if(this.selectedTag.length >= 3){
                    this.selectedTag.pop(tag.text);
                }                  
                this.selectedTag.unshift(tag.text); 
                this.selectedTag1 = this.selectedTag[0];
                this.selectedTag2 = this.selectedTag[1];
                this.selectedTag3 = this.selectedTag[2];
            },
            tags_board_show(){
                this.close_tags_board = !this.close_tags_board;
                this.close_station_board = false;
            },
            close_tags_board_btn(){
                this.close_tags_board = !this.close_tags_board;
            },
        },
        computed: {},
    })
</script>