<!-- Jamie -->
<div id="app">
    <!-- 登入註冊彈窗 -->
    <div class="popUps login" id="memberLogin_popups">
        <!--Chris-->
        <form method="POST" action="../dist/php/Frontend/API/Member_Login.php" class="form login">
            <!-- 會員頭像 -->
            <div class="loginMemberPic">
                <img src="./img/test_login_memberPic.png" alt="">
            </div>
            <div class="loginInner">
                <!-- 登入註冊切換區 -->
                <div class="loginSwitch">
                    <button type="button" class="toggolebtn areaShow" id="btn_login"> 登入 </button>
                    <button type="button" class="toggolebtn" id="btn_signup"> 註冊 </button>
                </div>
                <!-- 內容區域 -->
                <div>
                    <!-- 放登入的東西 -->
                    <div class="inner_block_area" id="login_block">
                        <form>
                            <!-- 輸入框欄位 -->
                            <input v-model="account" type="email" placeholder="E-mail" autocomplete="off" required
                                name="member_email_input" />
                            <p v-if="!account_login">信箱格式錯誤</p>
                            <input v-model="password" type="password" placeholder="密碼" autocomplete="off" required
                                name="member_password_input" />
                            <p v-if="!password_login">密碼長度需高於6個字元</p>
                            <!-- 單顆按鈕用這裡 -->
                            <div class="btn">
                                <a href="./index.html" class="loginMember_link">
                                    <input type="submit" value="送出" class="btn_submit loginMember_link"
                                        id="memberLogin_submit" />
                                </a>
                            </div>
                        </form>
                        <!-- 無法登入 -->
                        <div class="forgetPassword" @click="open_forgetPassword_verification">
                            <span>忘記密碼?</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form method="POST" action="../dist/php/Frontend/API/Member_join.php" class="form login join_form">
            <div class="loginInner">
                <!-- 放註冊的東西 -->
                <div class="inner_block_area areaHide" id="signUp_block">
                    <!-- 輸入框欄位 -->
                    <input v-model="account_register" type="email" placeholder="E-mail" autocomplete="off" required
                        name="member_email_input" />
                    <p v-if="!account_register_msg">信箱格式錯誤</p>
                    <input v-model="password_register" type="password" placeholder="密碼" autocomplete="off" required
                        name="member_password_input" />
                    <p v-if="!password_register_msg">密碼長度需高於6個字元</p>
                    <!-- 常去站點 -->
                    <div class="login_station">
                        <input type="text" id="login_station_choice" class="input" v-model="selectedStation"
                            name="station_input" placeholder="選擇最愛站點" disabled>
                        <img class="login_station_arrow" src="./img/icon/icon_next_line.png" alt="" @click="stations_board_show">
                    </div>
                    <!-- 喜好標籤 -->
                    <div class="login_tag">
                        <input type="text" placeholder="喜好標籤" disabled="disabled" name="tag_input" v-model="selectedTag"/>
                        <button class="signUp_tag_area">
                            <img class="login_tag_add" src="./img/icon/icon_add_line.png" alt="" @click="tags_board_show">
                        </button>
                    </div>
                    <!-- 單顆按鈕用這裡 -->
                    <div class="btn">
                        <a href="./index.html" class="loginMember_link">
                            <input type="submit" value="送出" class="btn_submit signUpMember_link"
                                id="memberSignUp_submit" />
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <!-- 選站點彈窗 -->
        <div class="form form_station_board" v-show="close_station_board">
            <button type="button" class="btn_close" @click="close_station_board_btn">
                <img src="./img/icon/icon_close.png" alt="" />
            </button>
             <div class="login_station_select" id="login_station_options">                            
                <span v-for="station in blueStation" @click="getStation(station)" class="b">{{station}}</span>
                <span v-for="station in redStation" @click="getStation(station)" class="r">{{station}}</span>
                <span v-for="station in greenStation" @click="getStation(station)" class="g">{{station}}</span>
                <span v-for="station in brownStation" @click="getStation(station)" class="br">{{station}}</span>
                <span v-for="station in yellowStation" @click="getStation(station)" class="y">{{station}}</span>
            </div>
        </div>
        <!-- 選喜好彈窗 -->
        <div class="form form_tag_board login_tag_select" id="login_tag_select" v-show="close_tags_board">
            <button type="button" class="btn_close" @click="close_tags_board_btn">
                <img src="./img/icon/icon_close.png" alt="" />
            </button>
             <div class="login_station_select" id="login_station_options">                            
                <span v-for="tag in tags" @click="getTags(tag)">#{{tag}}</span>
            </div>
        </div>
        <!-- 認證彈窗verification -->
        <div class="popUps verification" v-show="forgetPassword_verification">
            <form method="POST" action="../php/Frontend/API/loginCheck.php" class="form form_forgotpassword">
                <!-- close button -->
                <button type="button" class="btn_close" @click="close_forgetPassword_verification">
                    <img src="./img/icon/icon_close.png" alt="" />
                </button>
                <!-- logo -->
                <div class="verification_logo">
                    <img src="./img/logo.png">
                </div>
                <h1>我們需要驗證您的身份</h1>
                <div>
                    <!-- 輸入框欄位 -->
                    <input v-model="email" type="email" placeholder="輸入原註冊E-mail" autocomplete="off" required />
                    <p v-if="!email_login">信箱格式錯誤</p>
                    <!-- 單顆按鈕用這裡 -->
                    <div class="btn">
                        <input type="submit" value="寄送認證" class="btn_submit ver_submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            blueStation: ['市政府', '忠孝敦化', '國父紀念館', '板橋', '新埔', '府中', '龍山寺'],
            redStation: ['淡水', '劍潭', '圓山', '台北車站', '東門', '大安森林公園', '信義安和', '台北101'],
            greenStation: ['松山', '南京三民', '南京復興', '中山', '中正紀念堂', '台電大樓', '公館', '景美'],
            brownStation: ['東湖', '西湖', '港墘', '大直', '中山國中', '六張犁', '萬芳社區'],
            yellowStation: ['頂溪', '南京松江', '忠孝新生', '台北橋', '徐匯中學', '新莊'],
            selectedStation: '',
            station: '',
            tags:['日式','韓式','美式','義式','台式','法式','中式','夜市','商業午餐','早午餐','下午茶','銅板美食','簡餐','聚餐','餐酒館','咖啡店','甜點','麵食','鹽酥雞','雞排','咖哩','火鍋','牛排','拉麵','鐵板燒'],
            tag: '',
            selectedTag:[],
            close_station_board: false,
            close_tags_board: false,
            account: '',
            password: '',
            account_login: true,
            password_login: true,
            forgetPassword_verification: false,
            email_login: true,
            email: '',
            account_register: '',
            password_register: '',
            account_register_msg: true,
            password_register_msg: true,
        },
        watch: {
            account: function () {
                var isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                if (!isText.test(this.account) && this.account.length > 10) {
                    this.account_login = false;
                } else {
                    this.account_login = true;
                }
            },
            password: function () {
                if (this.password.length < 6) {
                    this.password_login = false;
                } else {
                    this.password_login = true;
                }
            },
            email: function () {
                var isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                if (!isText.test(this.email) && this.email.length > 10) {
                    this.email_login = false;
                } else {
                    this.email_login = true;
                }
            },
            account_register: function () {
                var isText = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/;
                if (!isText.test(this.account_register) && this.account_register.length > 10) {
                    this.account_register_msg = false;
                } else {
                    this.account_register_msg = true;
                }
            },
            password_register: function () {
                if (this.password_register.length < 6) {
                    this.password_register_msg = false;
                } else {
                    this.password_register_msg = true;
                }
            },
        },
        methods: {
            open_forgetPassword_verification(){
                this.forgetPassword_verification = !this.forgetPassword_verification;
            },
            close_forgetPassword_verification(){
                this.forgetPassword_verification = !this.forgetPassword_verification;
            },
            getStation(station){
                this.selectedStation = station;
                this.close_station_board = false;
            },
            stations_board_show(){
                this.close_station_board = !this.close_station_board;
                this.close_tags_board = false;
            },
            close_station_board_btn(){
                this.close_station_board = !this.close_station_board;
            },
            getTags(tag){
                if(this.selectedTag.length < 3){
                    this.selectedTag.unshift(tag);
                }else{    
                    this.selectedTag.pop(tag);
                    this.selectedTag.unshift(tag);
                }
            },
            tags_board_show(){
                this.close_tags_board = !this.close_tags_board;
                this.close_station_board = false;
            },
            close_tags_board_btn(){
                this.close_tags_board = !this.close_tags_board;
            },
        },
        computed: {},
    })
</script>