<!-- 複製到要用的地方 -->
<div class="popUps">
  <form action="#資料傳送送的網址" method="post" class="form">
    <!-- close button -->
    <button type="button" class="btn_close">
      <img src="./img/icon_close.png" alt="">
    </button>
  
    <!-- 主標題 -->
    <h1>
      主標題 
    </h1>
  
    <!-- 副標題 --> 
    <h2>
      副標題
    </h2>
  
    <!-- 輸入框欄位 -->
    <input type="text" placeholder="這是提示文字">
    <input type="text" placeholder="這是提示文字">
    <input type="text" placeholder="這是提示文字">
    <input type="text" placeholder="這是提示文字">
    <input type="text" placeholder="這是提示文字">
    <input type="text" placeholder="這是提示文字">
    <input type="text" placeholder="這是提示文字">
    
    <!-- 單顆按鈕用這裡 -->
    <input type="submit" value="送出" class=" btn_submit">
    <br>
    <!-- 2顆按鈕用這個 -->
    <div class="buttonArea">
      <input type="submit" value="左邊" class=" btn_d btn_submit">
      <input type="submit" value="右邊" class=" btn_d btn_submit">
    </div>
  </form>
</div>

