<!-- 複製到要用的地方 -->
<!-- 最外層的 class="star(這個不要動) index_star(改成頁面_Star)" -->
<!-- 棠:拍立得頁 最外層的 class="index_star" 改成"myPhoto_star" -->


<div class="star"> 
    <label class="star-item" for="item01" title="廚餘"></label>
    <!--初始狀態-->
    <input type="radio" name="item" id="item01" checked />
    <label class="star-item" for="item02" title="很差"></label>
    <input type="radio" name="item" id="item02" />
    <label class="star-item" for="item03" title="一般"></label>
    <input type="radio" name="item" id="item03" />
    <label class="star-item" for="item04" title="好吃"></label>
    <input type="radio" name="item" id="item04" />
    <label class="star-item" for="item05" title="完美"></label>
    <input type="radio" name="item" id="item05" />
</div>