<!-- 商家升級的header -->
<section class="upgradeHeaderMyPhoto">
    <ul class="upgradeHeaderMyPhoto_area" id="pho_Step">
        <li class="upgradeHeaderMyPhoto_areaList">
            <a href="#">
                <div class="upgradeHeaderMyPhoto_step">
                    <h6 class="upgradeHeaderMyPhoto_stepNo">1</h6>
                    <div class="upgradeHeaderMyPhoto_text"><p>選擇背景</p>
                        <img src="./img/tang/Icon feather-file.png" alt="" class="upgradeHeaderMyPhoto_text_img">
                    </div>
                </div>
                <div class="upgradeHeaderMyPhoto_bg"></div>
                <!-- <div :class="greenCircle"></div> -->
            </a>
        </li>

        <li class="upgradeHeaderMyPhoto_areaList" >
            <a href="#">
                <div class="upgradeHeaderMyPhoto_step">
                    <h6 class="upgradeHeaderMyPhoto_stepNo">2</h6>
                    <div class="upgradeHeaderMyPhoto_text">
                        <p>新增角色</p>
                        <img src="./img/tang/Icon et.png" alt="" class="upgradeHeaderMyPhoto_text_img">
                    </div>
                </div>
                <div class="upgradeHeaderMyPhoto_bg"></div>
                <!-- <div :class="greenCircle1"></div> -->
            </a>
        </li>

        <li class="upgradeHeaderMyPhoto_areaList" >
            <a href="#">
                <div class="upgradeHeaderMyPhoto_step">
                    <h6 class="upgradeHeaderMyPhoto_stepNo">3</h6>
                    <div class="upgradeHeaderMyPhoto_text">
                        <p>編輯文章</p>
                        <img src="./img/tang/Icon pic.png" alt="" class="upgradeHeaderMyPhoto_text_img">
                    </div>
                </div>
                <div class="upgradeHeaderMyPhoto_bg"></div>
                <!-- <div :class="greenCircle2"></div> -->
            </a>
        </li>
    </ul>
</section>