<!-- 商家升級的header -->
<section class="upgradeHeader">
    <ul class="upgradeHeader_area">
        <li class="upgradeHeader_areaList">
            <a href="./store_upgrade_option.html">
                <div class="upgradeHeader_step">
                    <h6 class="upgradeHeader_stepNo">1</h6>
                    <div class="upgradeHeader_text">選擇方案
                    </div>
                </div>
                <div class="upgradeHeader_bg"></div>
            </a>
        </li>

        <li class="upgradeHeader_areaList" >
            <a href="./store_upgrade_info.html">
                <div class="upgradeHeader_step">
                    <h6 class="upgradeHeader_stepNo">2</h6>
                    <div class="upgradeHeader_text">資料確認
                    </div>
                </div>
                <div class="upgradeHeader_bg"></div>
            </a>
        </li>

        <li class="upgradeHeader_areaList" >
            <a href="./store_upgrade_complete.html">
                <div class="upgradeHeader_step">
                    <h6 class="upgradeHeader_stepNo">3</h6>
                    <div class="upgradeHeader_text">升級完成
                    </div>
                </div>
                <div class="upgradeHeader_bg"></div>
            </a>
        </li>
    </ul>
</section>