//jamie的
//顏色們
$color: #6c584c; //文字棕 
$yellow: #ffd700; //品牌黃
$green: #c5ca4a; //品牌綠
$lightgreen: #fbffe8; //輸入框綠
$bgc: #fffdd0; //背景黃

$mrtRed: #f98072; //捷運紅, 淡水線 249, 128, 114
$mrtBrown: #a58d64; //捷運棕, 木柵線 165,141,100
$mrtYellow: #ffc33e; //捷運黃(橘), 南勢角線255, 195, 62
$mrtGreen: #7baa85; //捷運綠, 松山線123, 170, 133
$mrtBlue: #7083e2; //捷運藍, 板南線 112, 131,226

$tp: transparent; //透明

$colorTp: rgba(108,88,76,0.2); //氣質線用, 半透明棕
