//jamie的
//顏色們
$color: #6c584c; //文字棕
$yellow: #ffd700; //品牌黃
$green: #c5ca4a; //品牌綠
$lightgreen: #fbffe8; //輸入框綠
$bgc: #fffdd0; //背景黃

$mrtRed: #f98072; //捷運紅, 淡水線
$mrtBrown: #a58d64; //捷運棕, 木柵線
$mrtRed: #ffc33e; //捷運黃(橘), 南勢角線
$mrtGreen: #7baa85; //捷運綠, 松山線
$mrtBlue: #7083e2; //捷運藍, 板南線

$tp: transparent; //透明
