//jamie的
//顏色們
$color : #6C584C; //文字棕
$yellow : #FFD700; //品牌黃
$green : #C5CA4A; //品牌綠
$lightgreen : #FBFFE8; //輸入框綠
$bgc : #FFFDD0; //背景黃

$mrtRed : #F98072; //捷運紅, 淡水線
$mrtBrown : #A58D64; //捷運棕, 木柵線
$mrtRed : #FFC33E; //捷運黃(橘), 南勢角線
$mrtGreen : #7BAA85; //捷運綠, 松山線
$mrtBlue : #7083E2; //捷運藍, 板南線

$tp : transparent; //透明

