//全域用的，改了要註記!!
*{
    box-sizing: border-box; //外框大小
    color: $color;
    font-size: $fontSize;
    line-height: 30px;
    font-family: Arial;
}

body {
    position: relative;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

a {
    font-size: $fontSizeLink;
    cursor: pointer;
    transition: 0.5 ease-in-out;
    text-decoration: none;
    color: $color;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: $fontSize_Title;
    font-weight: bold;
    color: $color;
}

img {
    max-width: 100%;
}

//毛玻璃
.blur {
    filter: blur(3px);
    transition: 3s;
}

ul {
    margin: 0;
    padding-left: 0px;
}

li {
    list-style: none;
}

//輸入框
.input {
    line-height: 36px;
    font-size: $fontSizeLink;
    background-color: $lightgreen;
}

